*,
*:before,
*:after {
    box-sizing: border-box;
}
html {
    overflow-y: scroll;
    height: 100%;
}
body {
    background-image: linear-gradient(to top, rgba(48, 54, 57, 1.2), rgba(48, 54, 57, 0.2)), url("../images/finalbg.jpg");
    font-family: 'Titillium Web', sans-serif;
    padding: 0;
    margin: 0;
    display: inline-block;
    height: 100%;
    width: 100%;
}
a {
    text-decoration: none;
    color: #1ab188;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
a:hover {
    color: #179b77;
}
.LoginForm {
    padding: 29px;
    border-radius: 4px;
}
.tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}
.tab-group:after {
    content: "";
    display: table;
    clear: both;
}
.tab-group li a {
    display: block;
    text-decoration: none;
    padding: 10px;
    background: rgba(160, 179, 176, 0.25);
    color: #fff;
    font-size: 14px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
.tab-group li a:hover {
    background: #179b77;
    color: #ffffff;
}
.tab-group .active a {
    background: #1ab188;
    color: #ffffff;
}
h1 {
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    margin: 0 0 20px;
    font-size: 24px;
}
label {
    position: absolute;
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    left: 13px;
    color: rgba(255, 255, 255, 0.81);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 16px;
    top: 4px;
}
label .req {
    margin: 2px;
    color: #1ab188;
}
label.active {
    -webkit-transform: translateY(39px);
    transform: translateY(39px);
    left: 2px;
    font-size: 14px;
}
label.active .req {
    opacity: 0;
}
label.highlight {
    color: #ffffff;
}
input,
textarea,select {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: #ffffff;
    border-radius: 0;
    -webkit-transition: border-color .25s ease, box-shadow .25s ease;
    transition: border-color .25s ease, box-shadow .25s ease;
}
select{
    color: white !important;
    font-size: 16px !important;
}
option{
    color: black;
}
input:focus,
textarea:focus {
    outline: 0;
    border-color: #1ab188;
}
textarea {
    border: 2px solid #a0b3b0;
    resize: vertical;
}
.field-wrap {
    position: relative;
    margin-bottom: 30px;
}
.top-row:after {
    content: "";
    display: table;
    clear: both;
}
.top-row > div {
    float: left;
    width: 48%;
    margin-right: 4%;
}
.top-row > div:last-child {
    margin: 0;
}
.button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #1ab188;
    color: #ffffff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;
}
.button:hover,
.button:focus {
    background: #179b77;
}
.button-block {
    display: block;
    width: 100%;
}
.buttonlogin {
    border: 0;
    outline: none;
    border-radius: 7px;
    padding: 11px 10px;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .1em;
    background: none;
    color: #ffffff;
    margin: 10px;
    width: 37%;
    border: 2px solid #fff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;
}
.forgot {
    margin-top: -20px;
    text-align: right;
}
.bottomfooter {
    bottom: 0;
    position: absolute;
    width: 100%;
    text-align: center;
}
.colorWhite {
    color: white;
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlayTarget {
    visibility: visible !important;
    opacity: 1 !important;
}
.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}
.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top: 0px;
    right: 10px;
    transition: all 200ms;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #06D85F;
}
.popup .content {
    max-height: 30%;
    overflow: auto;
    margin-top: 20px;
}
.buttonOTP {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 10px 0;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #e84917;
    color: #ffffff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;
    display: block;
    width: 100%;
    margin-top: 30px;
}
@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }
    .popup {
        width: 70%;
    }
}

/*//loader*/

#mask
{
margin:0px;
padding:0px;
background:#000;
opacity:0.8;
height:100%;
width:100%;
left:0%;
top:0%;
position:fixed;
z-index:9999;}
#loader-wrapper .logo {
  position: absolute;
  top: 46%;
  left: 31.5%;
  right:32%;
  text-align:center;
}
#loader-wrapper .logo a {
  font-weight: 700;
  color: #3498DB;
  font-size: 12px;
}
.logo span {
  color: #f85654;
}
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;  
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f85654;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
@-webkit-keyframes spin {
    0%   { 
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   { 
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

.DispNone{display: none;}

.headerLogo{color: #fff;display: inline-block;font-family: sans-serif;font-size: 16px;margin-bottom: 13px;margin-top: 13px;width: 50%;}
.headerMenu{color: #fff;display: inline-block;font-family: sans-serif;font-size: 16px;margin-bottom: 13px;margin-top: 13px;width: 40%;text-align: right;}
#header{background:rgba(49, 57, 71, 1) none repeat scroll 0 0;}
.cam-header { background: rgba(49,77,99,0); min-height: 30px;width: 100%;font-size: 10px; z-index: 999;}
/*Menu Css*/
#cd-menu-trigger .cd-menu-icon{display:inline-block;position:absolute;left:50%;top:50%;bottom:auto;right:auto;-webkit-transform:translateX(-50%) translateY(-50%);-moz-transform:translateX(-50%) translateY(-50%);-ms-transform:translateX(-50%) translateY(-50%);-o-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%);width:18px;height:2px;background-color:#f05a28;margin: 5px;}
#cd-menu-trigger .cd-menu-icon::before,#cd-menu-trigger .cd-menu-icon:after{content:'';width:100%;height:100%;position:absolute;background-color:inherit;left:0;width: 28px;}
#cd-menu-trigger .cd-menu-icon::before{bottom:8px}
#cd-menu-trigger .cd-menu-icon::after{top:8px}
#cd-lateral-nav{position:fixed;height:100%;right:0;top:inherit;bottom:0;visibility:hidden;z-index:9999;width:260px;background-color:#fff;overflow-y:auto;-webkit-transform:translateZ(0);-webkit-backface-visibility:hidden;-webkit-transition:-webkit-transform .4s 0s,visibility 0s .4s;-moz-transition:-moz-transform .4s 0s,visibility 0s .4s;transition:transform .4s 0s,visibility 0s .4s;-webkit-transform:translateX(260px);-moz-transform:translateX(260px);-ms-transform:translateX(260px);-o-transform:translateX(260px);transform:translateX(260px)}
#cd-lateral-nav .sub-menu{display:none;background-color:#2D2C2C}

#cd-lateral-nav.lateral-menu-is-open{background: #fff none repeat scroll 0 ;-webkit-transform:translateX(0);-moz-transform:translateX(0);-ms-transform:translateX(0);-o-transform:translateX(0);transform:translateX(0);visibility:visible;-webkit-transition:-webkit-transform .4s 0s,visibility 0s 0s;-moz-transition:-moz-transform .4s 0s,visibility 0s 0s;transition:transform .4s 0s,visibility 0s 0s;-webkit-overflow-scrolling:touch;font-family: sans-serif;}
.menuOverlay{display:none; width:100%; height:100%; position:fixed; top:0; bottom:0; right:0; left:0; background:rgba(0, 0, 0, 0.6); z-index: 9999;}
.navUL { display: inline-block; width: 100%;margin-left: -23px;}
.navUL li, .profileUL li { display:block; position: relative; width: 100%;line-height: 40px;border-bottom: 1px solid #ccc;}
.navUL li a, .profileUL li a {font-family:sans-serif !important;font-weight: 600; font-size: 16px; text-decoration:none; display:inline-block;}
.navUL li a:hover, .navUL li a.active { font-weight: 600; }
.navUL li ul { display: none; border-top: 1px solid #ebecec; border-bottom: 1px solid #ebecec; background: #f6f7f7; }
.navUL li ul a { padding: 11px 0 0 51px; border-left: 4px solid transparent; }
.navUL li ul a:hover, .navUL li ul a.active {border-left: 4px solid #ef3f30; }
.navUL li .nestedUL li a:hover, .navUL li .nestedUL li a.open { border-left:4px solid red; font-weight:bold; background:#fff; }
.navUL li a span.nav-drop { position: absolute; right: 10px; top: 15px; font-size: 20px; color: #565a5c; }
.navUL li a:hover span.nav-drop { color: #1a1a1a; }
.navUL li a.sept-nav-list { padding: 15px 0 0 55px; color: #82888b; height: 36px; }

div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    margin-top: 10px;
}

div.scrollmenu li {
      display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 8px;
    text-decoration: none;
    font-size: 14px;
}
div.scrollmenu li a{
    color: #fff;
}

.activeTab{ background-color: #777;}


::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important; 
    -webkit-border-radius: 10px !important;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(216, 207, 207, 0.84);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
 .BalanceDiv{ width: 50%;
    height: 32px;
    padding-top: 7px;
    background: rgba(241, 67, 12, 0.78);
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    padding-left: 5%;}   
 