@charset "utf-8";
body{margin: 0;padding: 0;    overflow-x: hidden;}

@font-face {
    font-family: 'mbk_web_font';
    src: url("../fonts/mbk_web_font.eot?-xxxwp6");
    src: url("../fonts/mbk_web_font.eot?#iefix-xxxwp6") format("embedded-opentype"), url("../fonts/mbk_web_font.ttf?-xxxwp6") format("truetype"), url("../fonts/mbk_web_font.woff?-xxxwp6") format("woff"), url("../fonts/mbk_web_font.svg?-xxxwp6#mbk_web_font") format("svg");
    font-weight: normal;
    font-style: normal
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: 'mbk_web_font';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

span::before, a::before, em::before, u::before {
   display: block;
    font-family: "mbk_web_font";
    font-size: 25px;
    font-style: normal;
}

span.icodatacard:before,
span.icodatacardprepaid:before,
span.icodatacardpostpaid:before,
i.icodatacard:before,
i.icodatacardprepaid:before,
i.icodatacardpostpaid:before,
a.icodatacard:before,
a.icodatacardprepaid:before,
a.icodatacardpostpaid:before,
em.icodatacard:before,
em.icodatacardprepaid:before,
em.icodatacardpostpaid:before,
u.icodatacard:before,
u.icodatacardprepaid:before,
u.icodatacardpostpaid:before {
    content: "c";
    font-weight:bold;
}

span.icooperator:before,
i.icooperator:before,
a.icooperator:before,
em.icooperator:before,
u.icooperator:before {
    content: "T"
}

span.icodth:before,
i.icodth:before,
a.icodth:before,
em.icodth:before,
u.icodth:before {
    content: "b";
    font-weight:bold;
}

span.icomobile:before,
span.icoprepaid:before,
span.icopostpaid:before,
i.icomobile:before,
i.icoprepaid:before,
i.icopostpaid:before,
a.icomobile:before,
a.icoprepaid:before,
a.icopostpaid:before,
em.icomobile:before,
em.icoprepaid:before,
em.icopostpaid:before,
u.icomobile:before,
u.icoprepaid:before,
u.icopostpaid:before {
    content: "a"
}

span.icofacebook-filled:before, i.icofacebook-filled:before, a.icofacebook-filled:before, em.icofacebook-filled:before, u.icofacebook-filled:before {
    content: "™";
}
span.icogplus-filled:before, i.icogplus-filled:before, a.icogplus-filled:before, em.icogplus-filled:before, u.icogplus-filled:before {
    content: "‰";
}

span.icocashpay:before, i.icocashpay:before, a.icocashpay:before, em.icocashpay:before, u.icocashpay:before {
    content: "C";
    font-size: 34px;
}

span.icoprofile-fill:before, i.icoprofile-fill:before, a.icoprofile-fill:before, em.icoprofile-fill:before, u.icoprofile-fill:before {
    content: "m";
}
.headerLogo{color: #fff;display: inline-block;font-family: sans-serif;font-size: 16px;margin-bottom: 13px;margin-top: 13px;width: 50%;}
.headerMenu{color: #fff;display: inline-block;font-family: sans-serif;font-size: 16px;margin-bottom: 13px;margin-top: 13px;width: 40%;text-align: right;}
#header{background:rgba(49, 57, 71, 1) none repeat scroll 0 0;}
.cam-page {overflow:hidden;position:relative; min-height: 44px;z-index: 999;}
.cam-main {position:relative;}
.cam-page .cam-pad-l-r{ padding: 0 1em;}
.cam-header { background: rgba(49,77,99,0); position:absolute; min-height: 30px;width: 100%;font-size: 10px; z-index: 999;}
.title_circle{border-radius: 50%;height: 50px;margin: auto;padding: 10px;width: 50px;text-align: center;}
/*.mobileBack{background: #3fa7ba none repeat scroll 0% 0%;}
.dthBack{background: #4DB6AC none repeat scroll 0% 0%;}
.dataBack{background: #00897B none repeat scroll 0% 0%}*/
.move-up{top: 0px !important;font-size: 11px !important;}
.active-bg{display:block !important;}
.topbackground-wrp{background: rgba(0, 0, 0, 0) url("../images/finalbgwap.jpg") no-repeat scroll 0 0 / 100% 220px;transition:ease-out 4s all;}
.topbackground.mobile-bg{padding: 65px 0 32px;transition:ease-out 4s all;}
.topbackground.dth-bg{padding: 65px 0 93px;transition:ease-out 4s all;}
.topbackground.datacard-bg {padding: 65px 0 93px;transition:ease-out 4s all;}
.Hight100P{height: 100%;}
.topbackground.mobile-bg .title_circle{background: #3fa7ba none repeat scroll 0% 0%;}
.topbackground.dth-bg .title_circle{background: #4DB6AC none repeat scroll 0% 0%;}
.topbackground.datacard-bg .title_circle{background: #00897B none repeat scroll 0% 0%;}

.info-box-top{vertical-align: top;width: 73%;display: inline-block;text-align: left;float: right}
.info-box-top h1{  padding: 0;color: #212121;font-size: 26px; margin: 10px; font-weight: 300;}
.appinstallbutton{ margin-left: 12px;     margin-top: -45px; width: 154px; height: 42px; margin-bottom: 10px;font-size: 18px;font-weight: 300;color: #fff;background: #689f38; border: 1px solid #ccc;  box-shadow: 2px 1px 2px rgba(0,0,0,0.05);}
 .appinstallbutton a{   padding: 10px; text-align: center; display: block; text-decoration: none; color: #fff;}
.cam_charger_box .slick-slide{margin-bottom:20px;}
.cam_charger_box  .slick-dots-wrp > .slick-dots-wrp{left: 0;margin: 0 auto;overflow-x: hidden; position: absolute;right: 0;bottom: 37px;}
.cam_charger_box .slick-dots {white-space: nowrap;}
.cam_charger_box .slick-dots li {display: inline-block;width: auto;}
.cam_charger_box .slick-dots li:nth-child(1) > button::after {content: "MOBILE";}
.cam_charger_box .slick-dots li:nth-child(2) > button::after {content: "DTH";}
.cam_charger_box .slick-dots li:nth-child(3) > button::after {content: "DATACARD";}
.cam_charger_box .slick-dots li:nth-child(4) > button::after {content: "ADD MONEY";}
.cam_charger_box .slick-dots .slick-active > button::after {color: #fff;font-weight: bold;}
.cam_charger_box .slick-dots li > button::after {border: 0 none;color: #D4C6C6;font-size: 12px;font-weight: bold;outline: medium none;padding: 0 12px;text-transform: uppercase;}
.cam_charger_box .slick-dots li:first-child.slick-active > button {border-bottom: 2px solid #3fa7ba !important;}
.cam_charger_box .slick-dots li:nth-child(2).slick-active > button {border-bottom: 2px solid #4DB6AC !important;}
.cam_charger_box .slick-dots li:nth-child(3).slick-active > button {border-bottom: 2px solid #00897B !important;}
.cam_charger_box .slick-dots li:nth-child(4).slick-active > button {border-bottom: 2px solid #00897B !important;}
.cam_charger_box .slick-dots li > button {background: rgba(0, 0, 0, 0) none repeat scroll 0 0;border-image: none;border-style: none;border-width: 0 0 2px;font-size: 0;outline: medium none !important; padding: 10px 5px;width: 100%;cursor:pointer;}

.cam_charger_box .cd-box-content span i{padding:5px;font-size:20px;cursor:pointer;color:#646464;font-weight:bold;}
.popcardetail {float:left;}
.popcardetail li {float: left;padding-top:15px;}
.popcardetail li, .viewcars a {color: #999;font-size: 13px;}
.greydot {background: #d8d8d8 none repeat scroll 0 0;border-radius: 50%;display: inline-block;height: 5px;margin: 0 10px;width: 5px;padding:0 !important;}
.title_circle i,.title_circle span {color: #fff;display: inline-block;font-size: 52px;}
.slick-dots-wrp.sticky{position:fixed !important;top:44px !important;background:rgba(49, 57, 71, 1) none repeat scroll 0 0;transition:ease .3s all;} 
.title_circle{transition:ease .5s all}
.title_circle.active_title_circle{transform:scale(1,1);opacity:1;}

.cam_charger_box .slick-dots{line-height:0 !important;padding-left: 5px;text-align: center;}
.cam_charger_box .slick-dots li button{border-radius:0 !important; height:auto !important;line-height:1 !important;}
.cam_charger_box .slick-dots li{height:auto !important;}
.cam_charger_box .slick-dots li.slick-active{height:auto !important;}
.cam_charger_box .slick-dots li{margin:0 !important}
.cam_charger_box .slick-dots li.slick-active button{height:auto !important;}
.cam_charger_box .slick-dots li button{height:auto !important;border-bottom: 2px solid rgba(255, 255, 255, 0);border-color: rgba(255, 255, 255, 0);}
.for_relative{position:relative;}

.cam-white-card-wrapper .cam-white-card{margin-bottom:10px;}
.cam-white-card{background:#fff;box-shadow: 0 2px 3px rgba(0,0,0,.3);border-radius:3px;}
.cam-no-border-radius {border-radius: 0 !important;}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
.slick-initialized .slick-slide {
    display: block;
}
.cam-main-card{  background: #fff none repeat scroll 0 0;
    border-radius: 3px;
    height: auto;
    font-family: sans-serif;
    padding-bottom: 5px;
    display: inline-block;width: 100%;
}
.imageBack{
   background: #141533 none repeat scroll 0 0;
}

.HomeInput{margin: 10px 5%;
    padding: 10px;width: 81%;
    background: #fff;
}
.W88P{ width: 88%;}
.DispNone{display: none;}
.bluBtn {background: #3fa7ba none repeat scroll 0 0 !important;border: medium none;box-sizing: border-box !important;color: #fff;height: 40px;margin-bottom: 10px;margin-left: 5%;padding: 5px;width: 90%;cursor: pointer;margin-top: 10px;}
.errorText{color: red;font-size: 12px;float: right;margin-top: -6px;margin-right: 12px;}
.sprite{background:url(../images/sprite.png) no-repeat; display:inline-block; vertical-align:middle;}
.ic_google,.ic_fb{height:50px; width:50px; background-position:0px -70px; margin-right:10px;}

#mask
{
margin:0px;
padding:0px;
background:#000;
opacity:0.8;
height:100%;
width:100%;
left:0%;
top:0%;
position:fixed;
z-index:9999;}
#loader-wrapper .logo {
  position: absolute;
  top: 46%;
  left: 31.5%;
  right:32%;
  text-align:center;
}
#loader-wrapper .logo a {
  font-weight: 700;
  color: #3498DB;
  font-size: 12px;
}
.logo span {
  color: #f85654;
}
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;  
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f85654;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
@-webkit-keyframes spin {
    0%   { 
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   { 
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

.TextCenter{display: block;text-align: center;width: 100%;}
.errorText{  color: red;font-size: 12px;margin-top: -6px;}


/*Menu Css*/
#cd-menu-trigger .cd-menu-icon{display:inline-block;position:absolute;left:50%;top:50%;bottom:auto;right:auto;-webkit-transform:translateX(-50%) translateY(-50%);-moz-transform:translateX(-50%) translateY(-50%);-ms-transform:translateX(-50%) translateY(-50%);-o-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%);width:18px;height:2px;background-color:#f05a28;margin: 5px;}
#cd-menu-trigger .cd-menu-icon::before,#cd-menu-trigger .cd-menu-icon:after{content:'';width:100%;height:100%;position:absolute;background-color:inherit;left:0;width: 28px;}
#cd-menu-trigger .cd-menu-icon::before{bottom:8px}
#cd-menu-trigger .cd-menu-icon::after{top:8px}
#cd-lateral-nav{position:fixed;height:100%;right:0;top:inherit;bottom:0;visibility:hidden;z-index:9999;width:260px;background-color:#fff;overflow-y:auto;-webkit-transform:translateZ(0);-webkit-backface-visibility:hidden;-webkit-transition:-webkit-transform .4s 0s,visibility 0s .4s;-moz-transition:-moz-transform .4s 0s,visibility 0s .4s;transition:transform .4s 0s,visibility 0s .4s;-webkit-transform:translateX(260px);-moz-transform:translateX(260px);-ms-transform:translateX(260px);-o-transform:translateX(260px);transform:translateX(260px)}
#cd-lateral-nav .sub-menu{display:none;background-color:#2D2C2C}

#cd-lateral-nav.lateral-menu-is-open{background: #fff none repeat scroll 0 ;-webkit-transform:translateX(0);-moz-transform:translateX(0);-ms-transform:translateX(0);-o-transform:translateX(0);transform:translateX(0);visibility:visible;-webkit-transition:-webkit-transform .4s 0s,visibility 0s 0s;-moz-transition:-moz-transform .4s 0s,visibility 0s 0s;transition:transform .4s 0s,visibility 0s 0s;-webkit-overflow-scrolling:touch;font-family: sans-serif;}
.menuOverlay{display:none; width:100%; height:100%; position:fixed; top:0; bottom:0; right:0; left:0; background:rgba(0, 0, 0, 0.6); z-index: 9999;}
.navUL { display: inline-block; width: 100%;margin-left: -23px;}
.navUL li, .profileUL li { display:block; position: relative; width: 100%;line-height: 40px;border-bottom: 1px solid #ccc;}
.navUL li a, .profileUL li a {font-family:sans-serif !important;font-weight: 600; font-size: 16px; text-decoration:none; display:inline-block;}
.navUL li a:hover, .navUL li a.active { font-weight: 600; }
.navUL li ul { display: none; border-top: 1px solid #ebecec; border-bottom: 1px solid #ebecec; background: #f6f7f7; }
.navUL li ul a { padding: 11px 0 0 51px; border-left: 4px solid transparent; }
.navUL li ul a:hover, .navUL li ul a.active {border-left: 4px solid #ef3f30; }
.navUL li .nestedUL li a:hover, .navUL li .nestedUL li a.open { border-left:4px solid red; font-weight:bold; background:#fff; }
.navUL li a span.nav-drop { position: absolute; right: 10px; top: 15px; font-size: 20px; color: #565a5c; }
.navUL li a:hover span.nav-drop { color: #1a1a1a; }
.navUL li a.sept-nav-list { padding: 15px 0 0 55px; color: #82888b; height: 36px; }
/*Menu Css End*/

.UserIconLogin{ font-size: 40px;text-align: center;margin-top: 7px;}

.TextCenterReview{text-align: center;color: #fff;font-family: sans-serif;margin-top: 10px;}
.Capatilaze{text-transform: capitalize;}

.help-tip{
  position: absolute;
  text-align: center;
  background-color: #219DC5;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  font-size: 14px;
  line-height: 26px;
  cursor: default;
  display: inline;
  margin-left: 5px;
}

.help-tip:before{
  content:'?';
  font-weight: bold;
  color:#fff;
}

.help-tip:hover p{
  display:block;
    z-index: 9999;;
  transform-origin: 100% 0%;

  -webkit-animation: fadeIn 0.3s ease-in-out;
  animation: fadeIn 0.3s ease-in-out;

}

.help-tip p{
  display: none;
  text-align: left;
  background-color: #1E2021;
  padding: 20px;
  width: 250px;
  position: absolute;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  left: -135px;
  color: #FFF;
  font-size: 13px;
  line-height: 1.4;
}

.help-tip p:before{
  position: absolute;
  content: '';
  width:0;
  height: 0;
  border:6px solid transparent;
  border-bottom-color:#1E2021;
  left:140px;
  top:-12px;
}

.help-tip p:after{
  width:100%;
  height:40px;
  content:'';
  position: absolute;
  top:-40px;
  left:0;
}

@-webkit-keyframes fadeIn {
  0% { 
    opacity:0; 
    transform: scale(0.6);
  }

  100% {
    opacity:100%;
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:100%; }
}

.couponError{
  color: #ff0000 !important;
}

.rewardsPoint{height: 110px;width: 50%;display: inline-block;border-right: 1px solid #ccc;font-family: sans-serif;padding: 3px;}
.walletPoint{width: 44%;float: right;font-family: sans-serif;padding: 3px;text-align: center;}

 .showValuePoints{ border: 1px solid #ccc;
    border-radius: 50%;
    height: 50px;
    margin-top: 6px;
    text-align: center;
    width: 50px;
   margin-left: 33%;
 box-shadow: 2px 1px 4px 0px #ccc;}
 .ShowPoints{display: inline-block;
    margin-top: 17px;
}
.refferalBlock{border: 1px solid #ccc;
    border-radius: 50%;
    height: 50px;
    margin-top: 6px;
    text-align: center;
    width: 50px;
   margin-left: 4%;
 box-shadow: 2px 1px 4px 0px #ccc;display: inline-block;}
 .isrefeeralcss{    width: 60%;
    display: inline-block;}
#paidAmount{ display: inline-block;
    margin-top: 18px;}

 .paidAmount{ border: 1px solid #ccc;
    border-radius: 50%;
    height: 55px;
    text-align: center;
    width: 55px;
    background: #FF8100;
    box-shadow: 4px 2px 4px 0px #ccc;
    color: #fff;
   }    
.redeemRewardsErrorMessage{
    display: inline-block;
    font-size: 14px;
    margin-left: -72px;
    padding: 6px;
    width: 200px;
    margin-top: -9px !important;
    color: green !important;
  }
  .reviewOrder-wrp{background: rgba(0, 0, 0, 0) url("../images/secondbgwap.jpg") no-repeat scroll 0 0 / 100% 220px;transition:ease-out 4s all;}
  .errormsg{margin-top: 10px;font-family: sans-serif;color: red;text-align: center;}

.topbackground-failure{background: rgba(0, 0, 0, 0) url("../images/finalbgwap.jpg") no-repeat scroll 0 0 / 100% 260px;transition:ease-out 4s all;}
.footerText{ display: inline-block;
background: rgb(0, 0, 0) none repeat scroll 0% 0%;
color: rgb(255, 255, 255);
height: 75px;
opacity: 0.8;width: 100%;
font-family: sans-serif;text-align: center;font-size: 14px;}

.footerTextsuccfail{ display: block;
background: rgb(0, 0, 0) none repeat scroll 0% 0%;
color: rgb(255, 255, 255);
height: 75px;
opacity: 0.8;
font-family: sans-serif;text-align: center;font-size: 14px;}

.cam-content-card{     background: #fff none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow: 0 0px 3px;
    height: auto;
    font-family: sans-serif;
    margin-top: 10px;
    padding-bottom: 5px;
    display: inline-block;
    width: 92%;
    margin-bottom: 10px;
    margin-left: 4%;
    margin-right: 4%;
}
.shareText{    text-align: center;
    font-size: 18px;
    font-weight: 600;
    font-family: sans-serif;
    padding: 5px;color: #756D6D;}
 .shareTextIcon{width: 45%;
    padding: 5px;
    font-size: 20px;
    text-align: center;display: inline-block;}  
 .shareTextIcon span{border-radius: 50%;
    width: 44px;
    height: 30px;
    padding-top: 12px;}
.shareTextIcon .icofacebook-filled{
        background: #3b5998;
    color: #fff;display: inline-block;}

 .shareTextIcon .icogplus-filled{
        background: #DC4E41;
    color: #fff;display: inline-block;}   
   .shareShadow{box-shadow: 1px 2px 2px 2px #ccc;}
   .reviewUserIcon:before{font-size: 51px;}

.cm-popup {
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    overflow-y: scroll;
    z-index: 999;
    font-family: sans-serif;
}
.csspop-overlay {
    transition: opacity .2s;
    display: none;
    opacity: 0;
}
.csspop-overlay-show {
    transition: opacity .2s;
    display: block;
    opacity: 1;
}
.inner_header {
    background: #313947;
    border-bottom: medium none #314d63;
    border-top: medium none #314d63;
    position: fixed;
    display: inline-block;
    width: 100%;
}

.inner_header>span {
    color: #fff;
    display: block;
    font-size: 20px;
    line-height: 20px;
    padding: 10px 15px;
    margin-left: 40px;
  }
  .ActivePlanTab {
    background: #3FA7BA;
    color: #fff !important;
}
.planTab {
    color: #000;
    cursor: pointer;
    width: auto;
    display: inline-block;
    text-align: center;
    border: 2px solid #3FA7BA;
    height: 19px;
    border-radius: 30px;
    line-height: 22px;
    margin: 4px;
    padding: 5px;
    font-size: 10px;
}

.closeIcon{    background-image: url(../images/close.svg);
    background-repeat: no-repeat;
    border: 0;
    color: #999;
    cursor: pointer;
    display: block;
    height: 3em;
    position: absolute;
    right: 0;
    top: 0;
    width: 3em;
    float: left;
    left: 0;
    margin-top: -11px;}

 .infoPlanDiv  { position: fixed;
    display: inline-block;
    width: 100%;
    margin-top: 39px;
    background: #ccc;
}
#mobileRechargePlan{display: inline-block;width: 100%;}
#mobilePlanLink{}
.QuikRechargeText{font-family: sans-serif;font-size: 15px;color: #838c8d;text-align: right;margin-top: 10px; margin-right: 27px;}   
.quikRechargeCheckBox{box-shadow: none!important;}
.QuikRechargeText input[type=checkbox] { display:none !important; } 
.QuikRechargeText [type="checkbox"] + label { position: relative;padding-left: 35px;cursor: pointer;display: inline-block;height: 25px;line-height: 20px;font-size: 15px;-webkit-user-select: none;}
.QuikRechargeText  input[type=checkbox] + label:before {font-family: FontAwesome;}
.QuikRechargeText [type="checkbox"] + label:before {content: '';position: absolute;top: 0;left: 0;width: 18px;height: 18px;z-index: 0;border: 2px solid #5a5a5a;border-radius: 1px;margin-top: 2px;-webkit-transition: 0.2s;-moz-transition: 0.2s;-o-transition: 0.2s;-ms-transition: 0.2s;transition: 0.2s;}
 /* unchecked icon */
.QuikRechargeText  input[type=checkbox] + label:before { letter-spacing: 10px;margin-top: -2px;} /* space between checkbox and label */
/* checked icon */
.QuikRechargeText  input[type=checkbox]:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */
.QuikRechargeText [type="checkbox"]:checked + label:before {
    top: -4px;
    left: -3px;
    width: 12px;
    height: 22px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #26a69a;
    border-bottom: 2px solid #26a69a;
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
.arrow-up{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin-top: -20px;
    border-bottom: 20px solid #fff;
}
.MarginL13P{margin-left: 13%;}
.MarginL31P{margin-left: 31%;}
.MarginL52P{margin-left: 52%;}
.MarginL79P{margin-left: 79%;}
.reviewSpan{padding: 10px;
    display: inline-block;
    text-align: center;
    margin-top: 30px;
    font-size: 20px;}
    .reviewButton{    height: 43px;
    width: 90px;
    background: rgb(0, 137, 123) none repeat scroll 0% 0%;
    color: rgb(255, 255, 255);
    border: medium none;
    margin-left: 10px;
    border-radius: 6px;
    font-size: 20px;
}

  .TextCenterWalletReview{  font-size: 20px;
    color: #fff;
    font-weight: 700;text-align: center;font-family: sans-serif;}

 .mnUnitTb{text-align: center;    margin-top: 12px;}   
.mnUnitTb font a {
    width: 100px;
    text-align: center;
    color: #bfbcad;
    padding: 8px;
    font-size: 14px;
    font-family: sans-serif;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s
}

.mnUnitTb font a.active{
    border-bottom: 2px solid #4DB6AC !important;
    color: #fff!important;
    font-size: 18px;
}
.mnUnitTb font a.active.showArrow {
    color: #ffffff
}

.mnUnitTb font a.active.showArrow:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 10px 13px;
    border-color: rgba(255, 255, 255, 0.2) transparent;
    display: block;
    z-index: 1;
    left: 38px;
    bottom: 5px
}

.mnUnitTb font a.active.showArrow:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 8px 11px;
    border-color: #fff transparent;
    display: block;
    z-index: 1;
    left: 40px;
    bottom: 1px
}

.mnUnitTb font a:hover {
    color: #ffffff
}
.mnUnitTb font a.active span {
    font-size: 18px;
}