*,
*:before,
*:after {
    box-sizing: border-box;
}
html {
    overflow-y: scroll;
    height: 100%;
}
body {
    background-image: linear-gradient(to top, rgba(48, 54, 57, 1.2), rgba(48, 54, 57, 0.2)), url("../images/finalbg.jpg");
    font-family: 'Titillium Web', sans-serif;
    padding: 0;
    margin: 0;
    display: inline-block;
    height: 100%;
    width: 100%;
}
a {
    text-decoration: none;
    color: #1ab188;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
a:hover {
    color: #179b77;
}
.form {
    padding: 29px;
    border-radius: 4px;
}
.tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
}
.tab-group:after {
    content: "";
    display: table;
    clear: both;
}
.tab-group li a {
    display: block;
    text-decoration: none;
    padding: 10px;
    background: rgba(160, 179, 176, 0.25);
    color: #fff;
    font-size: 14px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
.tab-group li a:hover {
    background: #179b77;
    color: #ffffff;
}
.tab-group .active a {
    background: #1ab188;
    color: #ffffff;
}
h1 {
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    margin: 0 0 40px;
}
label {
    position: absolute;
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    left: 13px;
    color: rgba(255, 255, 255, 0.81);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 16px;
    top: 4px;
}
label .req {
    margin: 2px;
    color: #1ab188;
}
label.active {
    -webkit-transform: translateY(39px);
    transform: translateY(39px);
    left: 2px;
    font-size: 14px;
}
label.active .req {
    opacity: 0;
}
label.highlight {
    color: #ffffff;
}
input,
textarea {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: #ffffff;
    border-radius: 0;
    -webkit-transition: border-color .25s ease, box-shadow .25s ease;
    transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus,
textarea:focus {
    outline: 0;
    border-color: #1ab188;
}
textarea {
    border: 2px solid #a0b3b0;
    resize: vertical;
}
.field-wrap {
    position: relative;
    margin-bottom: 30px;
}
.top-row:after {
    content: "";
    display: table;
    clear: both;
}
.top-row > div {
    float: left;
    width: 48%;
    margin-right: 4%;
}
.top-row > div:last-child {
    margin: 0;
}
.button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #1ab188;
    color: #ffffff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;
}
.button:hover,
.button:focus {
    background: #179b77;
}
.button-block {
    display: block;
    width: 100%;
}
.buttonlogin {
    border: 0;
    outline: none;
    border-radius: 7px;
    padding: 11px 10px;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .1em;
    background: none;
    color: #ffffff;
    margin: 10px;
    width: 37%;
    border: 2px solid #fff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;
}
.forgot {
    margin-top: -20px;
    text-align: right;
}
.bottomfooter {
    bottom: 0;
    position: absolute;
    width: 100%;
    text-align: center;
}
.colorWhite {
    color: white;
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlayTarget {
    visibility: visible !important;
    opacity: 1 !important;
}
.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}
.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top: 0px;
    right: 10px;
    transition: all 200ms;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #06D85F;
}
.popup .content {
    max-height: 30%;
    overflow: auto;
    margin-top: 20px;
}
.buttonOTP {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 10px 0;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #e84917;
    color: #ffffff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;
    display: block;
    width: 100%;
    margin-top: 30px;
}
@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }
    .popup {
        width: 70%;
    }
}