@charset "utf-8";
/* CSS Document */

/* WHY BOOK WITH US Section CSS */
.book
{
background:#fff;
}
.air_heading h2
{
    font-size: 36px;
    line-height: 30px;
    text-align: center;
    color: rgb(63, 167, 186);
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
}
.col1 {
    color: #febf2b;
}
.air_heading span {
    padding-top: 6px;
    display: block;
    font-weight: 300;
    font-size: 20px;
    text-transform: none;
}
.prop {
    font: 300 16px/24px 'Roboto Condensed', sans-serif;
    text-align: center;
    position: relative;
    background-color: #f5f5f5;
    padding: 71px 20px 18px;
}
.prop .fa {
    color: #fff;
    line-height: 75px;
    font-size: 36px;
    text-align: center;
    position: absolute;
    border-radius: 500px;
    display: block;
    border: 6px solid #fff;
    width: 84px;
    height: 84px;
    left: 50%;
    margin-left: -42px;
    top: -41px;
    background-color: #fcc135;
}
.prop.pp1 .fa {
    background-color: #33c7f8;
}
.prop.pp2 .fa {
    background-color: #73e1d0;
}
.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.prop .title {
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: rgb(63, 167, 186);
    text-transform: uppercase;
}
.prop p {
    margin-bottom: 0;
    padding: 0 45px;
}
.col-md-4
{
width:30%;
float:left;
margin:20px}
@font-face {
    font-family: FontAwesome;
    src: url("../fonts/fontawesome-webfont.eot");
    src: url("../fonts/fontawesome-webfont?#iefix") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontawesome-webfont.svg#FontAwesome") format("svg");
}


/* ABOUT US SECTION CSS */

.f_top {
    border-bottom: 1px solid #dedede;
    border-top: 5px solid #e3e3e3;
    background-color: #f5f5f5;
}
.about h4 {
    font-size: 24px;
    line-height: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(63, 167, 186);
    font-weight: bold;
    text-transform: uppercase;
}
.extra_wrapper {
    overflow: hidden;
}
.col2 a {
    color: rgb(63, 167, 186);
}
strong {
    font-weight: 700;
}
.col4 {
    color: #04a7ea;
    font-size:12px
}
footer .cl2 {
    padding-top: 3px;
}
.cl2 {
    height: 17px;
}
.clear {
    float: none !important;
    clear: both;
}
.about img {
    float: left;
    margin-right: 20px;
    margin-top: 4px;
}
.about img {
    max-width: 100%;
}
.f_top address {
    padding-top: 2px;
    font-size: 18px;
}
address {
    font-style: normal;
}
.f_top address .col4 {
    padding-top: 20px;
}
.socials {
    padding-top: 32px;
    overflow: hidden;
}
.socials a {
    display: block;
    background-color: #fcc135;
    font-size: 20px;
    width: 49px;
    height: 49px;
    line-height: 49px;
    float: left;
    border-radius: 500px;
    color: #fff;
    text-align: center;
    margin:2px
}
.about span::before, i::before, a::before, em::before, u::before
{
font-family:FontAwesome;}
.about .col-md-4{font-size:13px}
.about address .col4{font-size:18px}

/* FORM CSS */
.airForm
{
background:url(../images/widget_transparent.png) repeat;
width:700px;
height:500px;
padding:20px}   
#homepageslider .airForm h2
{
font-size:26px;color:#fff;padding:10px 0px}
.responsive-tabs__list__item,.responsive-tabs__list__item:hover{border-bottom: 4px solid #fff;background:#fff;color:#000}
.responsive-tabs__list__item--active,.responsive-tabs__list__item--active:hover{border-bottom: 4px solid #fdd000;background:#fff;color:#000}
.responsive-tabs h2{background:#fff!important}
.tablist1-tab{padding:10px 30px;margin:0px;font-size: 12px;width: 25%;display: inline-block;}
.tablist1-tabactive{padding:10px 30px;font-size: 12px;width: 25%;display: inline-block;    border-left: 1px solid #ccc; margin:0px;border-right:solid 1px #999;border-bottom: 4px solid #fdd000;background:#fff;color:#000}    
.responsive-tabs .padding{padding:20px 0px}
.radio{width:18px;height:18px}
.responsive-tabs table tr{border:none;background:none!important}
.arrow{
background:url(../images/widget7.png) 0 0;width:30px;height:30px;background-position: 0 -336px;position:absolute;margin-top:45px;margin-left:15px}
.responsive-tabs table{margin:0px}
.datepicker{width:85%;margin:0px 10px;color: #fff !important;}
.btn-primary-red:hover {
    color: #fff;
    background-color: #d83d05;
    box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.30);
}
.btn-primary-red {
    color: #fff;
    background-color: #d83d05;
    width:200px;
    padding:10px;
    text-align:center;
    margin-top:40px
}
#homepageslider .select{color:#000;line-height:1;margin:12px 0px;width:90%}
#homepageslider .select1{color:#000;line-height:1;margin:12px 0px;width:90%;padding:5px}

/* SEARCH PAGE CSS ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
.searchdiv
{
border:solid 1px #333;background:#fff;width:1000px;height:85px}
.part1{width:210px;height:82px;border-right:1px solid #CCCCCC;float:left;padding:10px}
.part2{width:350px;height:82px;border-right:1px solid #ccc;float:left;padding:10px}
.part3{width:430px;height:82px;float:left;padding:10px 15px}
.topheading{ color:#999999;font-size:10px }
.subheading{ color:#000;font-size:16px }
.searchdiv .departure{width:45%;float:left}
.searchdiv .arrow1{width:10%;text-align:center;color:#ccc;float:left;padding-top:15px;padding-right:10px}
.searchdiv .return{width:45%;float:left}
.searchdiv .part31{width:20%;float:left}
.searchdiv .part32{width:35%;float:left}
.searchdiv .btn-primary-red{width:100%;margin-top:10px}
.midpart{    /* width: 100%; */
    background: #fff;
    height: 100%;
    margin: auto !important;
    margin: 10px 7% !important;
    box-shadow: 0 -8px 10px -5px #333;
    display: inline-block;}
.leftadd{width:250px;float:left;border-right:1px #ccc solid;height:100%;text-align:center}
.rightresult{width:830px;float:right;height:100%;padding:20px}
.right1{width:50%;height:500px;float:left}
.right2{width:50%;height:500px;float:left}
.tabbing{width:100%;background:#e8e7e4}
.tabbing tr td{font-size:12px;color:#ccc;border:solid 1px #ccc;padding:5px;text-align:center;color:#000;cursor:pointer;border-top:2px solid rgb(49, 57, 71)}
.tabbing tr td:hover{border-bottom:solid 2px}
.content_tab{width:100%;}
.content_tab .flight{width:100%;border:1px solid #ccc;padding:10px;margin-bottom: 2%;}
.flight tr{border:none}
.flight td{ vertical-align:middle;left: }
.flight.first td{ vertical-align:middle;text-align: left;}
.flight .rupee{color:#ff0000;}
.tabl{margin:0px}
.book .btn-primary-red{width:150px;margin:0px}
#showdetail{    background: #fff;
    box-shadow: 0 5px 10px 5px #fff;
    width: 100%;
    height: 430px;
    padding: 15px;
    z-index: 99999;
}
.detail_table{margin-bottom:6px;background:#fff}
#showdetail tr{background:#fff}
.detail_table th {
    text-align: left;
    font-weight: normal;
    padding: 6px 10px;
    color: #878787;
    border: solid 1px #D8D8D8;
    background: #e8e7e5;
    font-size: 11px;
}
.detail_table td {
    border: solid 1px #D8D8D8;
    padding: 0px 0px 0px 10px;
    background: #fff;
    vertical-align: middle;
    font-size: 11px;
    line-height:0px;
    text-align:justify
}
.ng-binding{margin:5px 0px 10px 0px;padding:10px}
.detail_heading{color:#000;font-size:14px;text-align:justify}
.pull-left {
    float: left !important;
    width:45%;
    font-size:12px
}
.pull-right {
    float: right!important;
    width:45%;
    font-size:12px
}
.detail_head{font-size:16px;font-size:12px}
#showdetail .padding p{line-height:10px}