/* COMMON CSS FOR PAGE LAYOUT */

table tr td{padding:0px}
datalist{
    height: 100px !important;
    overflow: auto !important;
}
.footerCouponDiv {
    background: #3fa7ba;
    height: 150px;
    padding: 10px;
    text-align: center;}
.footerCoupon{
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
}
#openmenu{
	margin-top: 6px !important;
}

 #errorMessagesignin{color: red;
    margin-bottom: -10px;
    margin-top: 5px;
    margin-right: 8%;
text-align: right;}

#errorMessagelogin{color: red;
    margin-bottom: -10px;
    margin-top: 5px;
    margin-right: 13%;
text-align: right;}
#errorMessagefeedback{color: red;
	font-size: 10px;
	margin-top: 5px;
    margin-right: -7%;
     margin-bottom: -10px;
     text-align: right;
}

#openmenu{margin-right: 20px;}
#headerLogo{margin-left: 2% !important;}

span.icomenu::before, i.icomenu::before, a.icomenu::before, em.icomenu::before, u.icomenu::before {
    content: "Ÿ";
}

.headerscroll{width: 100% !important;margin-left: 0 !important;margin-right: 0 !important;top:0em !important;}

#openmenu span::before,#openmenu i::before,#openmenu a::before,#openmenu em::before,#openmenu u::before{font-size: 20px;font-weight: bold;}
#chargersBox input, select, textarea{
    color: #000;
}

#chargersLogin  input[type="button"]:hover {
    background-color: #4dbea0;
}

#chargersSignup  input[type="button"]:hover {
    background-color: #4dbea0;
}
#foot li a
{
border: 0;
    border-top: solid 1px rgba(144, 144, 144, 0.2);
    color: inherit;
    display: block;
    line-height: 2.5em;
    text-decoration: none;
	color:#999!important;
	font-weight:100
	}
	#foot
	{
	padding-left:0px;
	margin:0px 0px 0px -30px}
	#cssmenu, #cssmenu ul, #cssmenu li, #cssmenu a {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	font-weight: normal;
	text-decoration: none;
	line-height: 1;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	position: relative;
}
#cssmenu {
	width:100%;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#cssmenu a {
	line-height: 1.3;
}
#cssmenu > ul > li {
	background: #f4f4f4;
	text-align:justify;
	
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}
#cssmenu > ul > li > a {
	padding: 15px 10px;
	background: url(../images/pattern.png) top left repeat;
	border: none;
	
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	font-family: 'Ubuntu', sans-serif;
	
	font-size: 18px;
	font-weight: 300;
	
}
#cssmenu > ul > li > a > span {
	padding: 0;
}
#cssmenu > ul > li:hover {
	background: #219DC5;
	
}
#cssmenu > ul > li:hover > a
{
color:#fff}
#cssmenu > ul > li {
	background: #f4f4f4;
	text-align:justify;
	
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}

#cssmenu > ul > li > a {
	font-size: 22px;
	display: block;
	background: url(../images/pattern.png) top left repeat;
	color: #219DC5;
	
	
}
#cssmenu > ul > li > a > span {
	display: block;
	padding: 12px 10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#cssmenu > ul > li > a:hover {
	text-decoration: none;
}
#cssmenu > ul > li.active {
	border-bottom: none;
}
#cssmenu > ul > li.has-sub > a {
	background: url(../images/icon_plus.png) 96% center no-repeat;
}
#cssmenu > ul > li.has-sub.active > a {
	background: url(../images/icon_minus.png) 96% center no-repeat;
}
/* Sub menu */
#cssmenu ul ul {
	display: none;
	background: #fff;
	
}
#cssmenu ul ul li {
	padding: 0;
	border-bottom: 1px solid #d4d4d4;
	border-top: none;
	background: #fff;
	
}
#cssmenu ul ul li:last-child {
	border-bottom: none;
}
#cssmenu ul ul a {
	padding: 10px 10px 10px 25px;
	display: block;
	color: #000;
	font-size: 16px;
	font-weight: normal;
}
#cssmenu ul ul a:before {
	content: "»";
	position: absolute;
	left: 8px;
	color: #219DC5;
	margin-top: -9px;
}
#cssmenu ul ul a:hover {
	color: #e94f31;
}
/*
Loader Images
*/

#mask
{
margin:0px;
padding:0px;
background:#000;
opacity:0.6;
height:100%;
width:100%;
left:0%;
top:0%;
position:fixed;
z-index:40;
display:none}
#loader-wrapper .logo {
  position: absolute;
  top: 46%;
  left: 45.5%;
  display:none
}
#loader-wrapper .logo a {
	font-weight: 700;
	color: #3498DB;
	font-size: 12px;
}
.logo span {
  color: #f85654;
}
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
	display:none	
}
#loader {
    display: none;
    position: relative;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f85654;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
@-webkit-keyframes spin {
    0%   { 
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   { 
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
#foot a
	{
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)!important;color:#999!important}
	#foot .button{-webkit-tap-highlight-color: rgba(0, 0, 0, 0)!important;}
	.errormsg
	{
	margin-left:50px}
.social
{
height:150px;
background:#fff;
text-align:center;
padding-top:20px!important}
.social li{
	width: 15%;
	display: inline-block;
}
.lk
{
text-align:center}
.lk a
{
font-size:14px !important;
text-transform:capitalize!important;
letter-spacing:0px!important}
.cnmicons
{
margin-top:50px;border-radius:50%;
width:90px;
height:90px;
opacity:1}
.iconhead
{
font-size:18px!important;
margin-top:10px;
top:5%;
color:#fff!important;
text-align:center}
#footer {
	background-color: #303639;
	color: #ffffff;
	padding: 2em 0 1em 0;
	
}
#footer input, #footer textarea {
	color: #ffffff;
}
#footer a {
	color: #4dbea0;
}

#footer a {
	color: inherit;
}
#footer .contact {
	list-style: none;
	padding: 0;
}
#footer .contact li {
	display: inline-block;
	padding: 0;
}
#footer .contact li:before {
	content: '\2022';
	margin: 0 0.75em;
}
#footer .contact li:first-child:before {
	display: none;
}
#footer .footerlink {
	list-style: none;
	padding: 0;
}
#footer .footerlink li {
	border-left: solid 1px;
	display: inline-block;
	line-height: 1;
	margin: 0 0 0 1.5em;
	padding: 0 0 0 1.5em;
}
#footer .footerlink li:first-child {
	border-left: 0;
	margin-left: 0;
	padding-left: 0;
}
#footer .footerlink li a {
	font-size: 0.8em;
	letter-spacing: 0.25em;
	text-decoration: none;
	text-transform: uppercase;
}
#footer > .inner {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0 auto;
	width: 75em;
}
#footer > .inner > * {
	font-size: 0.8em;
	width: 50%;
}
#footer > .inner .icons {
	-moz-order: 2;
	-webkit-order: 2;
	-ms-order: 2;
	order: 2;
	text-align: right;
}
#footer > .inner .contact {
	-moz-order: 4;
	-webkit-order: 4;
	-ms-order: 4;
	order: 4;
	text-align: right;
}
#footer > .inner .footerlink {
	-moz-order: 1;
	-webkit-order: 1;
	-ms-order: 1;
	order: 1;
}
#footer > .inner .copyright {
	-moz-order: 3;
	-webkit-order: 3;
	-ms-order: 3;
	order: 3;
}
@media screen and (max-width: 1680px) {
#footer {
padding:2em 0 1em 0
}
}
@media screen and (max-width: 1280px) {
#footer {
background: #303639;
}
#footer > .inner {
width: 100%;
padding: 0 3em;
}
}
@media screen and (max-width: 980px) {
#footer > .inner {
display: block;
}
#footer > .inner > * {
width: 100%;
font-size: 1em;
text-align: center !important;
}
}
@media screen and (max-width: 736px) {
#footer {
padding: 3em 0 1em 0;
}
#footer > .inner {
width: 100%;
padding: 0 1.5em;
}
#footer > .inner > * {
font-size: 0.8em;
}
}
@media screen and (max-width: 480px) {
#footer .contact {
list-style: none;
}
#footer .contact li {
display: block;
padding: 0;
}
#footer .contact li:before {
display: none;
}
#footer .footerlink li {
margin: 0 0 0 0.75em;
padding: 0 0 0 0.75em;
}
}
/*home page circle images for detail and content end*/

.table-wrapper {
	-webkit-overflow-scrolling: touch;
	overflow-x: auto;
}
table {
	margin: 0 0 2em 0;
	width: 100%;
}
table tbody tr {
	border: solid 1px;
	border-left: 0;
	border-right: 0;
}
table td {
	padding: 0.75em 0.75em;
}
table th {
	font-size: 0.9em;
	font-weight: normal;
	padding: 0 0.75em 0.75em 0.75em;
	text-align: left;
}
table thead {
	border-bottom: solid 2px;
}
table tfoot {
	border-top: solid 2px;
}
table.alt {
	border-collapse: separate;
}
table.alt tbody tr td {
	border: solid 1px;
	border-left-width: 0;
	border-top-width: 0;
}
table.alt tbody tr td:first-child {
	border-left-width: 1px;
}
table.alt tbody tr:first-child td {
	border-top-width: 1px;
}
table.alt thead {
	border-bottom: 0;
}
table.alt tfoot {
	border-top: 0;
}
table tbody tr {
	border-color: rgba(144, 144, 144, 0.2);
}

table th {
	color: #707070;
}
table thead {
	border-bottom-color: rgba(144, 144, 144, 0.2);
}
table tfoot {
	border-top-color: rgba(144, 144, 144, 0.2);
}
table.alt tbody tr td {
	border-color: rgba(144, 144, 144, 0.2);
}
.wrapper {
	padding: 7em 0 5em 0;
	position: relative;
}
.wrapper > .inner {
	margin: 0 auto;
	width: 75em;
}
.wrapper.profile {
	background: #ffffff;
	border-bottom: solid 1px #eaeaea;
}
.wrapper.profile > .inner {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
}
.wrapper.profile > .inner > * {
	-ms-flex: 1;
	width: 50%;
}
.wrapper.profile > .inner > :nth-child(2n - 1) {
margin-right: 2em;
}
.wrapper.profile > .inner > :nth-child(2n) {
margin-left: 2em;
}
@media screen and (max-width: 1680px) {
.wrapper {
padding: 5em 0 3em 0;
}
}
@media screen and (max-width: 1280px) {
.wrapper > .inner {
width: 100%;
padding: 0 3em;
}
}
@media screen and (max-width: 980px) {
.wrapper.profile {
text-align: center;
}
.wrapper.profile > .inner {
-moz-flex-direction: column-reverse;
-webkit-flex-direction: column-reverse;
-ms-flex-direction: column-reverse;
flex-direction: column-reverse;
-moz-align-items: center;
-webkit-align-items: center;
-ms-align-items: center;
align-items: center;
}
.wrapper.profile > .inner > * {
-ms-flex: none;
margin-bottom: 4em;
width: 100%;
}
.wrapper.profile > .inner > :nth-child(2n - 1) {
margin-right: 0;
}
.wrapper.profile > .inner > :nth-child(2n) {
margin-left: 0;
}
.wrapper.profile > .inner > :first-child {
margin-bottom: 0;
}
}
@media screen and (max-width: 736px) {
.wrapper {
padding: 3em 0 1em 0;
}
.wrapper > .inner {
padding: 0 1.5em;
}
.wrapper.profile > .inner > * {
margin-bottom: 2em;
}
}
body {
	padding-top: 0px
}
@-moz-keyframes reveal-header {
0% {
top: -4em;
opacity: 0;
}
100% {
top: 0;
opacity: 1;
}
}
@-webkit-keyframes reveal-header {
0% {
top: -4em;
opacity: 0;
}
100% {
top: 0;
opacity: 1;
}
}
@-ms-keyframes reveal-header {
0% {
top: -4em;
opacity: 0;
}
100% {
top: 0;
opacity: 1;
}
}
@keyframes reveal-header {
0% {
top: -4em;
opacity: 0;
}
100% {
top: 0;
opacity: 1;
}
}
@media screen and (max-width: 736px) {
#header > a {
padding: 0 0.5em;
}
#header > a + a[href="#menu"]:last-child {
margin-left: 0.25em;
padding-left: 1em;
}
#header > a:last-child {
padding-right: 1em;
}
}
#header + #homepageslider {
	margin-top: -3.125em;
}
#header.reveal {
	-moz-animation: reveal-header 0.5s ease;
	-webkit-animation: reveal-header 0.5s ease;
	-ms-animation: reveal-header 0.5s ease;
	animation: reveal-header 0.5s ease;
}
#header.alt {
	-moz-animation: none;
	-webkit-animation: none;
	-ms-animation: none;
	animation: none;
	background-color: transparent;
	box-shadow: 0 1px 0 0 #ffffff;
	color: #ffffff;
	position: fixed;
	top: 1em;
}
#header.alt > h1 {
	color: #ffffff;
	left: 0;
}
#header.alt > a + a[href="#menu"]:last-child {
	border-left-color: #ffffff;
}
#header.alt > a:last-child {
	padding-right: 0;
}

#header > a[href="#menu"]:before {
    content: '\f0c9';
    float: right;
    margin: 0 0 0 0.75em;
}
#header > a[href="#menu"]:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

@media screen and (max-width: 1280px) {
#header.alt {
top: 2em;
left: 3em;
width: calc(100% - 6em);
}
}
@media screen and (max-width: 980px) {
body {
padding-top: 44px;
}
#header {
height: 44px;
line-height: 44px;
}
#header > h1 {
left: 1em;
}
#header > h1 a {
font-size: 1em;
}
}
@media screen and (max-width: 736px) {
#header.alt {
top: 0.25em;
left: 1.5em;
width: calc(100% - 3em);
}
}
@media screen and (max-width: 480px) {
#header {
min-width: 320px;
}
#header.alt {
min-width: 0;
}
}
#menu {
	-moz-transform: translateX(20em);
	-webkit-transform: translateX(20em);
	-ms-transform: translateX(20em);
	transform: translateX(20em);
	-moz-transition: -moz-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
	-webkit-transition: -webkit-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
	-ms-transition: -ms-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
	transition: transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
	-webkit-overflow-scrolling: touch;
	background: #ffffff;
	border-left: solid 1px rgba(144, 144, 144, 0.2);
	box-shadow: none;
	height: 100%;
	max-width: 80%;
	overflow-y: auto;
	padding: 3em 2em;
	position: fixed;
	right: 0;
	top: 0;
	visibility: hidden;
	width: 20em;
	z-index: 10002;
}
#menu > ul {
	margin: 0 0 1em 0;
}
#menu > ul.footerlink {
	list-style: none;
	padding: 0;
}
#menu > ul.footerlink > li {
	padding: 0;
	text-align:justify
}
#menu > ul.footerlink > li > a:not(.button) {
border: 0;
border-top: solid 1px rgba(144, 144, 144, 0.2);
color: inherit;
display: block;
line-height: 3.5em;
text-decoration: none;
}
#menu > ul.footerlink > li > .button {
	display: block;
	margin: 0.5em 0 0 0;
}
#menu > ul.footerlink > li:first-child > a:not(.button) {
border-top: 0 !important;

}
#menu .close {
	background-image: url("../images/close.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top right;
	-webkit-tap-highlight-color: transparent;
	border: 0;
	color: #999999;
	cursor: pointer;
	display: block;
	height: 3.5em;
	position: absolute;
	right: 0;
	text-align: right;
	top: 0;
	vertical-align: middle;
	width: 6em;
}
#menu .close:before {
	font-size: 1.25em;
}
#menu .close:hover {
	color: #707070;
}
@media screen and (max-width: 736px) {
#menu .close {
height: 4em;
line-height: 4em;
}
}
#menu.visible {
	-moz-transform: translateX(0);
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.05);
	visibility: visible;
}
@media screen and (max-width: 736px) {
#menu {
padding: 2.5em 1.75em;
}
#menu .close {
background-size: 50%;
}
}
#homepageslider {
	
	color: #ffffff;
	
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	background-image: -moz-linear-gradient(to top, rgba(48, 54, 57, 0.2), rgba(48, 54, 57, 0.2)), url("../images/airticketimg.jpg");
	background-image: -webkit-linear-gradient(to top, rgba(48, 54, 57, 0.2), rgba(48, 54, 57, 0.2)), url("../images/airticketimg.jpg");
	background-image: -ms-linear-gradient(to top, rgba(48, 54, 57, 0.2), rgba(48, 54, 57, 0.2)), url("../images/airticketimg.jpg");
	background-image: linear-gradient(to top, rgba(48, 54, 57, 0.2), rgba(48, 54, 57, 0.2)), url("../images/airticketimg.jpg");
	background-position: center;
	background-size: cover;
	height: 75vh;
	min-height: 45em;
	position: relative;
}
#homepageslider input, #homepageslider textarea {
	color: rgba(255,255,255,.4);
}
#homepageslider a {
	color: #4dbea0;
	padding: 10px 30px;
    border-right: solid #ccc 1px;
    background: #fff;
    opacity: 0.6;
}
#homepageslider strong, #homepageslider b {
	color: #ffffff;
}
#homepageslider h1, #homepageslider h2, #homepageslider h3, #homepageslider h4, #homepageslider h5, #homepageslider h6 {
	color: #ffffff;
}
#homepageslider blockquote {
	border-left-color: #ffffff;
}
#homepageslider code {
	background: rgba(255, 255, 255, 0.075);
	border-color: #ffffff;
}
#homepageslider hr {
	border-bottom-color: #ffffff;
}
#homepageslider input[type="submit"], #homepageslider input[type="reset"], #homepageslider input[type="button"], #homepageslider button, #homepageslider .button {
	background-color: transparent;
	box-shadow: inset 0 0 0 1px #ffffff;
	color: #ffffff !important;
}
#homepageslider input[type="submit"]:hover, #homepageslider input[type="reset"]:hover, #homepageslider input[type="button"]:hover, #homepageslider button:hover, #homepageslider .button:hover {
	background-color: rgba(255, 255, 255, 0.075);
}
#homepageslider input[type="submit"]:hover:active, #homepageslider input[type="reset"]:hover:active, #homepageslider input[type="button"]:hover:active, #homepageslider button:hover:active, #homepageslider .button:hover:active {
	background-color: rgba(255, 255, 255, 0.15);
}
#homepageslider input[type="submit"].disabled, #homepageslider input[type="submit"]:disabled, #homepageslider input[type="reset"].disabled, #homepageslider input[type="reset"]:disabled, #homepageslider input[type="button"].disabled, #homepageslider input[type="button"]:disabled, #homepageslider button.disabled, #homepageslider button:disabled, #homepageslider .button.disabled, #homepageslider .button:disabled {
	background-color: #ffffff;
}
#homepageslider input[type="submit"].special, #homepageslider input[type="reset"].special, #homepageslider input[type="button"].special, #homepageslider button.special, #homepageslider .button.special {
	box-shadow: none;
	background-color: #4dbea0;
	color: #ffffff !important;
}
#homepageslider input[type="submit"].special:hover, #homepageslider input[type="reset"].special:hover, #homepageslider input[type="button"].special:hover, #homepageslider button.special:hover, #homepageslider .button.special:hover {
	background-color: #60c5aa;
}
#homepageslider input[type="submit"].special:hover:active, #homepageslider input[type="reset"].special:hover:active, #homepageslider input[type="button"].special:hover:active, #homepageslider button.special:hover:active, #homepageslider .button.special:hover:active {
	background-color: #41b193;
}
#homepageslider:after {
	-moz-pointer-events: none;
	-webkit-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
	-moz-transition: opacity 2s ease, visibility 2s;
	-webkit-transition: opacity 2s ease, visibility 2s;
	-ms-transition: opacity 2s ease, visibility 2s;
	transition: opacity 2s ease, visibility 2s;
	background-color: #303639;
	content: '';
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	visibility: hidden;
	width: 100%;
	z-index: 10001;
}
#homepageslider .inner {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	max-width: 75em;
}
#homepageslider .inner h2 {
	font-size: 2.75em;
	margin-bottom: 0;
	margin-top: -0.25em;
	line-height: 1.3;
}
#homepageslider .inner p {
	font-size: 1.2em;
}
#homepageslider .inner .content {
	-moz-transition: -moz-transform 1s ease-out, opacity 1s ease-out;
	-webkit-transition: -webkit-transform 1s ease-out, opacity 1s ease-out;
	-ms-transition: -ms-transform 1s ease-out, opacity 1s ease-out;
	transition: transform 1s ease-out, opacity 1s ease-out;
	-moz-transform: translateY(0);
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
}
#homepageslider .inner .content > :last-child {
	margin-bottom: 0;
}
#homepageslider .inner .actions {
	-moz-transition: -moz-transform 1s ease-out, opacity 1s ease-out;
	-webkit-transition: -webkit-transform 1s ease-out, opacity 1s ease-out;
	-ms-transition: -ms-transform 1s ease-out, opacity 1s ease-out;
	transition: transform 1s ease-out, opacity 1s ease-out;
	-moz-transform: translateY(0);
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
	border-left: solid 1px #ffffff;
	margin: 0 0 0 4em;
	min-width: 20em;
	padding: 1em 0 1em 3em;
}
@media screen and (max-width: 1280px) {
#homepageslider {
background-attachment: scroll;
}
#homepageslider .inner {
max-width: 100%;
padding: 0 3em;
}
}
@media screen and (max-width: 980px) {
#homepageslider .inner {
-moz-flex-direction: column;
-webkit-flex-direction: column;
-ms-flex-direction: column;
flex-direction: column;
-moz-align-items: stretch;
-webkit-align-items: stretch;
-ms-align-items: stretch;
align-items: stretch;
text-align: center;
}
#homepageslider .inner .actions {
border-left: 0;
margin: 3em 0 0 0;
min-width: 0;
padding: 0;
}
}
@media screen and (max-width: 736px) {
#homepageslider {
padding: 7.5em 0 3.5em 0;
height: auto;
min-height: 0;
}
#homepageslider .inner {
padding: 0 1.5em;
}
#homepageslider .inner h2 {
font-size: 1.75em;
}
#homepageslider .inner p {
font-size: 1em;
}
#homepageslider .inner .actions {
margin: 2em 0 0 0;
}
}
@media screen and (max-width: 480px) {
#homepageslider {
min-height: 75vh;
}
#homepageslider .inner {
-ms-flex: 1;
}
}
body.is-loading #homepageslider:after {
	opacity: 1;
	visibility: visible;
}
body.is-loading #homepageslider .inner .content {
	opacity: 0;
	-moz-transform: translateY(-1em);
	-webkit-transform: translateY(-1em);
	-ms-transform: translateY(-1em);
	transform: translateY(-1em);
}
body.is-loading #homepageslider .inner .actions {
	opacity: 0;
	-moz-transform: translateY(1em);
	-webkit-transform: translateY(1em);
	-ms-transform: translateY(1em);
	transform: translateY(1em);
}
@media screen and (max-width: 980px) {
body.is-loading #homepageslider .inner .content {
-moz-transform: translateY(0);
-webkit-transform: translateY(0);
-ms-transform: translateY(0);
transform: translateY(0);
}
body.is-loading #homepageslider .inner .actions {
-moz-transform: translateY(0);
-webkit-transform: translateY(0);
-ms-transform: translateY(0);
transform: translateY(0);
}
}
label {
	display: block;
	font-size: 0.9em;
	font-weight: normal;
	margin: 0 0 1em 0;
}
input[type="text"]:invalid, input[type="password"]:invalid, input[type="email"]:invalid,textarea:invalid {
box-shadow: none;
}

.formerize-placeholder {
	opacity: 1.0;
	color:gray;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus,textarea:focus {
	border-color: #4dbea0;
	box-shadow: 0 0 0 1px #4dbea0;
}
input[type="submit"], input[type="reset"], input[type="button"], button, .button {
	background-color: transparent;
	box-shadow: inset 0 0 0 1px rgba(144, 144, 144, 0.3);
	color: #707070 ;
}
input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, button:hover, .button:hover {
	background-color: rgba(144, 144, 144, 0.35);
}
input[type="submit"]:hover:active, input[type="reset"]:hover:active, input[type="button"]:hover:active, button:hover:active, .button:hover:active {
	background-color: rgba(144, 144, 144, 0.15);
}
input[type="submit"].disabled, input[type="submit"]:disabled, input[type="reset"].disabled, input[type="reset"]:disabled, input[type="button"].disabled, input[type="button"]:disabled, button.disabled, button:disabled, .button.disabled, .button:disabled {
	background-color: rgba(144, 144, 144, 0.2);
}
ul, li{margin:0px;}
a{text-decoration:none;}
h1,h2,h3,h4,h5,h6{margin:0; padding: 10px 0px;}
.container80{width:80%; padding:15px; margin:0px auto;}
.container90{width:90%; padding:15px; margin:0px auto;}
.DispInline{display:inline-block;}
.floatleft{float:left;}
.floatright{float:right;}
.textcenter{text-align:center;}
.textleft{text-align:left;}
.textright{text-align:right;}
.fifty{width:50%;}
.marginb10{margin-bottom: 10px;}
.hidden{display:none;}
.body_fixed{position:fixed; top:0; right:0; bottom:0; left:0;}
.bordertop{border-top:1px solid #ccc;}
.borderall{border:1px solid #ccc;}
.borderbottom{border-bottom:1px solid #ccc;}
.borderleft{border-left:1px soli #ccc;}
.borderright{border-right:1px solid #ccc;}
.block{padding:15px; border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px; box-shadow:0 2px 3px #C5C5C5; webkit-box-shadow:0 2px 3px #C5C5C5; -moz-box-shadow:0 2px 3px #c5c5c5; -o-box-shadow:0 2px 3px #c5c5c5;}
::-moz-selection{background:rgba(0, 59, 90, 0.7);}
::selection{background:rgba(0, 59, 90, 0.7);}
.changeinner{background:url(../images/background.jpg) no-repeat center fixed; background-size:cover;height:600px}
.changeinner_trans{height:100%;background:rgba(255, 255, 255, 0.44); box-shadow:0 3px 4px rgba(101, 99, 99, 0.59); webkit-box-shadow:0 3px 4px rgba(101, 99, 99, 0.59); -moz-box-shadow:0 3px 4px rgba(101, 99, 99, 0.59); -o-box-shadow:0 3px 4px rgba(101, 99, 99, 0.59); padding:15px;}
ab, .login{text-align:center; padding-top:3px;}
.login span, ab ul li a{color:#4E647C; font-size:15px; padding:0px 10px; font-weight:bold; text-transform:uppercase;}
#home{ margin-bottom:70px;}
footer{background:#000; color:rgba(249, 248, 248, 0.75); padding:15px;}
header{padding:0 0 0 0;}
footer ul{margin:0px; padding:0px; list-style-type:none;}
footer ul li{padding:5px 0px; font-size:12px;}
footer a{color:rgba(249, 248, 248, 0.75);}
footer h5{font-size:15px; color:rgba(255, 255, 255, 0.85);}
.footercolumn{width:25%;}
.footerblock{padding-bottom:15px;}
*,body{margin:0;padding:0;}
header, section, footer, aside, ab, main, article, figure{display:block;}
body{margin:0; padding:0;font-size:14px;}
@font-face {
  font-family: "Heading-Style";
  src:  url("roman-caps.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
body
{
font-family: montserrat,Arial,sans-serif;}
.clearfix:after {visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0;}
form.info{background:rgba(0, 0, 0, 0.21); width:55%; margin:40px auto; padding:30px 0;}
form.info label{display:block; font-size:25px; color:#4dbea0; padding:14px;}
form.info input,textarea{font-size:14px; padding:5px; background:transparent; border:0px; border-bottom:1px solid #4dbea0; text-align:justify;outline:none}
.sprite{background:url(../images/sprite.png) no-repeat; display:inline-block; vertical-align:middle;}
.overlay{ background:rgba(0, 0, 0, 0.9); position:fixed; top:0; bottom:0; left:0; right:0;}
.ic_google,.ic_fb{height:50px; width:50px; background-position:0px -70px; margin-right:10px;}
.ic_fb{background-position:0px 0px;}
.socialLoginLinks{width:68%; margin:6px auto !important; padding-bottom:25px; position:relative;}
.socialLoginLinks a{display:block; color:#fff; width:160px; height:50px;font-weight:bold;font-size:12px;float: left;}
.btn-fb{background:#3c5a98 ;}
.btn-google{background:#dd4d3b;}
input{padding:12px; margin:12px; font-size:16px;}
.popup input{width:90%; display:block; background:transparent; border:1px solid #CCCFD4 !important; border-radius:2px;}
.popup1 input{width:90%; display:block; background:transparent; border:1px solid #CCCFD4 !important; border-radius:2px;}
.welcome{color:#4dbea0; font-size:18px; text-transform:uppercase; padding:15px;}
.forgot{text-align:right; display:block;font-weight:bold; color:#4dbea0;width: 86%;margin-top: 10px;}
.or span{color:#fff; font-size:21px; margin:10px !important; display:block; text-align:center;}
/*.socialLoginLinks:after{content:"or"; width:30px; height:30px; display:block; position:absolute; text-align:center; left:46%; bottom:-18px; color:#909193; background:white; font-size:20px; border-radius:50%; line-height:19px; margin:3px; padding:5px;}*/
.popwrap{position:fixed; top:0; bottom:0; left:0; right:0; overflow:scroll;z-index:1500}
.popwrap1{position:fixed; top:0; bottom:0; left:0; right:0; overflow:scroll;z-index:1500}
.popwrap input[type="submit"]{width:95%; background:#4dbea0; color:#fff; border:4px;}
.popwrap1 input[type="submit"]{width:95%; background:#4dbea0; color:#fff; border:4px;}
#menuOverlay{width: 100%;height: 100%;position: fixed;top: 0px;bottom: 0px;right: 0px;left: 0px;background: transparent none repeat scroll 0px center;z-index: 9999;background-color: #000;opacity: 0.7;}
.DispNone{display: none;}
.DispNoneImp{display: none !important;}
@media only screen and (max-width:768px)
{
	.footercolumn{width:50%;}
	form.info{width:100%;}
	form.info input{font-size:20px;}
	.home p{font-size:20px; margin-top:35px;}
	.login{width:100%; padding:10px 0;}
	.logo{width:100%; text-align:center}
	form.info label{font-size:18px;}
	
}
.singupopen
{
cursor:pointer}
.showpopup
{
cursor:pointer}
@media only screen and (max-width:360px)
{
	.footercolumn{width:100%;}
}
.mobile1 p{font-size:20px; font-weight:bold;}
.home p{font-size:25px; font-weight:lighter; color:rgba(8, 0, 0, 0.78); text-transform:uppercase; margin-top:72px; margin-bottom:30px;}
.Hand {cursor:pointer}
.singupopen{box-shadow: none !important;background-color:#4dbed0 !important;color: #ffffff !important;margin-bottom: 8px;width: 100%;}
.loginPopUp{box-shadow: none;background-color: #fff;color: #000 !important;border: 1px solid #ddd;margin-bottom: 8px;width: 100%;}
.singupopen:hover{background-color: rgba(98, 171, 187, 0.51) !important;}
.loginPopUp:hover{background-color:rgba(216, 216, 216, 0.27) !important;}
.loginButton{width: 74% !important;color: #4dbea0 !important;margin-top: 10px!important;}
.loginButton:hover{background-color:rgba(216, 216, 216, 0.27) !important;}
.chargenmarchlogin{padding: 2px; border-radius:5px;padding-top: 10%;}
.chargenmarchlogin p{color:#fff;}
.registrationButton{margin-left: -29px;}
.registrationButton:hover{background-color: rgba(216, 216, 216, 0.27) !important;}
.chargenmarchlogin form{margin-left: -30px;}

::-webkit-input-placeholder {
opacity: 1.0;
color:gray !important;
}
:-moz-placeholder {
opacity: 1.0;
color:gray !important;
}
::-moz-placeholder {
opacity: 1.0;
color:gray !important;
}
:-ms-input-placeholder {
opacity: 1.0;
color:gray !important;
}

body.is-loading *, body.is-loading *:before, body.is-loading *:after {
	-moz-animation: none !important;
	-webkit-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
}
body {
	background-color: #f7f7f7;
	color: #999999;
	overflow-x:hidden;
	width: 100%;
    height: 100%;
}
body, input, textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14pt;
	font-weight: normal;
	line-height: 1.65;
}


body, input, textarea {
font-size: 12pt;
}


/*@media screen and (max-width: 1280px) {
body, input, textarea {
font-size: 11pt;
}
}*/
a{
	text-decoration: none;
}
strong, b {
	font-weight: normal;
}
em, i {
	font-style: italic;
}
p {
	margin: 0 0 2em 0;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	letter-spacing: -0.0125em;
	line-height: 1.5;
	margin: 0 0 0.8em 0;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: inherit;
	text-decoration: none;
}
h2 {
	font-size: 1.55em;
}
h3 {
	font-size: 1.25em;
}
h4 {
	font-size: 1em;
}
h5 {
	font-size: 0.8em;
}
h6 {
	font-size: 0.7em;
}


input[type="submit"], input[type="reset"], input[type="button"], button, .button {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	border-radius: 4px;
	border: 0;
	cursor: pointer;
	display: inline-block;
	font-size: 0.8em;
	font-weight: normal;
	height: 4.1em;
	letter-spacing: 0.25em;
	line-height: 4.25em;
	padding: 0 3em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
}
input[type="submit"].icon:before, input[type="reset"].icon:before, input[type="button"].icon:before, button.icon:before, .button.icon:before {
	margin-right: 0.5em;
}
#header {
	background-color: #ffffff;
	border-bottom: solid 1px rgba(144, 144, 144, 0.2);
	cursor: default;
	height: 3.25em;
	left: 0;
	line-height: 3.25em;
	position: fixed;
	text-align: right;
	top: 0;
	width: 86%;
	margin-left: 7%;
	margin-right: 7%;
	z-index: 999;
}
#header > h1 {
	color: #707070;
	display: inline-block;
	height: inherit;
	left: 1.25em;
	line-height:30px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
}
#header > h1 a {
	font-size: 24px
}
#header > a {
	-moz-transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
	color: inherit;
	display: inline-block;
	font-size: 0.8em;
	letter-spacing: 0.25em;
	padding: 0 0.75em;
	text-decoration: none;
	text-transform: uppercase;
}
#header > a[href="#menu"] {
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}
#header > a[href="#menu"]:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}
#header > a[href="#menu"]:before {
	content: '\f0c9';
	float: right;
	margin: 0 0 0 0.75em;
}
#header > a + a[href="#menu"]:last-child {
	border-left: solid 1px rgba(144, 144, 144, 0.2);
	padding-left: 2em;
	margin-left: 1em;
}
#header > a:last-child {
	padding-right: 1.25em;
}
.fa-trophy:before {
  content: "\f091";
}
.fa-book:before {
    content: "\f02d";
}
.fa-comments:before {
    content: "\f086";
}		
.prop p {
    margin-bottom: 0;
    padding: 0 0px!important
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 80em;
}
.fa-facebook-f:before, .fa-facebook:before {
    content: "\f09a";
}
.fa-google-plus:before {
    content: "\f0d5";
}
.fa-feed:before, .fa-rss:before {
    content: "\f09e";
}
.fa-pinterest:before {
    content: "\f0d2";
}
.fa-linkedin:before {
    content: "\f0e1";
}

	#slideout {
    position: fixed;
    top: 200px;
    right: 0;
    width: 35px;
    height:100px;
    padding: 12px 0;
    text-align: center;
    background: #6DAD53;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 5px 0px 0px 5px;
    z-index: 999;
}
#slideout_inner {
    right: -300px;
    background: #eee;
    width: 300px;
    padding: 25px;
    height: 328px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    text-align: left;
    -webkit-border-radius: 0 0 0px 5px;
    -moz-border-radius: 0 0 0px 5px;
    border-radius: 0 0 0px 5px;
    display: block;
    position: fixed;
    top: 200px;
    box-shadow: 0 0 0 4px rgba(255,255,255,0.2);
}
#slideout_inner input{
  padding-left: -21px;
}
#slideout_inner textarea{
  padding-left: 10px;
  height: 60px;
  width: 104%;
}
.close {
    background-image: url("../images/close.svg") !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: right top !important;
    border: 0px none;
    color: #999 !important;
    cursor: pointer;
    height: 3em;
    position: absolute;
    text-align: left;
    z-index: 9999;
    width: 36px;
    font-size: 25px;
    width: 3em;
    margin-left: 49%;
}
.feedbackButton{
	width: 103%;
	padding: 0px;
}
.onoffdivHeader{margin-left:44%;margin-top: 10px;}