@charset "utf-8";
/* CSS Document */

.container
{
width:1024px;
margin:auto;}
.row
{
width:100%;
}
.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12
{
float:left;
}

.col-md-2
{
width:20%;}
.col-md-12
{
width:100%;}
/* Failure Page CSS */

.errormsg
{
margin:40px auto;
padding:5px;
text-align:center;
width:90%;
background:#4ea3d8;
color:#fff;
font-size:22px;
font-weight:400;
font-family:Andalus, "Angsana New", Algerian;
font-style:italic;
height:50px
}
.errormsg img
{
border-radius:50%}
.errormsg span
{
font-size:28px;
color:#fff!important}
.sorrymsg
{
text-align:center;
font-size:22px;
color:#999;
font-weight:500;
width:100%;
font-family:Andalus, "Angsana New", Algerian}
.sorrymsg span
{
color:#4ea3d8!important;
font-size:32px}
.orderhistory
{
width:60%;
margin-left:20px}
.orderhistory table th
{
border:solid 1px #dadada;
background:#4ea3d8;
padding:5px;
color:black}
.orderhistory table td
{
border:solid 1px #dadada;
padding:5px;
color:#999;}
.button1
{
background:#4ea3d8;
color:#fff;
text-align:center;
padding:5px;
box-shadow:0 0 5px #4ea3d8;
width:200px;
margin-top:15px;
margin-left:50px}
.col-md-1
{
width:5%;
}
.button1 a
{
color:#fff;
font-family:Andalus, "Angsana New", Algerian;
font-size:16px}
.button1:hover
{
background:#4ea3d8;}
.msg
{
text-align:center;
font-size:18px;
color:#999;
font-weight:500;
width:67%;
font-family:Andalus, "Angsana New", Algerian;
margin:auto}
.line
{
width:300px;
height:1px;
border-bottom:solid 1px #999;
margin:auto;
margin-top:30px;
margin-bottom:30px}
.help
{
text-align:center;
font-size:18px;
color:#FFFFFF;
font-weight:400;
width:80%;
font-family:Andalus, "Angsana New", Algerian;
margin:auto;
padding:0px 0px 20px 0px}
 body
 {
 
 background:url(../images/finalbg.jpg) no-repeat;
 background-attachment:fixed
 }
 section
 {
 margin-top:140px;
 height:600px}
 .mid
 {
 padding-top:50px}

 .successTick{
 	padding: 11px;
 	margin-right: -125px;
    margin-top: -14px;
 }

.failureBackground{background: #f4f4f4;}

.failureText{color: #999;}
.failureText a{color: #4dbea0 !important;}
.col-md-4.button1:hover {
    background: #999;
}

/*#cssmenu ul ul a:before {
    margin-top: -1px !important;
}*/