.successmsg
{
color:#219DC5;
padding:10px
}
.successmsg span
{
color: #219DC5;
font-size: 23px;
font-weight: 600;
margin-left: -23px;
}


.mobo table tbody tr:nth-child(2n + 1)
{
background-color:#fff;
border:none}
.mobo table tr td
{
background:none;
padding:0px;
vertical-align:top;
text-align:justify}
.call
{
color:#000;
font-weight:600;
font-size:22px}
.subcall
{
color:#999999;
font-size:12px}
.mobo table tr
{
height:35px;}
table tbody tr
{
border-color:#fff}
.successtable
{
padding:20px;
}
.mobo
{
border:none;
padding:0px!important;
width:33%;
height:75px}
.calculation
{
background:#fff;
border-bottom:solid 1px #f4f4f4;
height:75px;
width:90%;}
.successmsg1 span
{
color:#219DC5;
font-size:16px;
cursor:pointer}
.bluecolor
{
color:#219DC5;
font-weight:700;}
.successmsg
{
color:#000;}
.lasttbl tr
{
background-color:#fff;
border:none;
}
.lasttbl tr td
{
padding:0px;
background-color:#fff;
}

.plusSuccess{border-radius:50%;position:absolute;margin-left:-15px;margin-top:10px}
.equalSuccess{border-radius:50%;position:absolute;margin-left:-35px;margin-top:10px}
.camAmount{font-weight:900;font-size:24px}

.ResetPassWordDiv{
	width: 50%;
    text-align: center;
    margin-left: 353px;
    border: 1px solid #fff;
    background-color: rgba(243, 243, 247,0.8);
    height: 276px;
    margin-top: 83px;
}

#resetPassword input[type="button"]:hover {
    background-color: #4dbea0;
}

.contactusDiv{
	width: 50%;
    text-align: center;
    margin-left: 353px;
    border: 1px solid #fff;
    background-color: rgba(243, 243, 247,0.8);
    height: 276px;
    margin-top: 83px;
}

.privacyPolicyDiv{
	    width: 80%;
    margin-left: 10%;
    border: 1px solid #fff;
    background-color: rgba(243, 243, 247,0.8);
    height: 500px;
    margin-top: 14px;
    height:600px;
    overflow: auto;
}

.tnc{
	 width: 80%;
    margin-left: 10%;
    border: 1px solid #fff;
    background-color: rgba(243, 243, 247,0.8);
    height: 500px;
    margin-top: 14px;
    height:600px;
    overflow: auto;
}
#tnc::-webkit-scrollbar { width: 1em; } 
#tnc::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); } 
#tnc::-webkit-scrollbar-thumb { background-color: #3fa7ba; outline: 1px solid slategrey; }

#privacypolicy::-webkit-scrollbar { width: 1em; } 
#privacypolicy::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); } 
#privacypolicy::-webkit-scrollbar-thumb { background-color: #3fa7ba; outline: 1px solid slategrey; }

.fontBold{
        font-weight: bold;
}

