@charset "UTF-8";
@font-face {
    font-family: GothamRounded-Book;
    src: url("../fonts/GothamRounded-Book_gdi.eot");
    src: url("../fonts/GothamRounded-Book_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamRounded-Book_gdi.woff") format("woff"), url("../fonts/GothamRounded-Book_gdi.ttf") format("truetype"), url("../fonts/GothamRounded-Book_gdi.svg#GothamRounded-Book") format("svg");
    font-weight: 325;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2212
}

@font-face {
    font-family: rupee_foradian;
    src: url("../fonts/rupee_foradian.eot");
    src: url("../fonts/rupee_foradian.eot?#iefix") format("embedded-opentype"), url("../fonts/rupee_foradian.woff") format("woff"), url("../fonts/rupee_foradian.ttf") format("truetype"), url("../fonts/rupee_foradian.svg#rupee_foradian") format("svg");
    font-weight: 325;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2212
}

/*@font-face {
    font-family: 'mbk_web_font';
    src: url("../fonts/mbk_web_font.eot?-xxxwp6");
    src: url("../fonts/mbk_web_font.eot?#iefix-xxxwp6") format("embedded-opentype"), url("../fonts/mbk_web_font.ttf?-xxxwp6") format("truetype"), url("../fonts/mbk_web_font.woff?-xxxwp6") format("woff"), url("../fonts/mbk_web_font.svg?-xxxwp6#mbk_web_font") format("svg");
    font-weight: normal;
    font-style: normal
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: 'mbk_web_font';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}*/

span:before,
i:before,
a:before,
em:before,
u:before {
    font-size: 25px;
    display: block;
    font-family: 'mbk_web_font';
    font-style: normal
}

span.icomobile:before,
span.icoprepaid:before,
span.icopostpaid:before,
i.icomobile:before,
i.icoprepaid:before,
i.icopostpaid:before,
a.icomobile:before,
a.icoprepaid:before,
a.icopostpaid:before,
em.icomobile:before,
em.icoprepaid:before,
em.icopostpaid:before,
u.icomobile:before,
u.icoprepaid:before,
u.icopostpaid:before {
    content: "a"
}

span.icodth:before,
i.icodth:before,
a.icodth:before,
em.icodth:before,
u.icodth:before {
    content: "b";
    font-weight:bold;
}

span.icodatacard:before,
span.icodatacardprepaid:before,
span.icodatacardpostpaid:before,
i.icodatacard:before,
i.icodatacardprepaid:before,
i.icodatacardpostpaid:before,
a.icodatacard:before,
a.icodatacardprepaid:before,
a.icodatacardpostpaid:before,
em.icodatacard:before,
em.icodatacardprepaid:before,
em.icodatacardpostpaid:before,
u.icodatacard:before,
u.icodatacardprepaid:before,
u.icodatacardpostpaid:before {
    content: "c";
    font-weight:bold;
}

span.icolandline:before{
        content: "d";
         font-weight:bold;
}

span.icooperator:before,
i.icooperator:before,
a.icooperator:before,
em.icooperator:before,
u.icooperator:before {
    content: "T"
}

span.icocircle-crisp:before,
i.icocircle-crisp:before,
a.icocircle-crisp:before,
em.icocircle-crisp:before,
u.icocircle-crisp:before {
    content: "A"
}

span.icorupee-crisp:before,
i.icorupee-crisp:before,
a.icorupee-crisp:before,
em.icorupee-crisp:before,
u.icorupee-crisp:before {
    content: "z"
}
span.icohash:before,
i.icohash:before,
a.icohash:before,
em.icohash:before,
u.icohash:before {
    content: "ý"
}

span.icohash:before,
i.icohash:before,
a.icohash:before,
em.icohash:before,
u.icohash:before {
    content: "ý"
}

.uiViewHome {
    position: relative
}

.uiViewHome [data-ui-view] {
    height: 465px
}

.uiViewHome [data-ui-view].ng-enter,
.uiViewHome [data-ui-view].ng-leave {
    position: absolute;
    left: 0;
    right: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out
}

.uiViewHome [data-ui-view].ng-enter {
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out
}

.uiViewHome [data-ui-view].ng-enter-active {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
}

.uiViewHome [data-ui-view].ng-leave {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.uiViewHome [data-ui-view].ng-leave-active {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0, 0);
    -moz-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0)
}

body {
    padding: 0px;
    margin: 0px;
    font-family: GothamRounded-Book, sans-serif;
    background-color: #fff;
    -webkit-font-smoothing: antialiased
}

body::-moz-selection {
    color: #fff;
    background: #3fa7ba
}

body::selection {
    color: #fff;
    background: #3fa7ba
}

div::-webkit-scrollbar,
section::-webkit-scrollbar,
ul::-webkit-scrollbar,
content::-webkit-scrollbar,
p::-webkit-scrollbar {
    width: 7px
}

div::-webkit-scrollbar-track,
section::-webkit-scrollbar-track,
ul::-webkit-scrollbar-track,
content::-webkit-scrollbar-track,
p::-webkit-scrollbar-track {
    background: #fff;
    box-shadow: none;
    border-radius: 0px
}

div::-webkit-scrollbar-thumb,
section::-webkit-scrollbar-thumb,
ul::-webkit-scrollbar-thumb,
content::-webkit-scrollbar-thumb,
p::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: none
}

.hombnr {
    position: relative;
    z-index: 0
}

#mainunit .drkovrlay {
    display: block;
    background: #000;
    opacity: 0;
    filter: alpha(opacity=20);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1
}


.mnUnit {
    margin: auto;
    width: 480px;
    padding-top: 100px
}

.mnUnit .lft {
    display: inline-block;
    vertical-align: middle;
    width: 480px;
    min-height: 351px;
    background: transparent;
    text-align:center;
}

.mnUnit .lft .mnUnitTb font {
    display: block;
    vertical-align: middle
}

.mnUnit .lft .mnUnitTb font a {
    display: inline-block;
    vertical-align: bottom;
    margin: 0;
    padding-bottom: 20px;
    position: relative;
    cursor: pointer;
    margin-right: -5px;
    font-size: 12px;
    box-sizing: border-box
}

.mnUnit .lft .mnUnitTb font a>span {
    display: block
}

.mnUnit .lft .mnUnitTb font a>span:before {
    padding-bottom: 10px
}

.mnUnit .lft .mnUnitTb font a:last-child {
    margin: 0 !important;
    left: 2px;
    position: relative;
    border-right: 0px
}

.frmnwrp {
    position: relative;
    z-index: 3;
    padding-top: 8px
}


.frm {
    background: #fff;
    padding: 20px;
    min-width: 400px;
    box-sizing: border-box;
    min-height: 351px;
    z-index: 2;
    position: relative;
    -webkit-box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2)
}

.frm p {
    margin-bottom: 15px;
    font-size: 16px
}

.mnUnitTb font a {
    width: 100px;
    text-align: center;
    color: #bfbcad;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s
}

.mnUnitTb font a.active.showArrow {
    color: #ffffff
}

.mnUnitTb font a.active.showArrow:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 10px 13px;
    border-color: rgba(255, 255, 255, 0.2) transparent;
    display: block;
    z-index: 1;
    left: 38px;
    bottom: 5px
}

.mnUnitTb font a.active.showArrow:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 8px 11px;
    border-color: #fff transparent;
    display: block;
    z-index: 1;
    left: 40px;
    bottom: 1px
}

.mnUnitTb font a:hover {
    color: #ffffff
}

.extend_orngBtn.small,
.small.orngBtn,
.small.bluBtn,
.small.gryBtn {
    height: 40px;
    font-size: 14px
}

.orngBtn {
    width: 100%;
    box-sizing: border-box
}

.orngBtn:disabled {
    opacity: .5
}

.bluBtn:disabled {
    opacity: .5
}

.bluBtn:hover {
    background-color: #2c8292
}

.gryBtn {
    background: #eeeeee;
    color: #a9a9a9;
    min-width: 120px
}

.gryBtn:hover {
    background-color: #dcdcdc
}

.soclBtn {
    text-align: center;
    margin: 0 0 15px 0
}

.fbBtn {
    display: inline-block;
    vertical-align: middle;
    background: #5a78ae;
    font-size: 14px;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -ms-border-radius: 3px 3px 3px 3px;
    -o-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    min-width: 245px;
    text-align: left
}

.fbBtn i {
    display: inline-block;
    vertical-align: middle;
    width: 17px;
    height: 33px;
    background: url(../images/service-icon-sprite.png) no-repeat -460px 0;
    margin: 6px 16px
}

.fbBtn span {
    display: inline-block;
    vertical-align: middle;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    padding: 14px 20px
}

.gglBtn {
    display: inline-block;
    vertical-align: middle;
    background: #da4835;
    font-size: 14px;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -ms-border-radius: 3px 3px 3px 3px;
    -o-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    min-width: 245px;
    text-align: left
}

.gglBtn i {
    display: inline-block;
    vertical-align: middle;
    width: 27px;
    height: 32px;
    background: url(../images/service-icon-sprite.png) no-repeat -480px 0;
    margin: 6px 11px
}

.gglBtn span {
    display: inline-block;
    vertical-align: middle;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    padding: 14px 20px
}

.loginFrm input[type="text"],
.loginFrm input[type="tel"],
.loginFrm input[type="password"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    border: none;
    border-bottom: 1px solid #3fa7ba !important;
    font-size: 16px;
    font-weight: 100;
    display: inline-block;
    vertical-align: middle;
    padding: 10px 10px 10px 0 !important;
    width: 100% !important;
    box-sizing: border-box;
    color: #707070
}

.check input[type="checkbox"] {
    display: inline-block;
    vertical-align: top;
    margin: 3px 8px 0 0;
    border: 1px solid #3fa7ba;
    padding: 6px
}

.rmbr label {
    color: #3fa7ba
}

.rmbr a {
    color: #3fa7ba;
    font-weight: 500;
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
    float: right
}

.brwsbtn {
    position: relative
}
.plnsSction p {
    width: 100%;
    padding: 0;
    margin: 0 !important;
    text-align: center
}

.plnsSction p a {
    display: block
}

.plnsSction p a b {
    display: inline-block !important;
    vertical-align: middle !important;
    background: url(tick_inactive.png) no-repeat center center;
    width: 20px !important;
    height: 20px !important;
    background-size: 20px auto
}

.plnsSction p a span {
    display: inline-block !important;
    vertical-align: middle !important;
    color: #989797;
    font-size: 12px;
    width: 87px !important
}

.plnsSction p a strong {
    display: inline-block !important;
    vertical-align: middle !important;
    color: #989797 !important;
    font-size: 12px !important;
    width: 87px !important;
    box-shadow: none !important;
    border-bottom: none !important
}

.plnsSction p a strong em {
    font-size: 10px;
    font-style: normal
}

.plnsSction p a:hover {
    background: #fafafa
}

.plnsSction p a:hover>b {
    display: inline-block;
    vertical-align: middle;
    background: url(tick.png) no-repeat center center/20px auto;
    width: 20px
}

.plnsSction p.head {
    border-bottom: 1px solid #efefef;
    padding: 10px 0;
    background-color: #F4F4F4
}

.plnsSction p.head font {
    color: #acacac;
    font-size: 13px;
    display: inline-block !important;
    vertical-align: middle !important;
    width: 126px !important;
    text-align: center;
    font-weight: bold;
    letter-spacing: -1px
}

.back-to-top {
    background: url(back-to-top.png) no-repeat right center;
    display: inline-block;
    position: fixed;
    right: 20px;
    bottom: 63px;
    background-size: 85% 85%;
    width: 65px;
    height: 65px
}

.error {
    font-size: 11px !important;
    position: relative
}

#mob_recharge p.error,
#dth_recharge p.error {
    font-size: 13px
}

#mob_recharge p.error select+span,
#dth_recharge p.error select+span {
    padding-top: 2px
}

form p.error span {
    font-size: 12px;
    padding-top: 2px;
    width: 300px;
    position: absolute;
    left: 0;
    bottom: -17px
}

ul.select-recharge-cat {
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    font-size: 13px;
    color: #a3a3a3
}

ul.select-recharge-cat li {
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer
}

ul.select-recharge-cat li.active {
    color: #fff;
    background: #3fa7ba
}

.cntnrMain {
    width: 980px;
    margin: 0 auto;
    padding: 50px 0
}

.cntnrMain .frm {
    width: 400px;
    margin: 0 auto
}

.ngdialog {
    background: rgba(0, 0, 0, 0.7);
    z-index: 8
}

.innrCntnt {
    margin: 0 auto;
    background: #fff;
    color: #333;
    position: relative;
    width: 825px;
    border-radius: 3px
}

.innrCntnt.jsForgotPassword,
.innrCntnt.jsPasswordRecovered {
    width: 500px
}

dl.customDropDown ul li:active {
    color: #faae8d;
    background: #fafafa
}

@-ms-keyframes heightanimate {
    from {
        height: 0px
    }
    to {
        height: auto
    }
}

@-moz-keyframes heightanimate {
    from {
        height: 0px
    }
    to {
        height: auto
    }
}

@-webkit-keyframes heightanimate {
    from {
        height: 0px
    }
    to {
        height: auto
    }
}

@keyframes heightanimate {
    from {
        height: 0px
    }
    to {
        height: auto
    }
}

.rechargeView {
    position: relative;
    margin-top: -1px;
    background-color: #fff;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);
    border-radius: 1px;
    padding: 0px 20px 15px 20px;
    display: inline-block
}

.frm.blackThm {
    min-width: 360px;
    box-sizing: border-box;
    min-height: 100%;
    z-index: 15;
    position: relative;
    padding: 0;
    box-shadow: none;
    background: #fff
}

.frm.blackThm *:focus {
    outline: 0
}

.frm.blackThm .savedconn {
    position: absolute;
    width: 100%;
    background: #efefef;
    z-index: 10;
    max-height: 200px;
    overflow-y: auto
}

.frm.blackThm .savedconn .conn {
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
    padding: 10px 25px;
    line-height: 25px;
    cursor: pointer
}

.frm.blackThm .savedconn .conn:hover {
    background: #fafafa
}

.frm.blackThm .savedconn label {
    color: #777;
    font-size: 13px;
    font-weight: 600;
    padding: 0 7px;
    cursor: pointer
}

.frm.blackThm .savedconn span {
    font-size: 13px;
    color: #777;
    cursor: pointer
}

.frm.blackThm form {
    position: relative
}

.frm.blackThm form.mobileForm .customDropDown dd.open ul li:nth-child(1),
.frm.blackThm form.datacardForm .customDropDown dd.open ul li:nth-child(1) {
    display: none
}

.frm.blackThm.withgap {
    padding: 30px
}

.frm.blackThm.autoheight {
    min-height: inherit
}

.frm.blackThm #enteremail .entrEml {
    padding: 10px 0 0 0
}

.frm.blackThm #enteremail .entrEml span {
    color: #505050;
    display: block;
    vertical-align: middle;
    width: inherit;
    font-weight: bold
}

.frm.blackThm #enteremail .entrEml span font {
    display: block !important;
    font-size: 14px;
    text-align: left
}

.frm.blackThm #enteremail .entrEml span i {
    display: block;
    font-size: 15px;
    font-style: normal;
    margin: 5px 0
}

.frm.blackThm #enteremail .entrEml span em {
    font-style: normal;
    font-size: 24px;
    float: right;
    margin-top: -20px;
    color: #3fa7ba
}

.frm.blackThm #enteremail .frmControl {
    border-bottom: 0
}

.frm.blackThm #enteremail .frmControl .label_check {
    padding-left: 32px;
    line-height: 60px
}

.frm.blackThm #enteremail .frmControl .label_check input[type="checkbox"] {
    vertical-align: middle;
    margin-top: 0;
    margin-right: 23px
}

.frm.blackThm #enteremail a {
    color: #dfdfdb
}

.frm.blackThm .ordrSmr {
    padding: 10px 0
}

.frm.blackThm .ordrSmr p {
    border-bottom: 0;
    font-size: 13px;
    color: #505050
}

.frm.blackThm .ordrSmr .logosec span {
    display: block;
    vertical-align: middle;
    width: inherit;
    font-weight: bold
}

.frm.blackThm .ordrSmr .logosec span font {
    display: block !important;
    font-size: 14px;
    text-align: left
}

.frm.blackThm .ordrSmr .logosec span i {
    display: block;
    font-size: 15px;
    font-style: normal;
    margin: 5px 0
}

.frm.blackThm .ordrSmr .logosec span strong {
    max-width: 215px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap
}

.frm.blackThm .ordrSmr .logosec span em {
    font-style: normal;
    font-size: 24px;
    float: right;
    margin-top: -20px;
    color: #3fa7ba;
    font-weight: normal
}

.frm.blackThm .ordrSmr .walletbalance {
    font-weight: bold
}

.frm.blackThm .ordrSmr .walletbalance .curr {
    color: #3fa7ba
}

.frm.blackThm p {
    margin-bottom: 0px;
    padding: 0;
    font-size: 16px
}

.frm.blackThm p input[type="text"]:focus,
.frm.blackThm p input[type="tel"]:focus,
.frm.blackThm p input[type="email"]:focus,
.frm.blackThm p input[type="password"]:focus,
.frm.blackThm p select:focus {
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s
}

.frm.blackThm p select:focus {
    outline: 0px
}

.frm.blackThm p::-webkit-input-placeholder {
    color: #838c8d
}

.frm.blackThm p::-moz-placeholder {
    color: #838c8d
}

.frm.blackThm p:-ms-input-placeholder {
    color: #838c8d
}

.frm.blackThm p input:-moz-placeholder {
    color: #838c8d
}

.frm.blackThm p>i {
    padding-left: 8px;
    font-style: normal;
    display: inline-block;
    line-height: 60px;
    vertical-align: middle;
    width: 34px;
    box-sizing: border-box
}

.frm.blackThm p>i:before {
    font-size: 21px
}

.frm.blackThm p strong {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    text-align: center;
    color: #dcdcdc;
    border-bottom: 1px solid #e8f3f2;
    padding: 0;
    line-height: 20px;
    -webkit-box-shadow: 0 1px 0 0 #ccc;
    -moz-box-shadow: 0 1px 0 0 #ccc;
    -ms-box-shadow: 0 1px 0 0 #ccc;
    -o-box-shadow: 0 1px 0 0 #ccc;
    box-shadow: 0 1px 0 0 #ccc;
    font-size: 16px;
    font-weight: 100;
    margin: 0 0 1px 0
}

.frm.blackThm p input[type="text"],
.frm.blackThm p textarea,
.frm.blackThm p input[type="tel"],
.frm.blackThm p input[type="email"],
.frm.blackThm p input[type="password"] {
    appearance: none;
    -webkit-appearance: none;
    border: 0px;
    display: inline-block;
    line-height: 60px;
    vertical-align: middle;
    padding: 20px 0 20px 0px;
    width: 82%;
    border-bottom: none;
    box-sizing: border-box;
    background-color: transparent;
    font-size: 13px;
    font-weight: 100;
    color: #838c8d;
    line-height: 19px;
    box-shadow: none
}

.frm.blackThm p select {
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    color: #838c8d;
    padding: 0 0 0 15px;
    width: 82%;
    line-height: 60px;
    letter-spacing: 1px;
    background: url(select-arrow.png) no-repeat 95% center transparent;
    border-bottom: none;
    box-shadow: none;
    font-size: 14px;
    font-weight: 100
}

.frm.blackThm p select option {
    color: #000
}

.frm.blackThm p select option:first-child {
    color: #b0b0b0
}

.frm.blackThm p label {
    color: #838c8d;
    font-size: 13px;
    font-weight: 100;
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px 0 0
}

.frm.blackThm p label input[type="radio"] {
    display: inline-block;
    vertical-align: top;
    margin: 2px 5px 0 0;
    display: none
}

.frm.blackThm p label input[type="radio"]:checked+.cstmsd_radio {
    background: url(../images/service-icon-sprite.png) no-repeat -256px -178px
}

.frm.blackThm p label input[type="radio"]+.cstmsd_radio {
    background: url(../images/service-icon-sprite.png) no-repeat -256px -205px
}

.frm.blackThm p label .cstmsd_radio {
    height: 24px;
    width: 24px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-top: -2px
}

.frm.blackThm p span {
    display: inline-block;
    vertical-align: middle;
    width: auto
}

.frm.blackThm p span i {
    vertical-align: middle;
    margin: 0 4px 0 0;
    color: #505050;
    font-style: normal;
    font-size: 18px;
    font-weight: 600
}

.frm.blackThm p span em {
    color: #2ccac6;
    display: inline-block;
    vertical-align: middle;
    margin: 0 4px 0 0;
    font-style: normal;
    font-size: 18px;
    font-weight: 500
}

.frm.blackThm p b {
    text-align: right;
    display: block
}

.frm.blackThm p b a {
    color: #a8a8a8;
    font-size: 12px;
    font-weight: normal;
    -webkit-box-shadow: 0 1px 0px 0px #f0f0f0;
    -moz-box-shadow: 0 1px 0px 0px #f0f0f0;
    -ms-box-shadow: 0 1px 0px 0px #f0f0f0;
    -o-box-shadow: 0 1px 0px 0px #f0f0f0;
    box-shadow: 0 1px 0px 0px #f0f0f0
}

.frm.blackThm p.radioFamily {
    padding-left: 8px;
    line-height: 60px
}

.frm.blackThm p.radioFamily:focus {
    outline: none
}

.frm.blackThm p.checkboxFamily {
    line-height: 50px;
    padding-left: 8px
}

.frm.blackThm p.checkboxFamily label {
    color: #909090;
    font-size: 13px;
    display: inline-block;
    font-weight: bold;
    margin: 0
}

.frm.blackThm p.checkboxFamily label input[type="checkbox"] {
    margin-right: 5px;
    display: none
}

.frm.blackThm p.checkboxFamily label input[type="checkbox"]:checked+.cstmsd_check:before {
    content: "$";
    height: 20px;
    width: 20px;
    font-family: 'mbk_web_font';
    font-style: normal
}

.frm.blackThm p.checkboxFamily label input[type="checkbox"]+.cstmsd_check {
    vertical-align: middle
}

.frm.blackThm p.checkboxFamily label input[type="checkbox"]+.cstmsd_check:before {
    content: "#";
    display: inline-block;
    font-size: 14px;
    color: #3fa7ba;
    height: 20px;
    width: 20px;
    font-family: 'mbk_web_font';
    font-style: normal
}

.frm.blackThm p.checkboxFamily .label_check a,
.frm.blackThm p.checkboxFamily.label_check a {
    text-decoration: underline;
    color: #909090 !important
}

.frm.blackThm p.promocode {
    padding-left: 14px
}

.frm.blackThm p.promocode .promoBtn {
    color: #3fa7ba;
    background: none;
    border: none;
    font-size: 13px;
    font-weight: bold;
    position: absolute;
    margin-top: 23px;
    right: 3px;
    cursor: pointer
}

.frm.blackThm .brwsbtn {
    position: relative
}

.frm.blackThm .brwsbtn a {
    color: #3fa7ba;
    font-size: 13px;
    border-bottom: 1px dotted #3fa7ba;
    display: inline-block;
    text-align: right;
    box-shadow: none;
    position: absolute;
    top: 21px;
    right: 10px;
    width: auto;
    visibility: visible;
    white-space: nowrap;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s
}

.frm.blackThm dl.customDropDown ul li:active,
.frm.blackThm dl.customDropDown ul li.activeTab {
    color: #faae8d;
    background: #f3f3f3
}

.frm.blackThm .customDropDown {
    display: inline-block;
    vertical-align: top;
    margin-right: 0;
    line-height: 60px
}

.frm.blackThm .customDropDown:focus {
    outline: none
}

.frm.blackThm .customDropDown dd.options:before {
    background: url(down-arrow.png) no-repeat;
    content: '';
    height: 10px;
    right: 5px;
    margin-top: -32px;
    width: 14px;
    display: block;
    z-index: 2;
    position: absolute;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s
}

.frm.blackThm .customDropDown dd.open:before {
    background: url(down-arrow.png) no-repeat;
    content: '';
    height: 10px;
    right: 5px;
    margin-top: -41px;
    width: 14px;
    display: block;
    z-index: 2;
    position: absolute;
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV"
}

.frm.blackThm .customDropDown dd.open ul {
    display: block;
    animation-duration: 0.4s;
    animation-name: smoothtoggle
}

.frm.blackThm .customDropDown dd ul {
    display: none
}

.frm.blackThm .customDropDown dt {
    border: 0;
    width: 320px;
    padding: 0;
    font-size: 13px;
    color: #838c8d;
    border-radius: 3px;
    background: none
}

.frm.blackThm .customDropDown dt span {
    vertical-align: top;
    margin-top: 0px;
    display: inline-block;
    margin-left: 0px
}

.frm.blackThm .customDropDown dt li {
    list-style-type: none
}

.frm.blackThm .customDropDown.vendors dt {
    padding: 7px 25px 7px 10px
}

.frm.blackThm .customDropDown.vendors dt input {
    border: none;
    color: #bdbdbd;
    font-size: 14px
}

.frm.blackThm .customDropDown img {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle
}

.frm.blackThm .customDropDown ul {
    overflow: hidden;
    width: 360px;
    box-sizing: border-box;
    left: 0;
    z-index: 4;
    background: #f7f7f7;
    height: 100%;
    max-height: 194px;
    margin-top: 1px;
    overflow-y: auto;
    box-shadow: none
}

.frm.blackThm .customDropDown ul::-webkit-scrollbar {
    width: 7px
}

.frm.blackThm .customDropDown ul::-webkit-scrollbar-track {
    background: #fff;
    box-shadow: inset 0px 0px 8px 0px rgba(134, 134, 134, 0.5);
    border-radius: 0px
}

.frm.blackThm .customDropDown ul::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: rgba(134, 134, 134, 0.5)
}

.frm.blackThm .customDropDown ul li {
    list-style-type: none;
    padding: 10px 0 10px 9px;
    line-height: 25px;
    color: #bdbdbd;
    border-bottom: 1px solid #eeeeee;
    font-size: 12px;
    width: 99%;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    white-space: initial
}

.frm.blackThm .customDropDown ul li:last-child {
    border-bottom: none
}

.frm.blackThm .customDropDown ul li span {
    margin-left: 9px;
    color: #333333;
    font-size: 12px;
    display: inline-block;
    vertical-align: middle
}

.frm.blackThm .customDropDown.gridDrop dd.open ul {
    width: 490px;
    padding: 20px
}

.frm.blackThm .customDropDown.gridDrop dd.open ul li {
    width: 144px;
    height: 96px;
    display: inline-block;
    border-bottom: 0px;
    padding: 10px 0 0 0;
    vertical-align: top;
    text-align: center;
    cursor: pointer
}

.frm.blackThm .customDropDown.gridDrop dd.open ul li .ddImg {
    display: block;
    margin-bottom: 3px
}

.frm.blackThm .customDropDown.gridDrop dd.open ul li>div {
    margin: 0 auto 4px
}

.frm.blackThm .customDropDown.gridDrop dd.open ul li span {
    font-size: 12px;
    width: auto;
    margin-left: 0px;
    line-height: 15px;
    vertical-align: top
}

.frm.blackThm .popover {
    display: none;
    padding: 15px 10px 10px 10px;
    position: absolute;
    left: 22px;
    bottom: -5px;
    background: #fff;
    box-shadow: 0 0 6px #ccc
}

.frm.blackThm .popover:before {
    content: '';
    width: 17px;
    position: absolute;
    left: -15px;
    top: 0;
    height: 100%;
    display: block
}

.frm.blackThm .popover .close {
    position: absolute;
    top: 2px;
    right: 9px;
    font-size: 20px;
    color: #333;
    font-weight: 100
}

.frm.blackThm .popover .arrow {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #fff;
    display: block;
    z-index: 1;
    left: 0px;
    bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #fff;
    transform-origin: 0 0;
    transform: rotate(45deg);
    box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.07)
}

.frm.blackThm .frmControl {
    -webkit-box-shadow: inset 0px -2px 0px 0px #e0e0e0;
    -moz-box-shadow: inset 0px -2px 0px 0px #e0e0e0;
    height: 60px
}

.frm.blackThm .frmControl:after {
    content: '';
    height: 2px;
    width: 100%;
    display: block;
    top: -2px;
    position: relative;
    -webkit-transform: none;
    transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    -webkit-transition: -webkit-transform 0.25s;
    transition: transform 0.25s;
    -moz-transition: transform 0.25s;
    -o-transition: transform 0.25s;
    -ms-transition: transform 0.25s;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -moz-transform-origin: center center;
    -o-transform-origin: center center;
    -ms-transform-origin: center center;
    -webkit-transform: scale(0);
    transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0)
}

.frm.blackThm .frmControl.pointed .error {
    visibility: hidden
}

.frm.blackThm .frmControl.pointed .error.promoSuccess {
    visibility: visible;
    color: #3fa7ba
}

.frm.blackThm .frmControl.pointed .error.promoFailure {
    visibility: visible;
    color: #fb4848
}

.frm.blackThm .frmControl.pointed .infotxt {
    margin-top: -20px;
    display: block;
    color: #454545 !important;
    position: absolute;
    padding-left: 39px;
    min-height: 15px;
    font-size: 11px
}

.frm.blackThm .frmControl.pointed:after {
    background: none;
    -webkit-transform: scale(1);
    transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1)
}

.frm.blackThm .frmControl.failure .error {
    visibility: visible
}

.frm.blackThm .frmControl.failure .error+.infotxt {
    display: none
}

.frm.blackThm .frmControl.failure:after {
    background: #db4437;
    -webkit-transform: scale(1);
    transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1)
}

.frm.blackThm .frmControl.pointed.failure .error {
    visibility: visible
}

.frm.blackThm .frmControl.noline {
    box-shadow: none
}

.frm.blackThm .frmControl.noline:after {
    display: none
}

.frm.blackThm .frmControl .infotxt {
    display: none
}

.frm.blackThm .frmControl.noline {
    box-shadow: none
}

.frm.blackThm .frmControl.noline:after {
    display: none
}

.frm.blackThm .frmControl.jsVisible {
    color: #454545
}

.frm.blackThm .frmControl:focus,
.frm.blackThm .frmControl:hover {
    color: #454545
}

.frm.blackThm .frmControl.spltBtnWrap .spltBtn {
    display: flex;
    display: -webkit-flex
}

.frm.blackThm .frmControl.spltBtnWrap .spltBtn input[type=button],
.frm.blackThm .frmControl.spltBtnWrap .spltBtn input[type=submit],
.frm.blackThm .frmControl.spltBtnWrap .spltBtn button {
    width: 48%;
    margin: 0;
    display: block
}

.frm.blackThm .frmControl.spltBtnWrap .spltBtn input[type=button]:first-of-type,
.frm.blackThm .frmControl.spltBtnWrap .spltBtn input[type=submit]:first-of-type,
.frm.blackThm .frmControl.spltBtnWrap .spltBtn button:first-of-type {
    margin-right: 2%
}

.frm.blackThm .frmControl:last-of-type {
    margin: 0;
    bottom: 0;
    width: 100%;
    padding: 0px;
    border-bottom: 0px;
    position: inherit
}

.frm.blackThm .frmControl.infotext {
    text-align: center;
    height: auto;
    padding: 6px 0 18px 0
}

.frm.blackThm .frmControl.infotext i {
    display: inline-block;
    vertical-align: top;
    position: relative;
    font-style: normal;
    margin: 1px 0 0 3px
}

.frm.blackThm .frmControl.infotext i:hover .popover {
    display: block
}

.frm.blackThm .frmControl.infotext i:before {
    font-size: 14px
}

.frm.blackThm .frmControl.prmBox {
    height: auto;
    min-height: 60px
}

.frm.blackThm .frmControl.prmBox:after {
    top: auto
}

.frm.blackThm p+.error {
    margin-top: -35px;
    display: block;
    color: #fb4848;
    position: absolute;
    padding-left: 37px;
    font-size: 11px;
    min-height: 15px;
    visibility: hidden
}

.frm.blackThm p+.error.promoFailure {
    position: static;
    line-height: 12px;
    padding: 0px 0px 5px 39px
}

table tbody tr
{
background-color:#fff!important;
border-color:#fff}
table tr td
{
padding:0px}
.dd-container a
{
color:#999!important;
font-weight:100!important;
font-size:13px!important}
.dd-container
{
text-align:justify!important}
.frmControl i
{
color:#999!important;}
.dd-options li
{
padding-left:0px!important;
height:30px!important
}
.dd-option
{
padding:8px!important;
height:30px!important
}
.dd-selected label
{
margin:0px!important}
.frmControl p
{
font-size:16px!important;
margin:0px!important
}
#plandata tr td
{
font-size:14px} 
#plandata1 tr td
{
font-size:14px} 
#mobileicon,#dthicon,#datacardicon,#landlineicon {height: 80px;margin-bottom: 10px;}

#mobileicon span:before{font-size: 50px;margin-top: -10px;}
#dthicon span:before,#datacardicon span:before,#landlineicon span:before{font-size: 40px;}
.title_circle{
border-radius: 50%;
height: 80px;
margin: auto;
padding: 10px;
width: 80px;
text-align: center;
}
.mobileBack{background: #3fa7ba none repeat scroll 0% 0%;}
.dthBack{background: #4DB6AC none repeat scroll 0% 0%;}
.dataBack{background: #00897B none repeat scroll 0% 0%}
.landlineBack{background: #5f7c8a none repeat scroll 0% 0%}

.colorbordermobile{color: #fff;}
.colorborderdth{color: #fff;}
.colorborderdatacard{color: #fff;}
.colorborderlandline{color: #fff;}

.mnUnitTb font a.active span.colorbordermobile{border-bottom: 2px solid #3fa7ba !important;color: #fff!important;}
.mnUnitTb font a.active span.colorborderdth{border-bottom: 2px solid #4DB6AC !important;color: #fff!important;}
.mnUnitTb font a.active span.colorborderdatacard{border-bottom: 2px solid #00897B !important;color: #fff!important;}
.mnUnitTb font a.active span.colorborderlandline{border-bottom: 2px solid #5f7c8a !important;color: #fff!important;}
.mnUnitTb font a.active span{font-size: 18px;}
.d2hBtn{background:#4DB6AC none repeat scroll 0% 0% !important;width: 100%;}
.dataBtn{background: #00897B none repeat scroll 0% 0% !important;width: 100%;margin-left: -2px;}
.bluBtn {width: 100% !important;box-sizing: border-box !important;background: #3fa7ba !important;margin-left: -2px;}
.landlineBtn {width: 100% !important;box-sizing: border-box !important;background: #5f7c8a !important;margin-left: -2px;}



#mobilePlan {
    -moz-transform: translateX(26em);
    -webkit-transform: translateX(26em);
    -ms-transform: translateX(26em);
    transform: translateX(26em);
    -moz-transition: -moz-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
    -webkit-transition: -webkit-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
    -ms-transition: -ms-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
    transition: transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
    -webkit-overflow-scrolling: touch;
    background: #ffffff;
    border-left: solid 1px rgba(144, 144, 144, 0.2);
    box-shadow: none;
    height: 100%;
    max-width: 100%;
    overflow-y: auto;
    padding: 3em 1em;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    width: 29em;
    z-index: 10002;
}
#mobilePlan > ul {
    margin: 0 0 1em 0;
}
#mobilePlan > ul.footerlink {
    list-style: none;
    padding: 0;
}
#mobilePlan > ul.footerlink > li {
    padding: 0;
    text-align:justify
}
#mobilePlan > ul.footerlink > li > a:not(.button) {
border: 0;
border-top: solid 1px rgba(144, 144, 144, 0.2);
color: inherit;
display: block;
line-height: 3.5em;
text-decoration: none;
}
#mobilePlan > ul.footerlink > li > .button {
    display: block;
    margin: 0.5em 0 0 0;
}
#mobilePlan > ul.footerlink > li:first-child > a:not(.button) {
border-top: 0 !important;

}
#mobilePlan .close {
    background-image: url("../images/close.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;
    -webkit-tap-highlight-color: transparent;
    border: 0;
    color: #999999;
    cursor: pointer;
    display: block;
    height: 3.5em;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    vertical-align: middle;
    width: 6em;
}
#mobilePlan .close:before {
    font-size: 1.25em;
}
#mobilePlan .close:hover {
    color: #707070;
}
@media screen and (max-width: 736px) {
#mobilePlan .close {
height: 4em;
line-height: 4em;
}
}
#mobilePlan.visible {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.05);
    visibility: visible;
}
@media screen and (max-width: 736px) {
#mobilePlan {
padding: 2.5em 1.75em;
}
#mobilePlan .close {
background-size: 50%;
}
}


.planTab{
    color: black;
    cursor: pointer;
    width: auto;
    display: inline-block;
    text-align: center;
    border: 2px solid #3FA7BA;
    border-radius: 30px;
    padding: 5px;
    margin: 5px;
    font-size: 11px;
}
#mobileplanOverlay{width: 100%;height: 100%;position: fixed;top: 0px;bottom: 0px;right: 0px;left: 0px;background: transparent none repeat scroll 0px center;z-index: 9999;background-color: #000;opacity: 0.7;}

.ActivePlanTab{    background: #3FA7BA;color: #fff;}
.HiddenImp{display: none !important;}
