@charset "utf-8";
/* CSS Document */

/*!
 *  Font Awesome 4.4.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
body {
	-webkit-text-size-adjust: none;
	line-height: 1;
	-ms-overflow-style: scrollbar;
}
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.DispNone{display: none;}

@font-face {
    font-family: 'mbk_web_font';
    src: url("../fonts/mbk_web_font.eot?-xxxwp6");
    src: url("../fonts/mbk_web_font.eot?#iefix-xxxwp6") format("embedded-opentype"), url("../fonts/mbk_web_font.ttf?-xxxwp6") format("truetype"), url("../fonts/mbk_web_font.woff?-xxxwp6") format("woff"), url("../fonts/mbk_web_font.svg?-xxxwp6#mbk_web_font") format("svg");
    font-weight: normal;
    font-style: normal
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: 'mbk_web_font';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

span::before, i::before, a::before, em::before, u::before {
   display: block;
    font-family: "mbk_web_font";
    font-size: 25px;
    font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome/fontawesome-webfont.eot?v=4.5.0');
  src: url('../fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('../fonts/fontawesome/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('../fonts/fontawesome/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('../fonts/fontawesome/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('../fonts/fontawesome/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.fa-2x {
  font-size: 2em;
}
.fa-3x {
  font-size: 3em;
}
.fa-4x {
  font-size: 4em;
}
.fa-5x {
  font-size: 5em;
}
.fa-fw {
  width: 1.28571429em;
  text-align: center;
}
.fa-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.fa-ul > li {
  position: relative;
}
.fa-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.fa-li.fa-lg {
  left: -1.85714286em;
}
.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}
.fa-pull-left {
  float: left;
}
.fa-pull-right {
  float: right;
}
.fa.fa-pull-left {
  margin-right: .3em;
}
.fa.fa-pull-right {
  margin-left: .3em;
}
/* Deprecated as of 4.4.0 */
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.fa.pull-left {
  margin-right: .3em;
}
.fa.pull-right {
  margin-left: .3em;
}
.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.fa-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.fa-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.fa-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.fa-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.fa-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none;
}
.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.fa-stack-1x,
.fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.fa-stack-1x {
  line-height: inherit;
}
.fa-stack-2x {
  font-size: 2em;
}
.fa-inverse {
  color: #ffffff;
}
/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: "\f000";
}
.fa-music:before {
  content: "\f001";
}
.fa-search:before {
  content: "\f002";
}
.fa-envelope-o:before {
  content: "\f003";
}
.fa-heart:before {
  content: "\f004";
}
.fa-star:before {
  content: "\f005";
}
.fa-star-o:before {
  content: "\f006";
}
.fa-user:before {
  content: "\f007";
}
.fa-film:before {
  content: "\f008";
}
.fa-th-large:before {
  content: "\f009";
}
.fa-th:before {
  content: "\f00a";
}
.fa-th-list:before {
  content: "\f00b";
}
.fa-check:before {
  content: "\f00c";
}
.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: "\f00d";
}
.fa-search-plus:before {
  content: "\f00e";
}
.fa-search-minus:before {
  content: "\f010";
}
.fa-power-off:before {
  content: "\f011";
}
.fa-signal:before {
  content: "\f012";
}
.fa-gear:before,
.fa-cog:before {
  content: "\f013";
}
.fa-trash-o:before {
  content: "\f014";
}
.fa-home:before {
  content: "\f015";
}
.fa-file-o:before {
  content: "\f016";
}
.fa-clock-o:before {
  content: "\f017";
}
.fa-road:before {
  content: "\f018";
}
.fa-download:before {
  content: "\f019";
}
.fa-arrow-circle-o-down:before {
  content: "\f01a";
}
.fa-arrow-circle-o-up:before {
  content: "\f01b";
}
.fa-inbox:before {
  content: "\f01c";
}
.fa-play-circle-o:before {
  content: "\f01d";
}
.fa-rotate-right:before,
.fa-repeat:before {
  content: "\f01e";
}
.fa-refresh:before {
  content: "\f021";
}
.fa-list-alt:before {
  content: "\f022";
}
.fa-lock:before {
  content: "\f023";
}
.fa-flag:before {
  content: "\f024";
}
.fa-headphones:before {
  content: "\f025";
}
.fa-volume-off:before {
  content: "\f026";
}
.fa-volume-down:before {
  content: "\f027";
}
.fa-volume-up:before {
  content: "\f028";
}
.fa-qrcode:before {
  content: "\f029";
}
.fa-barcode:before {
  content: "\f02a";
}
.fa-tag:before {
  content: "\f02b";
}
.fa-tags:before {
  content: "\f02c";
}
.fa-book:before {
  content: "\f02d";
}
.fa-bookmark:before {
  content: "\f02e";
}
.fa-print:before {
  content: "\f02f";
}
.fa-camera:before {
  content: "\f030";
}
.fa-font:before {
  content: "\f031";
}
.fa-bold:before {
  content: "\f032";
}
.fa-italic:before {
  content: "\f033";
}
.fa-text-height:before {
  content: "\f034";
}
.fa-text-width:before {
  content: "\f035";
}
.fa-align-left:before {
  content: "\f036";
}
.fa-align-center:before {
  content: "\f037";
}
.fa-align-right:before {
  content: "\f038";
}
.fa-align-justify:before {
  content: "\f039";
}
.fa-list:before {
  content: "\f03a";
}
.fa-dedent:before,
.fa-outdent:before {
  content: "\f03b";
}
.fa-indent:before {
  content: "\f03c";
}
.fa-video-camera:before {
  content: "\f03d";
}
.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: "\f03e";
}
.fa-pencil:before {
  content: "\f040";
}
.fa-map-marker:before {
  content: "\f041";
}
.fa-adjust:before {
  content: "\f042";
}
.fa-tint:before {
  content: "\f043";
}
.fa-edit:before,
.fa-pencil-square-o:before {
  content: "\f044";
}
.fa-share-square-o:before {
  content: "\f045";
}
.fa-check-square-o:before {
  content: "\f046";
}
.fa-arrows:before {
  content: "\f047";
}
.fa-step-backward:before {
  content: "\f048";
}
.fa-fast-backward:before {
  content: "\f049";
}
.fa-backward:before {
  content: "\f04a";
}
.fa-play:before {
  content: "\f04b";
}
.fa-pause:before {
  content: "\f04c";
}
.fa-stop:before {
  content: "\f04d";
}
.fa-forward:before {
  content: "\f04e";
}
.fa-fast-forward:before {
  content: "\f050";
}
.fa-step-forward:before {
  content: "\f051";
}
.fa-eject:before {
  content: "\f052";
}
.fa-chevron-left:before {
  content: "\f053";
}
.fa-chevron-right:before {
  content: "\f054";
}
.fa-plus-circle:before {
  content: "\f055";
}
.fa-minus-circle:before {
  content: "\f056";
}
.fa-times-circle:before {
  content: "\f057";
}
.fa-check-circle:before {
  content: "\f058";
}
.fa-question-circle:before {
  content: "\f059";
}
.fa-info-circle:before {
  content: "\f05a";
}
.fa-crosshairs:before {
  content: "\f05b";
}
.fa-times-circle-o:before {
  content: "\f05c";
}
.fa-check-circle-o:before {
  content: "\f05d";
}
.fa-ban:before {
  content: "\f05e";
}
.fa-arrow-left:before {
  content: "\f060";
}
.fa-arrow-right:before {
  content: "\f061";
}
.fa-arrow-up:before {
  content: "\f062";
}
.fa-arrow-down:before {
  content: "\f063";
}
.fa-mail-forward:before,
.fa-share:before {
  content: "\f064";
}
.fa-expand:before {
  content: "\f065";
}
.fa-compress:before {
  content: "\f066";
}
.fa-plus:before {
  content: "\f067";
}
.fa-minus:before {
  content: "\f068";
}
.fa-asterisk:before {
  content: "\f069";
}
.fa-exclamation-circle:before {
  content: "\f06a";
}
.fa-gift:before {
  content: "\f06b";
}
.fa-leaf:before {
  content: "\f06c";
}
.fa-fire:before {
  content: "\f06d";
}
.fa-eye:before {
  content: "\f06e";
}
.fa-eye-slash:before {
  content: "\f070";
}
.fa-warning:before,
.fa-exclamation-triangle:before {
  content: "\f071";
}
.fa-plane:before {
  content: "\f072";
}
.fa-calendar:before {
  content: "\f073";
}
.fa-random:before {
  content: "\f074";
}
.fa-comment:before {
  content: "\f075";
}
.fa-magnet:before {
  content: "\f076";
}
.fa-chevron-up:before {
  content: "\f077";
}
.fa-chevron-down:before {
  content: "\f078";
}
.fa-retweet:before {
  content: "\f079";
}
.fa-shopping-cart:before {
  content: "\f07a";
}
.fa-folder:before {
  content: "\f07b";
}
.fa-folder-open:before {
  content: "\f07c";
}
.fa-arrows-v:before {
  content: "\f07d";
}
.fa-arrows-h:before {
  content: "\f07e";
}
.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: "\f080";
}
.fa-twitter-square:before {
  content: "\f081";
}
.fa-facebook-square:before {
  content: "\f082";
}
.fa-camera-retro:before {
  content: "\f083";
}
.fa-key:before {
  content: "\f084";
}
.fa-gears:before,
.fa-cogs:before {
  content: "\f085";
}
.fa-comments:before {
  content: "\f086";
}
.fa-thumbs-o-up:before {
  content: "\f087";
}
.fa-thumbs-o-down:before {
  content: "\f088";
}
.fa-star-half:before {
  content: "\f089";
}
.fa-heart-o:before {
  content: "\f08a";
}
.fa-sign-out:before {
  content: "\f08b";
}
.fa-linkedin-square:before {
  content: "\f08c";
}
.fa-thumb-tack:before {
  content: "\f08d";
}
.fa-external-link:before {
  content: "\f08e";
}
.fa-sign-in:before {
  content: "\f090";
}
.fa-trophy:before {
  content: "\f091";
}
.fa-github-square:before {
  content: "\f092";
}
.fa-upload:before {
  content: "\f093";
}
.fa-lemon-o:before {
  content: "\f094";
}
.fa-phone:before {
  content: "\f095";
}
.fa-square-o:before {
  content: "\f096";
}
.fa-bookmark-o:before {
  content: "\f097";
}
.fa-phone-square:before {
  content: "\f098";
}
.fa-twitter:before {
  content: "\f099";
}
.fa-facebook-f:before,
.fa-facebook:before {
  content: "\f09a";
}
.fa-github:before {
  content: "\f09b";
}
.fa-unlock:before {
  content: "\f09c";
}
.fa-credit-card:before {
  content: "\f09d";
}
.fa-feed:before,
.fa-rss:before {
  content: "\f09e";
}
.fa-hdd-o:before {
  content: "\f0a0";
}
.fa-bullhorn:before {
  content: "\f0a1";
}
.fa-bell:before {
  content: "\f0f3";
}
.fa-certificate:before {
  content: "\f0a3";
}
.fa-hand-o-right:before {
  content: "\f0a4";
}
.fa-hand-o-left:before {
  content: "\f0a5";
}
.fa-hand-o-up:before {
  content: "\f0a6";
}
.fa-hand-o-down:before {
  content: "\f0a7";
}
.fa-arrow-circle-left:before {
  content: "\f0a8";
}
.fa-arrow-circle-right:before {
  content: "\f0a9";
}
.fa-arrow-circle-up:before {
  content: "\f0aa";
}
.fa-arrow-circle-down:before {
  content: "\f0ab";
}
.fa-globe:before {
  content: "\f0ac";
}
.fa-wrench:before {
  content: "\f0ad";
}
.fa-tasks:before {
  content: "\f0ae";
}
.fa-filter:before {
  content: "\f0b0";
}
.fa-briefcase:before {
  content: "\f0b1";
}
.fa-arrows-alt:before {
  content: "\f0b2";
}
.fa-group:before,
.fa-users:before {
  content: "\f0c0";
}
.fa-chain:before,
.fa-link:before {
  content: "\f0c1";
}
.fa-cloud:before {
  content: "\f0c2";
}
.fa-flask:before {
  content: "\f0c3";
}
.fa-cut:before,
.fa-scissors:before {
  content: "\f0c4";
}
.fa-copy:before,
.fa-files-o:before {
  content: "\f0c5";
}
.fa-paperclip:before {
  content: "\f0c6";
}
.fa-save:before,
.fa-floppy-o:before {
  content: "\f0c7";
}
.fa-square:before {
  content: "\f0c8";
}
.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: "\f0c9";
}
.fa-list-ul:before {
  content: "\f0ca";
}
.fa-list-ol:before {
  content: "\f0cb";
}
.fa-strikethrough:before {
  content: "\f0cc";
}
.fa-underline:before {
  content: "\f0cd";
}
.fa-table:before {
  content: "\f0ce";
}
.fa-magic:before {
  content: "\f0d0";
}
.fa-truck:before {
  content: "\f0d1";
}
.fa-pinterest:before {
  content: "\f0d2";
}
.fa-pinterest-square:before {
  content: "\f0d3";
}
.fa-google-plus-square:before {
  content: "\f0d4";
}
.fa-google-plus:before {
  content: "\f0d5";
}
.fa-money:before {
  content: "\f0d6";
}
.fa-caret-down:before {
  content: "\f0d7";
}
.fa-caret-up:before {
  content: "\f0d8";
}
.fa-caret-left:before {
  content: "\f0d9";
}
.fa-caret-right:before {
  content: "\f0da";
}
.fa-columns:before {
  content: "\f0db";
}
.fa-unsorted:before,
.fa-sort:before {
  content: "\f0dc";
}
.fa-sort-down:before,
.fa-sort-desc:before {
  content: "\f0dd";
}
.fa-sort-up:before,
.fa-sort-asc:before {
  content: "\f0de";
}
.fa-envelope:before {
  content: "\f0e0";
}
.fa-linkedin:before {
  content: "\f0e1";
}
.fa-rotate-left:before,
.fa-undo:before {
  content: "\f0e2";
}
.fa-legal:before,
.fa-gavel:before {
  content: "\f0e3";
}
.fa-dashboard:before,
.fa-tachometer:before {
  content: "\f0e4";
}
.fa-comment-o:before {
  content: "\f0e5";
}
.fa-comments-o:before {
  content: "\f0e6";
}
.fa-flash:before,
.fa-bolt:before {
  content: "\f0e7";
}
.fa-sitemap:before {
  content: "\f0e8";
}
.fa-umbrella:before {
  content: "\f0e9";
}
.fa-paste:before,
.fa-clipboard:before {
  content: "\f0ea";
}
.fa-lightbulb-o:before {
  content: "\f0eb";
}
.fa-exchange:before {
  content: "\f0ec";
}
.fa-cloud-download:before {
  content: "\f0ed";
}
.fa-cloud-upload:before {
  content: "\f0ee";
}
.fa-user-md:before {
  content: "\f0f0";
}
.fa-stethoscope:before {
  content: "\f0f1";
}
.fa-suitcase:before {
  content: "\f0f2";
}
.fa-bell-o:before {
  content: "\f0a2";
}
.fa-coffee:before {
  content: "\f0f4";
}
.fa-cutlery:before {
  content: "\f0f5";
}
.fa-file-text-o:before {
  content: "\f0f6";
}
.fa-building-o:before {
  content: "\f0f7";
}
.fa-hospital-o:before {
  content: "\f0f8";
}
.fa-ambulance:before {
  content: "\f0f9";
}
.fa-medkit:before {
  content: "\f0fa";
}
.fa-fighter-jet:before {
  content: "\f0fb";
}
.fa-beer:before {
  content: "\f0fc";
}
.fa-h-square:before {
  content: "\f0fd";
}
.fa-plus-square:before {
  content: "\f0fe";
}
.fa-angle-double-left:before {
  content: "\f100";
}
.fa-angle-double-right:before {
  content: "\f101";
}
.fa-angle-double-up:before {
  content: "\f102";
}
.fa-angle-double-down:before {
  content: "\f103";
}
.fa-angle-left:before {
  content: "\f104";
}
.fa-angle-right:before {
  content: "\f105";
}
.fa-angle-up:before {
  content: "\f106";
}
.fa-angle-down:before {
  content: "\f107";
}
.fa-desktop:before {
  content: "\f108";
}
.fa-laptop:before {
  content: "\f109";
}
.fa-tablet:before {
  content: "\f10a";
}
.fa-mobile-phone:before,
.fa-mobile:before {
  content: "\f10b";
}
.fa-circle-o:before {
  content: "\f10c";
}
.fa-quote-left:before {
  content: "\f10d";
}
.fa-quote-right:before {
  content: "\f10e";
}
.fa-spinner:before {
  content: "\f110";
}
.fa-circle:before {
  content: "\f111";
}
.fa-mail-reply:before,
.fa-reply:before {
  content: "\f112";
}
.fa-github-alt:before {
  content: "\f113";
}
.fa-folder-o:before {
  content: "\f114";
}
.fa-folder-open-o:before {
  content: "\f115";
}
.fa-smile-o:before {
  content: "\f118";
}
.fa-frown-o:before {
  content: "\f119";
}
.fa-meh-o:before {
  content: "\f11a";
}
.fa-gamepad:before {
  content: "\f11b";
}
.fa-keyboard-o:before {
  content: "\f11c";
}
.fa-flag-o:before {
  content: "\f11d";
}
.fa-flag-checkered:before {
  content: "\f11e";
}
.fa-terminal:before {
  content: "\f120";
}
.fa-code:before {
  content: "\f121";
}
.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: "\f122";
}
.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: "\f123";
}
.fa-location-arrow:before {
  content: "\f124";
}
.fa-crop:before {
  content: "\f125";
}
.fa-code-fork:before {
  content: "\f126";
}
.fa-unlink:before,
.fa-chain-broken:before {
  content: "\f127";
}
.fa-question:before {
  content: "\f128";
}
.fa-info:before {
  content: "\f129";
}
.fa-exclamation:before {
  content: "\f12a";
}
.fa-superscript:before {
  content: "\f12b";
}
.fa-subscript:before {
  content: "\f12c";
}
.fa-eraser:before {
  content: "\f12d";
}
.fa-puzzle-piece:before {
  content: "\f12e";
}
.fa-microphone:before {
  content: "\f130";
}
.fa-microphone-slash:before {
  content: "\f131";
}
.fa-shield:before {
  content: "\f132";
}
.fa-calendar-o:before {
  content: "\f133";
}
.fa-fire-extinguisher:before {
  content: "\f134";
}
.fa-rocket:before {
  content: "\f135";
}
.fa-maxcdn:before {
  content: "\f136";
}
.fa-chevron-circle-left:before {
  content: "\f137";
}
.fa-chevron-circle-right:before {
  content: "\f138";
}
.fa-chevron-circle-up:before {
  content: "\f139";
}
.fa-chevron-circle-down:before {
  content: "\f13a";
}
.fa-html5:before {
  content: "\f13b";
}
.fa-css3:before {
  content: "\f13c";
}
.fa-anchor:before {
  content: "\f13d";
}
.fa-unlock-alt:before {
  content: "\f13e";
}
.fa-bullseye:before {
  content: "\f140";
}
.fa-ellipsis-h:before {
  content: "\f141";
}
.fa-ellipsis-v:before {
  content: "\f142";
}
.fa-rss-square:before {
  content: "\f143";
}
.fa-play-circle:before {
  content: "\f144";
}
.fa-ticket:before {
  content: "\f145";
}
.fa-minus-square:before {
  content: "\f146";
}
.fa-minus-square-o:before {
  content: "\f147";
}
.fa-level-up:before {
  content: "\f148";
}
.fa-level-down:before {
  content: "\f149";
}
.fa-check-square:before {
  content: "\f14a";
}
.fa-pencil-square:before {
  content: "\f14b";
}
.fa-external-link-square:before {
  content: "\f14c";
}
.fa-share-square:before {
  content: "\f14d";
}
.fa-compass:before {
  content: "\f14e";
}
.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: "\f150";
}
.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: "\f151";
}
.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: "\f152";
}
.fa-euro:before,
.fa-eur:before {
  content: "\f153";
}
.fa-gbp:before {
  content: "\f154";
}
.fa-dollar:before,
.fa-usd:before {
  content: "\f155";
}
.fa-rupee:before,
.fa-inr:before {
  content: "\f156";
}
.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: "\f157";
}
.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: "\f158";
}
.fa-won:before,
.fa-krw:before {
  content: "\f159";
}
.fa-bitcoin:before,
.fa-btc:before {
  content: "\f15a";
}
.fa-file:before {
  content: "\f15b";
}
.fa-file-text:before {
  content: "\f15c";
}
.fa-sort-alpha-asc:before {
  content: "\f15d";
}
.fa-sort-alpha-desc:before {
  content: "\f15e";
}
.fa-sort-amount-asc:before {
  content: "\f160";
}
.fa-sort-amount-desc:before {
  content: "\f161";
}
.fa-sort-numeric-asc:before {
  content: "\f162";
}
.fa-sort-numeric-desc:before {
  content: "\f163";
}
.fa-thumbs-up:before {
  content: "\f164";
}
.fa-thumbs-down:before {
  content: "\f165";
}
.fa-youtube-square:before {
  content: "\f166";
}
.fa-youtube:before {
  content: "\f167";
}
.fa-xing:before {
  content: "\f168";
}
.fa-xing-square:before {
  content: "\f169";
}
.fa-youtube-play:before {
  content: "\f16a";
}
.fa-dropbox:before {
  content: "\f16b";
}
.fa-stack-overflow:before {
  content: "\f16c";
}
.fa-instagram:before {
  content: "\f16d";
}
.fa-flickr:before {
  content: "\f16e";
}
.fa-adn:before {
  content: "\f170";
}
.fa-bitbucket:before {
  content: "\f171";
}
.fa-bitbucket-square:before {
  content: "\f172";
}
.fa-tumblr:before {
  content: "\f173";
}
.fa-tumblr-square:before {
  content: "\f174";
}
.fa-long-arrow-down:before {
  content: "\f175";
}
.fa-long-arrow-up:before {
  content: "\f176";
}
.fa-long-arrow-left:before {
  content: "\f177";
}
.fa-long-arrow-right:before {
  content: "\f178";
}
.fa-apple:before {
  content: "\f179";
}
.fa-windows:before {
  content: "\f17a";
}
.fa-android:before {
  content: "\f17b";
}
.fa-linux:before {
  content: "\f17c";
}
.fa-dribbble:before {
  content: "\f17d";
}
.fa-skype:before {
  content: "\f17e";
}
.fa-foursquare:before {
  content: "\f180";
}
.fa-trello:before {
  content: "\f181";
}
.fa-female:before {
  content: "\f182";
}
.fa-male:before {
  content: "\f183";
}
.fa-gittip:before,
.fa-gratipay:before {
  content: "\f184";
}
.fa-sun-o:before {
  content: "\f185";
}
.fa-moon-o:before {
  content: "\f186";
}
.fa-archive:before {
  content: "\f187";
}
.fa-bug:before {
  content: "\f188";
}
.fa-vk:before {
  content: "\f189";
}
.fa-weibo:before {
  content: "\f18a";
}
.fa-renren:before {
  content: "\f18b";
}
.fa-pagelines:before {
  content: "\f18c";
}
.fa-stack-exchange:before {
  content: "\f18d";
}
.fa-arrow-circle-o-right:before {
  content: "\f18e";
}
.fa-arrow-circle-o-left:before {
  content: "\f190";
}
.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: "\f191";
}
.fa-dot-circle-o:before {
  content: "\f192";
}
.fa-wheelchair:before {
  content: "\f193";
}
.fa-vimeo-square:before {
  content: "\f194";
}
.fa-turkish-lira:before,
.fa-try:before {
  content: "\f195";
}
.fa-plus-square-o:before {
  content: "\f196";
}
.fa-space-shuttle:before {
  content: "\f197";
}
.fa-slack:before {
  content: "\f198";
}
.fa-envelope-square:before {
  content: "\f199";
}
.fa-wordpress:before {
  content: "\f19a";
}
.fa-openid:before {
  content: "\f19b";
}
.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: "\f19c";
}
.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: "\f19d";
}
.fa-yahoo:before {
  content: "\f19e";
}
.fa-google:before {
  content: "\f1a0";
}
.fa-reddit:before {
  content: "\f1a1";
}
.fa-reddit-square:before {
  content: "\f1a2";
}
.fa-stumbleupon-circle:before {
  content: "\f1a3";
}
.fa-stumbleupon:before {
  content: "\f1a4";
}
.fa-delicious:before {
  content: "\f1a5";
}
.fa-digg:before {
  content: "\f1a6";
}
.fa-pied-piper:before {
  content: "\f1a7";
}
.fa-pied-piper-alt:before {
  content: "\f1a8";
}
.fa-drupal:before {
  content: "\f1a9";
}
.fa-joomla:before {
  content: "\f1aa";
}
.fa-language:before {
  content: "\f1ab";
}
.fa-fax:before {
  content: "\f1ac";
}
.fa-building:before {
  content: "\f1ad";
}
.fa-child:before {
  content: "\f1ae";
}
.fa-paw:before {
  content: "\f1b0";
}
.fa-spoon:before {
  content: "\f1b1";
}
.fa-cube:before {
  content: "\f1b2";
}
.fa-cubes:before {
  content: "\f1b3";
}
.fa-behance:before {
  content: "\f1b4";
}
.fa-behance-square:before {
  content: "\f1b5";
}
.fa-steam:before {
  content: "\f1b6";
}
.fa-steam-square:before {
  content: "\f1b7";
}
.fa-recycle:before {
  content: "\f1b8";
}
.fa-automobile:before,
.fa-car:before {
  content: "\f1b9";
}
.fa-cab:before,
.fa-taxi:before {
  content: "\f1ba";
}
.fa-tree:before {
  content: "\f1bb";
}
.fa-spotify:before {
  content: "\f1bc";
}
.fa-deviantart:before {
  content: "\f1bd";
}
.fa-soundcloud:before {
  content: "\f1be";
}
.fa-database:before {
  content: "\f1c0";
}
.fa-file-pdf-o:before {
  content: "\f1c1";
}
.fa-file-word-o:before {
  content: "\f1c2";
}
.fa-file-excel-o:before {
  content: "\f1c3";
}
.fa-file-powerpoint-o:before {
  content: "\f1c4";
}
.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: "\f1c5";
}
.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: "\f1c6";
}
.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: "\f1c7";
}
.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: "\f1c8";
}
.fa-file-code-o:before {
  content: "\f1c9";
}
.fa-vine:before {
  content: "\f1ca";
}
.fa-codepen:before {
  content: "\f1cb";
}
.fa-jsfiddle:before {
  content: "\f1cc";
}
.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: "\f1cd";
}
.fa-circle-o-notch:before {
  content: "\f1ce";
}
.fa-ra:before,
.fa-rebel:before {
  content: "\f1d0";
}
.fa-ge:before,
.fa-empire:before {
  content: "\f1d1";
}
.fa-git-square:before {
  content: "\f1d2";
}
.fa-git:before {
  content: "\f1d3";
}
.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
  content: "\f1d4";
}
.fa-tencent-weibo:before {
  content: "\f1d5";
}
.fa-qq:before {
  content: "\f1d6";
}
.fa-wechat:before,
.fa-weixin:before {
  content: "\f1d7";
}
.fa-send:before,
.fa-paper-plane:before {
  content: "\f1d8";
}
.fa-send-o:before,
.fa-paper-plane-o:before {
  content: "\f1d9";
}
.fa-history:before {
  content: "\f1da";
}
.fa-circle-thin:before {
  content: "\f1db";
}
.fa-header:before {
  content: "\f1dc";
}
.fa-paragraph:before {
  content: "\f1dd";
}
.fa-sliders:before {
  content: "\f1de";
}
.fa-share-alt:before {
  content: "\f1e0";
}
.fa-share-alt-square:before {
  content: "\f1e1";
}
.fa-bomb:before {
  content: "\f1e2";
}
.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: "\f1e3";
}
.fa-tty:before {
  content: "\f1e4";
}
.fa-binoculars:before {
  content: "\f1e5";
}
.fa-plug:before {
  content: "\f1e6";
}
.fa-slideshare:before {
  content: "\f1e7";
}
.fa-twitch:before {
  content: "\f1e8";
}
.fa-yelp:before {
  content: "\f1e9";
}
.fa-newspaper-o:before {
  content: "\f1ea";
}
.fa-wifi:before {
  content: "\f1eb";
}
.fa-calculator:before {
  content: "\f1ec";
}
.fa-paypal:before {
  content: "\f1ed";
}
.fa-google-wallet:before {
  content: "\f1ee";
}
.fa-cc-visa:before {
  content: "\f1f0";
}
.fa-cc-mastercard:before {
  content: "\f1f1";
}
.fa-cc-discover:before {
  content: "\f1f2";
}
.fa-cc-amex:before {
  content: "\f1f3";
}
.fa-cc-paypal:before {
  content: "\f1f4";
}
.fa-cc-stripe:before {
  content: "\f1f5";
}
.fa-bell-slash:before {
  content: "\f1f6";
}
.fa-bell-slash-o:before {
  content: "\f1f7";
}
.fa-trash:before {
  content: "\f1f8";
}
.fa-copyright:before {
  content: "\f1f9";
}
.fa-at:before {
  content: "\f1fa";
}
.fa-eyedropper:before {
  content: "\f1fb";
}
.fa-paint-brush:before {
  content: "\f1fc";
}
.fa-birthday-cake:before {
  content: "\f1fd";
}
.fa-area-chart:before {
  content: "\f1fe";
}
.fa-pie-chart:before {
  content: "\f200";
}
.fa-line-chart:before {
  content: "\f201";
}
.fa-lastfm:before {
  content: "\f202";
}
.fa-lastfm-square:before {
  content: "\f203";
}
.fa-toggle-off:before {
  content: "\f204";
}
.fa-toggle-on:before {
  content: "\f205";
}
.fa-bicycle:before {
  content: "\f206";
}
.fa-bus:before {
  content: "\f207";
}
.fa-ioxhost:before {
  content: "\f208";
}
.fa-angellist:before {
  content: "\f209";
}
.fa-cc:before {
  content: "\f20a";
}
.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: "\f20b";
}
.fa-meanpath:before {
  content: "\f20c";
}
.fa-buysellads:before {
  content: "\f20d";
}
.fa-connectdevelop:before {
  content: "\f20e";
}
.fa-dashcube:before {
  content: "\f210";
}
.fa-forumbee:before {
  content: "\f211";
}
.fa-leanpub:before {
  content: "\f212";
}
.fa-sellsy:before {
  content: "\f213";
}
.fa-shirtsinbulk:before {
  content: "\f214";
}
.fa-simplybuilt:before {
  content: "\f215";
}
.fa-skyatlas:before {
  content: "\f216";
}
.fa-cart-plus:before {
  content: "\f217";
}
.fa-cart-arrow-down:before {
  content: "\f218";
}
.fa-diamond:before {
  content: "\f219";
}
.fa-ship:before {
  content: "\f21a";
}
.fa-user-secret:before {
  content: "\f21b";
}
.fa-motorcycle:before {
  content: "\f21c";
}
.fa-street-view:before {
  content: "\f21d";
}
.fa-heartbeat:before {
  content: "\f21e";
}
.fa-venus:before {
  content: "\f221";
}
.fa-mars:before {
  content: "\f222";
}
.fa-mercury:before {
  content: "\f223";
}
.fa-intersex:before,
.fa-transgender:before {
  content: "\f224";
}
.fa-transgender-alt:before {
  content: "\f225";
}
.fa-venus-double:before {
  content: "\f226";
}
.fa-mars-double:before {
  content: "\f227";
}
.fa-venus-mars:before {
  content: "\f228";
}
.fa-mars-stroke:before {
  content: "\f229";
}
.fa-mars-stroke-v:before {
  content: "\f22a";
}
.fa-mars-stroke-h:before {
  content: "\f22b";
}
.fa-neuter:before {
  content: "\f22c";
}
.fa-genderless:before {
  content: "\f22d";
}
.fa-facebook-official:before {
  content: "\f230";
}
.fa-pinterest-p:before {
  content: "\f231";
}
.fa-whatsapp:before {
  content: "\f232";
}
.fa-server:before {
  content: "\f233";
}
.fa-user-plus:before {
  content: "\f234";
}
.fa-user-times:before {
  content: "\f235";
}
.fa-hotel:before,
.fa-bed:before {
  content: "\f236";
}
.fa-viacoin:before {
  content: "\f237";
}
.fa-train:before {
  content: "\f238";
}
.fa-subway:before {
  content: "\f239";
}
.fa-medium:before {
  content: "\f23a";
}
.fa-yc:before,
.fa-y-combinator:before {
  content: "\f23b";
}
.fa-optin-monster:before {
  content: "\f23c";
}
.fa-opencart:before {
  content: "\f23d";
}
.fa-expeditedssl:before {
  content: "\f23e";
}
.fa-battery-4:before,
.fa-battery-full:before {
  content: "\f240";
}
.fa-battery-3:before,
.fa-battery-three-quarters:before {
  content: "\f241";
}
.fa-battery-2:before,
.fa-battery-half:before {
  content: "\f242";
}
.fa-battery-1:before,
.fa-battery-quarter:before {
  content: "\f243";
}
.fa-battery-0:before,
.fa-battery-empty:before {
  content: "\f244";
}
.fa-mouse-pointer:before {
  content: "\f245";
}
.fa-i-cursor:before {
  content: "\f246";
}
.fa-object-group:before {
  content: "\f247";
}
.fa-object-ungroup:before {
  content: "\f248";
}
.fa-sticky-note:before {
  content: "\f249";
}
.fa-sticky-note-o:before {
  content: "\f24a";
}
.fa-cc-jcb:before {
  content: "\f24b";
}
.fa-cc-diners-club:before {
  content: "\f24c";
}
.fa-clone:before {
  content: "\f24d";
}
.fa-balance-scale:before {
  content: "\f24e";
}
.fa-hourglass-o:before {
  content: "\f250";
}
.fa-hourglass-1:before,
.fa-hourglass-start:before {
  content: "\f251";
}
.fa-hourglass-2:before,
.fa-hourglass-half:before {
  content: "\f252";
}
.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: "\f253";
}
.fa-hourglass:before {
  content: "\f254";
}
.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
  content: "\f255";
}
.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
  content: "\f256";
}
.fa-hand-scissors-o:before {
  content: "\f257";
}
.fa-hand-lizard-o:before {
  content: "\f258";
}
.fa-hand-spock-o:before {
  content: "\f259";
}
.fa-hand-pointer-o:before {
  content: "\f25a";
}
.fa-hand-peace-o:before {
  content: "\f25b";
}
.fa-trademark:before {
  content: "\f25c";
}
.fa-registered:before {
  content: "\f25d";
}
.fa-creative-commons:before {
  content: "\f25e";
}
.fa-gg:before {
  content: "\f260";
}
.fa-gg-circle:before {
  content: "\f261";
}
.fa-tripadvisor:before {
  content: "\f262";
}
.fa-odnoklassniki:before {
  content: "\f263";
}
.fa-odnoklassniki-square:before {
  content: "\f264";
}
.fa-get-pocket:before {
  content: "\f265";
}
.fa-wikipedia-w:before {
  content: "\f266";
}
.fa-safari:before {
  content: "\f267";
}
.fa-chrome:before {
  content: "\f268";
}
.fa-firefox:before {
  content: "\f269";
}
.fa-opera:before {
  content: "\f26a";
}
.fa-internet-explorer:before {
  content: "\f26b";
}
.fa-tv:before,
.fa-television:before {
  content: "\f26c";
}
.fa-contao:before {
  content: "\f26d";
}
.fa-500px:before {
  content: "\f26e";
}
.fa-amazon:before {
  content: "\f270";
}
.fa-calendar-plus-o:before {
  content: "\f271";
}
.fa-calendar-minus-o:before {
  content: "\f272";
}
.fa-calendar-times-o:before {
  content: "\f273";
}
.fa-calendar-check-o:before {
  content: "\f274";
}
.fa-industry:before {
  content: "\f275";
}
.fa-map-pin:before {
  content: "\f276";
}
.fa-map-signs:before {
  content: "\f277";
}
.fa-map-o:before {
  content: "\f278";
}
.fa-map:before {
  content: "\f279";
}
.fa-commenting:before {
  content: "\f27a";
}
.fa-commenting-o:before {
  content: "\f27b";
}
.fa-houzz:before {
  content: "\f27c";
}
.fa-vimeo:before {
  content: "\f27d";
}
.fa-black-tie:before {
  content: "\f27e";
}
.fa-fonticons:before {
  content: "\f280";
}
.fa-reddit-alien:before {
  content: "\f281";
}
.fa-edge:before {
  content: "\f282";
}
.fa-credit-card-alt:before {
  content: "\f283";
}
.fa-codiepie:before {
  content: "\f284";
}
.fa-modx:before {
  content: "\f285";
}
.fa-fort-awesome:before {
  content: "\f286";
}
.fa-usb:before {
  content: "\f287";
}
.fa-product-hunt:before {
  content: "\f288";
}
.fa-mixcloud:before {
  content: "\f289";
}
.fa-scribd:before {
  content: "\f28a";
}
.fa-pause-circle:before {
  content: "\f28b";
}
.fa-pause-circle-o:before {
  content: "\f28c";
}
.fa-stop-circle:before {
  content: "\f28d";
}
.fa-stop-circle-o:before {
  content: "\f28e";
}
.fa-shopping-bag:before {
  content: "\f290";
}
.fa-shopping-basket:before {
  content: "\f291";
}
.fa-hashtag:before {
  content: "\f292";
}
.fa-bluetooth:before {
  content: "\f293";
}
.fa-bluetooth-b:before {
  content: "\f294";
}
.fa-percent:before {
  content: "\f295";
}
.container {
	margin-left: auto;
	margin-right: auto;
	width: 80em;
}
ul, li{margin:0px;}
a{text-decoration:none;}
h1,h2,h3,h4,h5,h6{margin:0; padding: 10px 0px;}
.container80{width:80%; padding:15px; margin:0px auto;}
.container90{width:90%; padding:15px; margin:0px auto;}
.DispInline{display:inline-block;}
.floatleft{float:left;}
.floatright{float:right;}
.textcenter{text-align:center;}
.textleft{text-align:left;}
.textright{text-align:right;}
.fifty{width:50%;}
.marginb10{margin-bottom: 10px;}
.hidden{display:none;}
.body_fixed{position:fixed; top:0; right:0; bottom:0; left:0;}
.bordertop{border-top:1px solid #ccc;}
.borderall{border:1px solid #ccc;}
.borderbottom{border-bottom:1px solid #ccc;}
.borderleft{border-left:1px soli #ccc;}
.borderright{border-right:1px solid #ccc;}
.block{padding:15px; border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px; box-shadow:0 2px 3px #C5C5C5; webkit-box-shadow:0 2px 3px #C5C5C5; -moz-box-shadow:0 2px 3px #c5c5c5; -o-box-shadow:0 2px 3px #c5c5c5;}
::-moz-selection{background:rgba(0, 59, 90, 0.7);}
::selection{background:rgba(0, 59, 90, 0.7);}
.changeinner{background:url(../images/background.jpg) no-repeat center fixed; background-size:cover;height:600px}
.changeinner_trans{height:100%;background:rgba(255, 255, 255, 0.44); box-shadow:0 3px 4px rgba(101, 99, 99, 0.59); webkit-box-shadow:0 3px 4px rgba(101, 99, 99, 0.59); -moz-box-shadow:0 3px 4px rgba(101, 99, 99, 0.59); -o-box-shadow:0 3px 4px rgba(101, 99, 99, 0.59); padding:15px;}
ab, .login{text-align:center; padding-top:3px;}
.login span, ab ul li a{color:#4E647C; font-size:15px; padding:0px 10px; font-weight:bold; text-transform:uppercase;}
#home{ margin-bottom:70px;}
footer{background:#000; color:rgba(249, 248, 248, 0.75); padding:15px;}
header{padding:0 0 0 0;}
footer ul{margin:0px; padding:0px; list-style-type:none;}
footer ul li{padding:5px 0px; font-size:12px;}
footer a{color:rgba(249, 248, 248, 0.75);}
footer h5{font-size:15px; color:rgba(255, 255, 255, 0.85);}
.footercolumn{width:25%;}
.footerblock{padding-bottom:15px;}
*,body{margin:0;padding:0;}
header, section, footer, aside, ab, main, article, figure{display:block;}
body{margin:0; padding:0;font-size:14px;}
@font-face {
  font-family: "Heading-Style";
  src:  url("roman-caps.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
body
{
font-family: montserrat,Arial,sans-serif;}
.clearfix:after {visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0;}
form.info{background:rgba(0, 0, 0, 0.21); width:55%; margin:40px auto; padding:30px 0;}
form.info label{display:block; font-size:25px; color:#4dbea0; padding:14px;}
form.info input,textarea{font-size:14px; padding:5px; background:transparent; border:0px; border-bottom:1px solid #4dbea0; text-align:justify;outline:none}
.sprite{background:url(../images/sprite.png) no-repeat; display:inline-block; vertical-align:middle;}
.overlay{ background:rgba(0, 0, 0, 0.9); position:fixed; top:0; bottom:0; left:0; right:0;}
.ic_google,.ic_fb{height:50px; width:50px; background-position:0px -70px; margin-right:10px;}
.ic_fb{background-position:0px 0px;}
.socialLoginLinks{width:68%; margin:6px auto !important; padding-bottom:25px; position:relative;}
.socialLoginLinks a{display:block; color:#fff; width:160px; height:50px;font-weight:bold;font-size:12px;float: left;}
.btn-fb{background:#3c5a98 ;}
.btn-google{background:#dd4d3b;}
input{padding:12px; margin:12px; font-size:16px;}
.popup input{width:90%; display:block; background:transparent; border:1px solid #CCCFD4 !important; border-radius:2px;}
.popup1 input{width:90%; display:block; background:transparent; border:1px solid #CCCFD4 !important; border-radius:2px;}
.welcome{color:#4dbea0; font-size:18px; text-transform:uppercase; padding:15px;}
.forgot{text-align:right; display:block;font-weight:bold; color:#4dbea0;width: 86%;margin-top: 10px;}
.or span{color:#fff; font-size:21px; margin:10px !important; display:block; text-align:center;}
/*.socialLoginLinks:after{content:"or"; width:30px; height:30px; display:block; position:absolute; text-align:center; left:46%; bottom:-18px; color:#909193; background:white; font-size:20px; border-radius:50%; line-height:19px; margin:3px; padding:5px;}*/
.popwrap{position:fixed; top:0; bottom:0; left:0; right:0; overflow:scroll;z-index:1500}
.popwrap1{position:fixed; top:0; bottom:0; left:0; right:0; overflow:scroll;z-index:1500}
.popwrap input[type="submit"]{width:95%; background:#4dbea0; color:#fff; border:4px;}
.popwrap1 input[type="submit"]{width:95%; background:#4dbea0; color:#fff; border:4px;}
#menuOverlay{width: 100%;height: 100%;position: fixed;top: 0px;bottom: 0px;right: 0px;left: 0px;background: transparent none repeat scroll 0px center;z-index: 9999;background-color: #000;opacity: 0.7;}
.DispNoneImp{display: none !important;}
@media only screen and (max-width:768px)
{
	.footercolumn{width:50%;}
	form.info{width:100%;}
	form.info input{font-size:20px;}
	.home p{font-size:20px; margin-top:35px;}
	.login{width:100%; padding:10px 0;}
	.logo{width:100%; text-align:center}
	form.info label{font-size:18px;}
	
}
.singupopen
{
cursor:pointer}
.showpopup
{
cursor:pointer}
@media only screen and (max-width:360px)
{
	.footercolumn{width:100%;}
}
.mobile1 p{font-size:20px; font-weight:bold;}
.home p{font-size:25px; font-weight:lighter; color:rgba(8, 0, 0, 0.78); text-transform:uppercase; margin-top:72px; margin-bottom:30px;}
.Hand {cursor:pointer}
.singupopen{box-shadow: none !important;background-color:#4dbed0 !important;color: #ffffff !important;margin-bottom: 8px;width: 100%;}
.loginPopUp{box-shadow: none;background-color: #fff;color: #000 !important;border: 1px solid #ddd;margin-bottom: 8px;width: 100%;}
.singupopen:hover{background-color: rgba(98, 171, 187, 0.51) !important;}
.loginPopUp:hover{background-color:rgba(216, 216, 216, 0.27) !important;}
.loginButton{width: 74% !important;color: #4dbea0 !important;margin-top: 10px!important;}
.loginButton:hover{background-color:rgba(216, 216, 216, 0.27) !important;}
.chargenmarchlogin{padding: 2px; border-radius:5px;padding-top: 10%;}
.chargenmarchlogin p{color:#fff;}
.registrationButton{margin-left: -29px;}
.registrationButton:hover{background-color: rgba(216, 216, 216, 0.27) !important;}
.chargenmarchlogin form{margin-left: -30px;}

::-webkit-input-placeholder {
opacity: 1.0;
color:gray !important;
}
:-moz-placeholder {
opacity: 1.0;
color:gray !important;
}
::-moz-placeholder {
opacity: 1.0;
color:gray !important;
}
:-ms-input-placeholder {
opacity: 1.0;
color:gray !important;
}

body.is-loading *, body.is-loading *:before, body.is-loading *:after {
	-moz-animation: none !important;
	-webkit-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
}
body {
	background-color: #f7f7f7;
	color: #999999;
	overflow-x:hidden;
	width: 100%;
    height: 100%;
}
body, input, textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14pt;
	font-weight: normal;
	line-height: 1.65;
}


body, input, textarea {
font-size: 12pt;
}


/*@media screen and (max-width: 1280px) {
body, input, textarea {
font-size: 11pt;
}
}*/
a{
	text-decoration: none;
}
strong, b {
	font-weight: normal;
}
em, i {
	font-style: italic;
}
p {
	margin: 0 0 2em 0;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	letter-spacing: -0.0125em;
	line-height: 1.5;
	margin: 0 0 0.8em 0;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: inherit;
	text-decoration: none;
}
h2 {
	font-size: 1.55em;
}
h3 {
	font-size: 1.25em;
}
h4 {
	font-size: 1em;
}
h5 {
	font-size: 0.8em;
}
h6 {
	font-size: 0.7em;
}


input[type="submit"], input[type="reset"], input[type="button"], button, .button {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	border-radius: 4px;
	border: 0;
	cursor: pointer;
	display: inline-block;
	font-size: 0.8em;
	font-weight: normal;
	height: 4.1em;
	letter-spacing: 0.25em;
	line-height: 4.25em;
	padding: 0 3em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
}
input[type="submit"].icon:before, input[type="reset"].icon:before, input[type="button"].icon:before, button.icon:before, .button.icon:before {
	margin-right: 0.5em;
}
/*input[type="submit"].fit, input[type="reset"].fit, input[type="button"].fit, button.fit, .button.fit {
	display: block;
	margin: 0 0 1em 0;
	width: 100%;
}
input[type="submit"].small, input[type="reset"].small, input[type="button"].small, button.small, .button.small {
	font-size: 0.8em;
}
input[type="submit"].major, input[type="reset"].major, input[type="button"].major, button.major, .button.major {
	min-width: 20em;
}
input[type="submit"].disabled, input[type="submit"]:disabled, input[type="reset"].disabled, input[type="reset"]:disabled, input[type="button"].disabled, input[type="button"]:disabled, button.disabled, button:disabled, .button.disabled, .button:disabled {
	-moz-pointer-events: none;
	-webkit-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
	opacity: 0.35;
}*/
input[type="submit"], input[type="reset"], input[type="button"], button, .button {
	background-color: transparent;
	box-shadow: inset 0 0 0 1px rgba(144, 144, 144, 0.3);
	color: #707070 ;
}
input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, button:hover, .button:hover {
	background-color: rgba(144, 144, 144, 0.35);
}
input[type="submit"]:hover:active, input[type="reset"]:hover:active, input[type="button"]:hover:active, button:hover:active, .button:hover:active {
	background-color: rgba(144, 144, 144, 0.15);
}
input[type="submit"].disabled, input[type="submit"]:disabled, input[type="reset"].disabled, input[type="reset"]:disabled, input[type="button"].disabled, input[type="button"]:disabled, button.disabled, button:disabled, .button.disabled, .button:disabled {
	background-color: rgba(144, 144, 144, 0.2);
}

.features {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: -1em 0 2em -1em;
	width: calc(100% + 1em);
}
.features section {
	padding: 3em 3em 1em 3em;
	border-radius: 4px;
	margin: 1em 0 0 1em;
	text-align: center;
	width: calc(33.33333% - 1em);
}

@media screen and (max-width: 1280px) {
.features section {
padding: 3em 2em 1em 2em;
}
}
@media screen and (max-width: 980px) {
.features section {
width: calc(50% - 1em);
}
}
@media screen and (max-width: 736px) {
.features section {
padding: 3em 1.5em 1em 1.5em;
}
}
@media screen and (max-width: 480px) {
.features {
display: block;
margin: 0 0 2em 0;
width: 100%;
}
.features section {
margin: 0 0 1em 0;
width: 100%;
}
}
.features section {
	background-color: #ffffff;
	border-bottom: solid 1px #eaeaea;
}
.features section:hover {
	background-color: #f4f4f4;
	border-bottom: solid 1px #4dbea0;
}
form {
	
}
label {
	display: block;
	font-size: 0.9em;
	font-weight: normal;
	margin: 0 0 1em 0;
}
input[type="text"]:invalid, input[type="password"]:invalid, input[type="email"]:invalid,textarea:invalid {
box-shadow: none;
}

.formerize-placeholder {
	opacity: 1.0;
	color:gray;
}

/*label {
	color: #707070;
}*/


input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus,textarea:focus {
	border-color: #4dbea0;
	box-shadow: 0 0 0 1px #4dbea0;
}


.formerize-placeholder {
	color: #fff !important;
}

/*for detail or content block*/
.icon {
	text-decoration: none;
	border-bottom: none;
	position: relative;
}
.icon:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}
.icon > .label {
	display: none;
}
.icon.major {
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	border-radius: 4px;
	border: solid 1px;
	display: block;
	font-size: 1.75em;
	height: 2.5em;
	line-height: 2.5em;
	margin: 10px auto 2em auto;
	position: relative;
	text-align: center;
	top: 0.5em;
	width: 2.5em;
}
.icon.major:before {
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	display: block;
	text-align: center;
}
.icon.major {
	border-color: rgba(144, 144, 144, 0.2);
}
.icon.major:before {
	color: #4dbea0;
}
/*for detail or content block end*/

.image {
	border-radius: 4px;
	border: 0;
	display: inline-block;
	position: relative;
}
.image img {
	border-radius: 4px;
	display: block;
}
.image.left, .image.right {
	max-width: 40%;
}
.image.left img, .image.right img {
	width: 100%;
}
.image.left {
	float: left;
	margin: 0 2.5em 2em 0;
	top: 0.25em;
}
.image.right {
	float: right;
	margin: 0 0 2em 2.5em;
	top: 0.25em;
}
.image.fit {
	display: block;
	margin: 0 0 2em 0;
	width: 100%;
}
.image.fit img {
	width: 100%;
}
.image.main {
	display: block;
	margin: 0 0 3em 0;
	width: 100%;
}
.image.main img {
	width: 100%;
}
@media screen and (max-width: 736px) {
.image.left {
margin: 0 1.5em 1em 0;
}
.image.right {
margin: 0 0 1em 1.5em;
}
}

/*home page circle images for detail and content*/
.home-circles {
	margin: 0 0 2em 0;
	text-align: right;
}
.home-circles .circle_images {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-direction: row;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	margin: 1em 0 0 -1em;
	width: calc(100% + 1em);
}
.home-circles .circle_images > * {
	-ms-flex: 1;
	display: block;
	margin: 0 0 0 1em;
	position: relative;
	white-space: nowrap;
	width: 50%;
}
.home-circles .circle_images > *:before {
	border-radius: 100%;
	content: '';
	display: block;
	height: 100%;
	margin: 0 0 0 1em;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: calc(50% - 0.5em);
}
.home-circles .circle_images > * img {
	border-radius: 100%;
	display: block;
	width: calc(50% - 0.5em);
}
.home-circles .circle_images:first-child {
	margin-top: 0;
}
.home-circles .circle_images:nth-child(2n - 1) > * {
-moz-transform: scaleX(-1);
-webkit-transform: scaleX(-1);
-ms-transform: scaleX(-1);
transform: scaleX(-1);
}
.home-circles .circle_images:nth-child(2n - 1) > * img {
-moz-transform: scaleX(-1);
-webkit-transform: scaleX(-1);
-ms-transform: scaleX(-1);
transform: scaleX(-1);
}
@media screen and (max-width: 980px) {
.home-circles {
width: 100%;
max-width: 30em;
}
}
@media screen and (max-width: 736px) {
.home-circles {
max-width: 16em;
}
}
/*home page circle images for detail and content end*/

.table-wrapper {
	-webkit-overflow-scrolling: touch;
	overflow-x: auto;
}
table {
	margin: 0 0 2em 0;
	width: 100%;
}
table tbody tr {
	border: solid 1px;
	border-left: 0;
	border-right: 0;
}
table td {
	padding: 0.75em 0.75em;
}
table th {
	font-size: 0.9em;
	font-weight: normal;
	padding: 0 0.75em 0.75em 0.75em;
	text-align: left;
}
table thead {
	border-bottom: solid 2px;
}
table tfoot {
	border-top: solid 2px;
}
table.alt {
	border-collapse: separate;
}
table.alt tbody tr td {
	border: solid 1px;
	border-left-width: 0;
	border-top-width: 0;
}
table.alt tbody tr td:first-child {
	border-left-width: 1px;
}
table.alt tbody tr:first-child td {
	border-top-width: 1px;
}
table.alt thead {
	border-bottom: 0;
}
table.alt tfoot {
	border-top: 0;
}
table tbody tr {
	border-color: rgba(144, 144, 144, 0.2);
}
table tbody tr:nth-child(2n + 1) {
background-color: rgba(144, 144, 144, 0.075);
}
table th {
	color: #707070;
}
table thead {
	border-bottom-color: rgba(144, 144, 144, 0.2);
}
table tfoot {
	border-top-color: rgba(144, 144, 144, 0.2);
}
table.alt tbody tr td {
	border-color: rgba(144, 144, 144, 0.2);
}
.wrapper {
	padding: 7em 0 5em 0;
	position: relative;
}
.wrapper > .inner {
	margin: 0 auto;
	width: 75em;
}
.wrapper.profile {
	background: #ffffff;
	border-bottom: solid 1px #eaeaea;
}
.wrapper.profile > .inner {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
}
.wrapper.profile > .inner > * {
	-ms-flex: 1;
	width: 50%;
}
.wrapper.profile > .inner > :nth-child(2n - 1) {
margin-right: 2em;
}
.wrapper.profile > .inner > :nth-child(2n) {
margin-left: 2em;
}
@media screen and (max-width: 1680px) {
.wrapper {
padding: 5em 0 3em 0;
}
}
@media screen and (max-width: 1280px) {
.wrapper > .inner {
width: 100%;
padding: 0 3em;
}
}
@media screen and (max-width: 980px) {
.wrapper.profile {
text-align: center;
}
.wrapper.profile > .inner {
-moz-flex-direction: column-reverse;
-webkit-flex-direction: column-reverse;
-ms-flex-direction: column-reverse;
flex-direction: column-reverse;
-moz-align-items: center;
-webkit-align-items: center;
-ms-align-items: center;
align-items: center;
}
.wrapper.profile > .inner > * {
-ms-flex: none;
margin-bottom: 4em;
width: 100%;
}
.wrapper.profile > .inner > :nth-child(2n - 1) {
margin-right: 0;
}
.wrapper.profile > .inner > :nth-child(2n) {
margin-left: 0;
}
.wrapper.profile > .inner > :first-child {
margin-bottom: 0;
}
}
@media screen and (max-width: 736px) {
.wrapper {
padding: 3em 0 1em 0;
}
.wrapper > .inner {
padding: 0 1.5em;
}
.wrapper.profile > .inner > * {
margin-bottom: 2em;
}
}
body {
	padding-top: 0px
}
@-moz-keyframes reveal-header {
0% {
top: -4em;
opacity: 0;
}
100% {
top: 0;
opacity: 1;
}
}
@-webkit-keyframes reveal-header {
0% {
top: -4em;
opacity: 0;
}
100% {
top: 0;
opacity: 1;
}
}
@-ms-keyframes reveal-header {
0% {
top: -4em;
opacity: 0;
}
100% {
top: 0;
opacity: 1;
}
}
@keyframes reveal-header {
0% {
top: -4em;
opacity: 0;
}
100% {
top: 0;
opacity: 1;
}
}
#header {
	background-color: #ffffff;
	border-bottom: solid 1px rgba(144, 144, 144, 0.2);
	cursor: default;
	height: 3.25em;
	left: 0;
	line-height: 3.25em;
	position: fixed;
	text-align: right;
	top: 0;
	width: 86%;
	margin-left: 7%;
	margin-right: 7%;
	z-index: 999;
}
#header > h1 {
	color: #707070;
	display: inline-block;
	height: inherit;
	left: 1.25em;
	line-height: inherit;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
}
#header > h1 a {
	font-size: 1.25em;
}
#header > a {
	-moz-transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
	color: inherit;
	display: inline-block;
	font-size: 0.8em;
	letter-spacing: 0.25em;
	padding: 0 0.75em;
	text-decoration: none;
	text-transform: uppercase;
}
#header > a[href="#menu"] {
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}
#header > a[href="#menu"]:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}
#header > a[href="#menu"]:before {
	content: '\f0c9';
	float: right;
	margin: 0 0 0 0.75em;
}
#header > a + a[href="#menu"]:last-child {
	border-left: solid 1px rgba(144, 144, 144, 0.2);
	padding-left: 2em;
	margin-left: 1em;
}
#header > a:last-child {
	padding-right: 1.25em;
}
@media screen and (max-width: 736px) {
#header > a {
padding: 0 0.5em;
}
#header > a + a[href="#menu"]:last-child {
margin-left: 0.25em;
padding-left: 1em;
}
#header > a:last-child {
padding-right: 1em;
}
}
#header + #homepageslider {
	margin-top: -3.125em;
}
#header.reveal {
	-moz-animation: reveal-header 0.5s ease;
	-webkit-animation: reveal-header 0.5s ease;
	-ms-animation: reveal-header 0.5s ease;
	animation: reveal-header 0.5s ease;
}
#header.alt {
	-moz-animation: none;
	-webkit-animation: none;
	-ms-animation: none;
	animation: none;
	background-color: transparent;
	box-shadow: 0 1px 0 0 #ffffff;
	color: #ffffff;
	position: fixed;
	top: 1em;
}
#header.alt > h1 {
	color: #ffffff;
	left: 0;
}
#header.alt > a + a[href="#menu"]:last-child {
	border-left-color: #ffffff;
}
#header.alt > a:last-child {
	padding-right: 0;
}

#header > a[href="#menu"]:before {
    content: '\f0c9';
    float: right;
    margin: 0 0 0 0.75em;
}
#header > a[href="#menu"]:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

@media screen and (max-width: 1280px) {
#header.alt {
top: 2em;
left: 3em;
width: calc(100% - 6em);
}
}
@media screen and (max-width: 980px) {
body {
padding-top: 44px;
}
#header {
height: 44px;
line-height: 44px;
}
#header > h1 {
left: 1em;
}
#header > h1 a {
font-size: 1em;
}
}
@media screen and (max-width: 736px) {
#header.alt {
top: 0.25em;
left: 1.5em;
width: calc(100% - 3em);
}
}
@media screen and (max-width: 480px) {
#header {
min-width: 320px;
}
#header.alt {
min-width: 0;
}
}
#menu {
	-moz-transform: translateX(20em);
	-webkit-transform: translateX(20em);
	-ms-transform: translateX(20em);
	transform: translateX(20em);
	-moz-transition: -moz-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
	-webkit-transition: -webkit-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
	-ms-transition: -ms-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
	transition: transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
	-webkit-overflow-scrolling: touch;
	background: #ffffff;
	border-left: solid 1px rgba(144, 144, 144, 0.2);
	box-shadow: none;
	height: 100%;
	max-width: 80%;
	overflow-y: auto;
	padding: 3em 2em;
	position: fixed;
	right: 0;
	top: 0;
	visibility: hidden;
	width: 20em;
	z-index: 10002;
}
#menu > ul {
	margin: 0 0 1em 0;
}
#menu > ul.footerlink {
	list-style: none;
	padding: 0;
}
#menu > ul.footerlink > li {
	padding: 0;
	text-align:justify
}
#menu > ul.footerlink > li > a:not(.button) {
border: 0;
border-top: solid 1px rgba(144, 144, 144, 0.2);
color: inherit;
display: block;
line-height: 3.5em;
text-decoration: none;
}
#menu > ul.footerlink > li > .button {
	display: block;
	margin: 0.5em 0 0 0;
}
#menu > ul.footerlink > li:first-child > a:not(.button) {
border-top: 0 !important;

}
#menu .close {
	background-image: url("../images/close.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top right;
	-webkit-tap-highlight-color: transparent;
	border: 0;
	color: #999999;
	cursor: pointer;
	display: block;
	height: 3.5em;
	position: absolute;
	right: 0;
	text-align: right;
	top: 0;
	vertical-align: middle;
	width: 6em;
}
#menu .close:before {
	font-size: 1.25em;
}
#menu .close:hover {
	color: #707070;
}
@media screen and (max-width: 736px) {
#menu .close {
height: 4em;
line-height: 4em;
}
}
#menu.visible {
	-moz-transform: translateX(0);
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.05);
	visibility: visible;
}
@media screen and (max-width: 736px) {
#menu {
padding: 2.5em 1.75em;
}
#menu .close {
background-size: 50%;
}
}
#homepageslider {
	
	color: #ffffff;
	
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	background-image: -moz-linear-gradient(to top, rgba(48, 54, 57, 0.2), rgba(48, 54, 57, 0.2)), url("../images/finalbg.jpg");
	background-image: -webkit-linear-gradient(to top, rgba(48, 54, 57, 0.2), rgba(48, 54, 57, 0.2)), url("../images/finalbg.jpg");
	background-image: -ms-linear-gradient(to top, rgba(48, 54, 57, 0.2), rgba(48, 54, 57, 0.2)), url("../images/finalbg.jpg");
	background-image: linear-gradient(to top, rgba(48, 54, 57, 0.2), rgba(48, 54, 57, 0.2)), url("../images/finalbg.jpg");
	
	background-position: center;
	background-size: cover;
	height: 75vh;
	min-height: 45em;
	position: relative;
}
#homepageslider input, #homepageslider textarea {
	color: rgba(255,255,255,.4);
}
#homepageslider a {
	color: #4dbea0;
}
#homepageslider strong, #homepageslider b {
	color: #ffffff;
}
#homepageslider h1, #homepageslider h2, #homepageslider h3, #homepageslider h4, #homepageslider h5, #homepageslider h6 {
	color: #ffffff;
}
#homepageslider blockquote {
	border-left-color: #ffffff;
}
#homepageslider code {
	background: rgba(255, 255, 255, 0.075);
	border-color: #ffffff;
}
#homepageslider hr {
	border-bottom-color: #ffffff;
}
#homepageslider input[type="submit"], #homepageslider input[type="reset"], #homepageslider input[type="button"], #homepageslider button, #homepageslider .button {
	background-color: transparent;
	box-shadow: inset 0 0 0 1px #ffffff;
	color: #ffffff !important;
}
#homepageslider input[type="submit"]:hover, #homepageslider input[type="reset"]:hover, #homepageslider input[type="button"]:hover, #homepageslider button:hover, #homepageslider .button:hover {
	background-color: rgba(255, 255, 255, 0.075);
}
#homepageslider input[type="submit"]:hover:active, #homepageslider input[type="reset"]:hover:active, #homepageslider input[type="button"]:hover:active, #homepageslider button:hover:active, #homepageslider .button:hover:active {
	background-color: rgba(255, 255, 255, 0.15);
}
#homepageslider input[type="submit"].disabled, #homepageslider input[type="submit"]:disabled, #homepageslider input[type="reset"].disabled, #homepageslider input[type="reset"]:disabled, #homepageslider input[type="button"].disabled, #homepageslider input[type="button"]:disabled, #homepageslider button.disabled, #homepageslider button:disabled, #homepageslider .button.disabled, #homepageslider .button:disabled {
	background-color: #ffffff;
}
#homepageslider input[type="submit"].special, #homepageslider input[type="reset"].special, #homepageslider input[type="button"].special, #homepageslider button.special, #homepageslider .button.special {
	box-shadow: none;
	background-color: #4dbea0;
	color: #ffffff !important;
}
#homepageslider input[type="submit"].special:hover, #homepageslider input[type="reset"].special:hover, #homepageslider input[type="button"].special:hover, #homepageslider button.special:hover, #homepageslider .button.special:hover {
	background-color: #60c5aa;
}
#homepageslider input[type="submit"].special:hover:active, #homepageslider input[type="reset"].special:hover:active, #homepageslider input[type="button"].special:hover:active, #homepageslider button.special:hover:active, #homepageslider .button.special:hover:active {
	background-color: #41b193;
}
#homepageslider:after {
	-moz-pointer-events: none;
	-webkit-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
	-moz-transition: opacity 2s ease, visibility 2s;
	-webkit-transition: opacity 2s ease, visibility 2s;
	-ms-transition: opacity 2s ease, visibility 2s;
	transition: opacity 2s ease, visibility 2s;
	background-color: #303639;
	content: '';
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	visibility: hidden;
	width: 100%;
	z-index: 10001;
}
#homepageslider .inner {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	max-width: 75em;
}
#homepageslider .inner h2 {
	font-size: 2.75em;
	margin-bottom: 0;
	margin-top: -0.25em;
	line-height: 1.3;
}
#homepageslider .inner p {
	font-size: 1.2em;
}
#homepageslider .inner .content {
	-moz-transition: -moz-transform 1s ease-out, opacity 1s ease-out;
	-webkit-transition: -webkit-transform 1s ease-out, opacity 1s ease-out;
	-ms-transition: -ms-transform 1s ease-out, opacity 1s ease-out;
	transition: transform 1s ease-out, opacity 1s ease-out;
	-moz-transform: translateY(0);
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
}
#homepageslider .inner .content > :last-child {
	margin-bottom: 0;
}
#homepageslider .inner .actions {
	-moz-transition: -moz-transform 1s ease-out, opacity 1s ease-out;
	-webkit-transition: -webkit-transform 1s ease-out, opacity 1s ease-out;
	-ms-transition: -ms-transform 1s ease-out, opacity 1s ease-out;
	transition: transform 1s ease-out, opacity 1s ease-out;
	-moz-transform: translateY(0);
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
	border-left: solid 1px #ffffff;
	margin: 0 0 0 4em;
	min-width: 20em;
	padding: 1em 0 1em 3em;
}
@media screen and (max-width: 1280px) {
#homepageslider {
background-attachment: scroll;
}
#homepageslider .inner {
max-width: 100%;
padding: 0 3em;
}
}
@media screen and (max-width: 980px) {
#homepageslider .inner {
-moz-flex-direction: column;
-webkit-flex-direction: column;
-ms-flex-direction: column;
flex-direction: column;
-moz-align-items: stretch;
-webkit-align-items: stretch;
-ms-align-items: stretch;
align-items: stretch;
text-align: center;
}
#homepageslider .inner .actions {
border-left: 0;
margin: 3em 0 0 0;
min-width: 0;
padding: 0;
}
}
@media screen and (max-width: 736px) {
#homepageslider {
padding: 7.5em 0 3.5em 0;
height: auto;
min-height: 0;
}
#homepageslider .inner {
padding: 0 1.5em;
}
#homepageslider .inner h2 {
font-size: 1.75em;
}
#homepageslider .inner p {
font-size: 1em;
}
#homepageslider .inner .actions {
margin: 2em 0 0 0;
}
}
@media screen and (max-width: 480px) {
#homepageslider {
min-height: 75vh;
}
#homepageslider .inner {
-ms-flex: 1;
}
}
body.is-loading #homepageslider:after {
	opacity: 1;
	visibility: visible;
}
body.is-loading #homepageslider .inner .content {
	opacity: 0;
	-moz-transform: translateY(-1em);
	-webkit-transform: translateY(-1em);
	-ms-transform: translateY(-1em);
	transform: translateY(-1em);
}
body.is-loading #homepageslider .inner .actions {
	opacity: 0;
	-moz-transform: translateY(1em);
	-webkit-transform: translateY(1em);
	-ms-transform: translateY(1em);
	transform: translateY(1em);
}
@media screen and (max-width: 980px) {
body.is-loading #homepageslider .inner .content {
-moz-transform: translateY(0);
-webkit-transform: translateY(0);
-ms-transform: translateY(0);
transform: translateY(0);
}
body.is-loading #homepageslider .inner .actions {
-moz-transform: translateY(0);
-webkit-transform: translateY(0);
-ms-transform: translateY(0);
transform: translateY(0);
}
}
#footer {
	background-color: #303639;
	color: #ffffff;
	padding: 2em 0 1em 0;
	
}
#footer input, #footer textarea {
	color: #ffffff;
}
#footer a {
	color: #4dbea0;
}

#footer a {
	color: inherit;
}
#footer .contact {
	list-style: none;
	padding: 0;
}
#footer .contact li {
	display: inline-block;
	padding: 0;
}
#footer .contact li:before {
	content: '\2022';
	margin: 0 0.75em;
}
#footer .contact li:first-child:before {
	display: none;
}
#footer .footerlink {
	list-style: none;
	padding: 0;
}
#footer .footerlink li {
	border-left: solid 1px;
	display: inline-block;
	line-height: 1;
	margin: 0 0 0 1.5em;
	padding: 0 0 0 1.5em;
}
#footer .footerlink li:first-child {
	border-left: 0;
	margin-left: 0;
	padding-left: 0;
}
#footer .footerlink li a {
	font-size: 0.8em;
	letter-spacing: 0.25em;
	text-decoration: none;
	text-transform: uppercase;
}
#footer > .inner {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0 auto;
	width: 75em;
}
#footer > .inner > * {
	font-size: 0.8em;
	width: 50%;
}
#footer > .inner .icons {
	-moz-order: 2;
	-webkit-order: 2;
	-ms-order: 2;
	order: 2;
	text-align: right;
}
#footer > .inner .contact {
	-moz-order: 4;
	-webkit-order: 4;
	-ms-order: 4;
	order: 4;
	text-align: right;
}
#footer > .inner .footerlink {
	-moz-order: 1;
	-webkit-order: 1;
	-ms-order: 1;
	order: 1;
}
#footer > .inner .copyright {
	-moz-order: 3;
	-webkit-order: 3;
	-ms-order: 3;
	order: 3;
}
@media screen and (max-width: 1680px) {
#footer {
padding:2em 0 1em 0
}
}
@media screen and (max-width: 1280px) {
#footer {
background: #303639;
}
#footer > .inner {
width: 100%;
padding: 0 3em;
}
}
@media screen and (max-width: 980px) {
#footer > .inner {
display: block;
}
#footer > .inner > * {
width: 100%;
font-size: 1em;
text-align: center !important;
}
}
@media screen and (max-width: 736px) {
#footer {
padding: 3em 0 1em 0;
}
#footer > .inner {
width: 100%;
padding: 0 1.5em;
}
#footer > .inner > * {
font-size: 0.8em;
}
}
@media screen and (max-width: 480px) {
#footer .contact {
list-style: none;
}
#footer .contact li {
display: block;
padding: 0;
}
#footer .contact li:before {
display: none;
}
#footer .footerlink li {
margin: 0 0 0 0.75em;
padding: 0 0 0 0.75em;
}
}
.social
{
height:150px;
background:#fff;
text-align:center;
padding-top:20px!important}
.social li{
	width: 15%;
	display: inline-block;
}
.lk
{
text-align:center}
.lk a
{
font-size:14px !important;
text-transform:capitalize!important;
letter-spacing:0px!important}
.cnmicons
{
margin-top:50px;border-radius:50%;
width:90px;
height:90px;
opacity:1}
.iconhead
{
font-size:18px!important;
margin-top:10px;
top:5%;
color:#fff!important;
text-align:center}
.form-control
{
position: relative;
    z-index: 2;
    float: left;
    width: 80%;
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.015)!important;}
	.input__field input__field--hoshi
	{
	border-bottom:solid 1px!important}
	.signupfield
	{
	width:300px!important
	}
	#foot a
	{
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)!important;color:#999!important}
	#foot .button{-webkit-tap-highlight-color: rgba(0, 0, 0, 0)!important;}
	.errormsg
	{
	margin-left:50px}
	#dataamount .input__label input__label--hoshi label
	{
	left:-125px!important}
	#dataamount input
	{
	padding-left:10px!important;width:50%!important}
	#dataamount fieldset
	{
	margin-top:-20px}
	.form-part form
	{
	padding-left:10px;width:50%}
	.left20
	{
	margin-top:-20px!important}
	#dataope fieldset
	{
	float:left!important;margin-top:20px!important}
	.top10
	{
	margin-top:-10px!important}
	.top20
	{
	margin-top:-20px!important}

/*
Loader Images
*/

#mask
{
margin:0px;
padding:0px;
background:#000;
opacity:0.6;
height:100%;
width:100%;
left:0%;
top:0%;
position:fixed;
z-index:40;}
#loader-wrapper .logo {
  position: absolute;
  top: 46%;
  left: 45.5%;
}
#loader-wrapper .logo a {
	font-weight: 700;
	color: #3498DB;
	font-size: 12px;
}
.logo span {
  color: #f85654;
}
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;	
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f85654;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
@-webkit-keyframes spin {
    0%   { 
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   { 
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
#foot li a
{
border: 0;
    border-top: solid 1px rgba(144, 144, 144, 0.2);
    color: inherit;
    display: block;
    line-height: 2.5em;
    text-decoration: none;
	color:#999!important;
	font-weight:100
	}
	#foot
	{
	padding-left:0px;
	margin:0px 0px 0px -30px}
	#cssmenu, #cssmenu ul, #cssmenu li, #cssmenu a {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	font-weight: normal;
	text-decoration: none;
	line-height: 1;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	position: relative;
}
#cssmenu {
	width:100%;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#cssmenu a {
	line-height: 1.3;
}
#cssmenu > ul > li {
	background: #f4f4f4;
	text-align:justify;
	
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}
#cssmenu > ul > li > a {
	padding: 15px 10px;
	background: url(../images/pattern.png) top left repeat;
	border: none;
	
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	font-family: 'Ubuntu', sans-serif;
	
	font-size: 18px;
	font-weight: 300;
	
}
#cssmenu > ul > li > a > span {
	padding: 0;
}
#cssmenu > ul > li:hover {
	background: #219DC5;
	
}
#cssmenu > ul > li:hover > a
{
color:#fff}
#cssmenu > ul > li {
	background: #f4f4f4;
	text-align:justify;
	
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}

#cssmenu > ul > li > a {
	font-size: 22px;
	display: block;
	background: url(../images/pattern.png) top left repeat;
	color: #219DC5;
	
	
}
#cssmenu > ul > li > a > span {
	display: block;
	padding: 12px 10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#cssmenu > ul > li > a:hover {
	text-decoration: none;
}
#cssmenu > ul > li.active {
	border-bottom: none;
}
#cssmenu > ul > li.has-sub > a {
	background: url(../images/icon_plus.png) 96% center no-repeat;
}
#cssmenu > ul > li.has-sub.active > a {
	background: url(../images/icon_minus.png) 96% center no-repeat;
}
/* Sub menu */
#cssmenu ul ul {
	display: none;
	background: #fff;
	
}
#cssmenu ul ul li {
	padding: 0;
	border-bottom: 1px solid #d4d4d4;
	border-top: none;
	background: #fff;
	
}
#cssmenu ul ul li:last-child {
	border-bottom: none;
}
#cssmenu ul ul a {
	padding: 10px 10px 10px 25px;
	display: block;
	color: #000;
	font-size: 16px;
	font-weight: normal;
}
#cssmenu ul ul a:before {
	content: "»";
	position: absolute;
	left: 8px;
	color: #219DC5;
	margin-top: -9px;
}
#cssmenu ul ul a:hover {
	color: #e94f31;
}
/*chargers  input css*/

#chargersBox input, select, textarea{
    color: #000;
}

#chargersLogin  input[type="button"]:hover {
    background-color: #4dbea0;
}

#chargersSignup  input[type="button"]:hover {
    background-color: #4dbea0;
}

.formdiv
{
height: 70px;
margin-top: -29px;
}

#openmenu{
	margin-top: 6px !important;
}

 #errorMessagesignin{color: red;
    margin-bottom: -10px;
    margin-top: 5px;
    margin-right: 8%;
text-align: right;}

#errorMessagelogin{color: red;
    margin-bottom: -10px;
    margin-top: 5px;
    margin-right: 13%;
text-align: right;}
#errorMessagefeedback{color: red;
	font-size: 10px;
	margin-top: 5px;
    margin-right: -7%;
     margin-bottom: -10px;
     text-align: right;
}

#openmenu{margin-right: 20px;}
#headerLogo{margin-left: 2% !important;}

span.icomenu::before, i.icomenu::before, a.icomenu::before, em.icomenu::before, u.icomenu::before {
    content: "Ÿ";
}

.headerscroll{width: 100% !important;margin-left: 0 !important;margin-right: 0 !important;top:0em !important;}

#openmenu span::before,#openmenu i::before,#openmenu a::before,#openmenu em::before,#openmenu u::before{font-size: 20px;font-weight: bold;}

.dd-select{
	padding-left: 13px;
}
.footerCoupon{
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
}

.footerCouponDiv {
    background: #3fa7ba;
    height: 150px;
    padding: 10px;
    text-align: center;}

.QuikRechargeText{font-family: sans-serif;font-size: 15px;color: #838c8d;text-align: right;margin-top: 10px;}   
.quikRechargeCheckBox{box-shadow: none!important;}

.QuikRechargeText input[type=checkbox] { display:none !important; } 
.QuikRechargeText  input[type=checkbox] + label:before {
  font-family: FontAwesome;
}

 /* unchecked icon */
.QuikRechargeText  input[type=checkbox] + label:before { letter-spacing: 10px;margin-top: 4px;} /* space between checkbox and label */
/* checked icon */
.QuikRechargeText  input[type=checkbox]:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */
.onoffdivHeader{margin-left:44%;margin-top: 10px;}
.midtnc{padding-top:50px}

.corners { 
   background: #FFF;
    height: 231px;
    margin: 70px auto;
    max-width: 300px;
    line-height: 25px;
    position: fixed;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    padding-top: 40px;
    -moz-box-shadow: 0 1px 7px hsla(0,0%,0%,.2);
    z-index: 999;
    right: 47px;
     -webkit-box-shadow: 0 1px 7px hsla(0,0%,0%,.2);
       -moz-box-shadow: 0 1px 7px hsla(0,0%,0%,.2);
            box-shadow: 0 1px 7px hsla(0,0%,0%,.2);
}

/* Corner Effect */
.corners:after,
.corners:before {
    background: #e6e6e6;
    content: '';
    height: 50px;
    position: absolute;
    top: -25px;
    width: 100px;
    -webkit-box-shadow: 0 5px 10px -7px hsla(0,0%,0%,.5);
       -moz-box-shadow: 0 5px 10px -7px hsla(0,0%,0%,.5);
            box-shadow: 0 5px 10px -7px hsla(0,0%,0%,.5);
            z-index: 9999;
}
.corners:after {
    left: -50px;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.corners:before {
    right: -50px;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
}

.leagueBtn{background: #3B579B none repeat scroll 0% 0% !important;width: 100%;margin-left: -2px;}

/* Tooltip text */
.tooltip .tooltiptext {
     visibility: hidden;
    width: 255px;
    background-color: #fff;
    color: #000;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    display: inline-block;
    margin-top: -68px;
    margin-left: 242px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
