body
 {
 background:url(../images/leagueBack.jpg) no-repeat;
 background-size: 1900px 850px;
 background-attachment:fixed
 }
 .mainOuterDiv
 {
 margin-top:100px;
 height:600px;    width: 70%;     overflow-y: scroll;
    text-align: center;
    margin-left: 15%; background: #F9F9F9;margin-bottom: 20px;}
 .mid
 {
 padding-top:50px}

 .teamSelectionDiv{text-align: center;  margin-top: 10px;
    margin-bottom: 10px;}
.W30P{width: 30%;display: inline-block;
    height: 100%;    border: 1px solid #ccc;}
  .W30P span{color: #000;font-size: 14px;}  
.FloatR{float: right;}

    .spanTeam{margin-top: 7px;margin-bottom: 5px;
    display: block;}

.leagueoff{ 
    line-height:23px;
    font-size:11px;
    padding:2px 10px 0; 
        color: #a1a1a1;
    background: #E5E5E5;
    background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#F3F3F3), to(#E5E5E5));
    text-shadow:0 1px 0 #FFF;
    border-left:1px solid #D5D5D5;
    border-top:1px solid #D5D5D5;
    border-bottom:1px solid #D5D5D5;
    -webkit-box-shadow:0 1px 0 #FFF inset, 0 0 5px rgba(0, 0, 0, .1) inset, 0 1px 1px rgba(0, 0, 0, .3);}
   
    .leagueon{
    background: #EAE6E6 !important;
    border: 1px solid #525498;
    font-size: 20px !important;
    box-shadow: 0 1px 0 #FFF inset, 0 0 4px rgba(0, 0, 0, .1) inset, 1px 2px 3px rgba(0, 0, 0, .5);
}

    .quesnOuterDiv{  border-bottom: 1px solid#ccc;
    padding: 7px;margin-left: 10%;margin-right: 10%;text-align: left;}
    .quesnOuterDiv div{margin-left: 5%;color: #008978;}
.midtnc{padding-top: 30px !important;}
.W17P{width: 17%;display: inline-block;background: #F1F1F1;border: 1px solid #ccc;}
input[type="checkbox"]{
  width: 30px; /*Desired width*/
  height: 18px; /*Desired height*/
}

.ColorRed{color:#c61d23;}
.ColorBlue{color: blue;}
.colorBorderBlue{border: 1px solid #525498; box-shadow: 0 1px 0 #FFF inset, 0 0 4px rgba(0, 0, 0, .1) inset, 1px 2px 3px rgba(0, 0, 0, .5);}
.submitButton{background: #B1464A !important;
    color: #fff !important;}
.ListStyleNone{	list-style: none;}
.TeamHeadDiv{width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    min-height: 80px;
    background: #6DAD53;
    color: #fff;
    font-size: 23px;padding: 5px;}
  .whiteColor{color: #fff;}
  .vs{border: 1px solid #fff;
    border-radius: 25px;
    width: 47px;
    height: 40px;
    display: inline-block;
    color: #fff;
    font-weight: 700;}
    .otherInfo{font-size: 18px;
    text-align: right;
    padding: 0px;}
    .quesnDiv{text-align: center;font-size: 18px;}

    .outerMainDivLeaguePopUp{
    width: 100%;
    height: 100%;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    z-index: 999999
}

.MainLeaguepopup
{
width: 500px;
    background-color: #408080;
    border-top: 5px solid #fcc135;
    margin: auto;
    min-height: 150px;
    z-index: 999999;
    margin-top: 17%;
    display: inline-block;
    box-shadow: 0 0px 0 #FFF inset, 0 0 4px rgba(0, 0, 0, .1) inset, 1px 2px 3px rgba(0, 0, 0, .5);
    padding: 6px;
    color: rgb(199, 197, 197);
}

.LeaguePopUpClose{  background-image: url("http://localhost:8080/chargenmarch/resources/images/close.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right top;
    border: 0px none;
    color: #EF0808;
    cursor: pointer;
    height: 63px;
    position: fixed;
    vertical-align: middle;
    width: 6em;
    z-index: 9999;
    width: 57px;
    font-size: 15px;
    display: block;
    left: 66%;
    margin-top: -18px;}
   .MainLeaguepopup li{list-style: none;width: 50%;} 
   .FloatL{float: left;}
   .FloatR{float: right;}