@charset "utf-8";
/* CSS Document */
.secondpage section
{
width:40%;}
.secondpage .first
{
width:7%;
background:none;
border:none
}
.secondpage .first:hover
{
background:none;
border:none}
.hovercontent
{
font-size:14px;
color:#000}
.calculation
{
    width: 98%;
    margin: auto;
    height: 125px;
    color: #919bac;
    background: rgba(243, 243, 247,0.8);

}
.mobo
{
padding:10px 35px!important}
.coupon
{
height:50px;}
.errormsg
{
padding-left:81px;
color:#fff !important;
font-size:16px!important}
#secondpageslider {
	
	color: #ffffff;
	padding-top:140px;
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	background-image: -moz-linear-gradient(to top, rgba(48, 54, 57, 0.2), rgba(48, 54, 57, 0.2)), url("../images/secondbg.jpg");
	background-image: -webkit-linear-gradient(to top, rgba(48, 54, 57, 0.2), rgba(48, 54, 57, 0.2)), url("../images/secondbg.jpg");
	background-image: -ms-linear-gradient(to top, rgba(48, 54, 57, 0.2), rgba(48, 54, 57, 0.2)), url("../images/secondbg.jpg");
	background-image: linear-gradient(to top, rgba(48, 54, 57, 0.2), rgba(48, 54, 57, 0.2)), url("../images/secondbg.jpg");
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	height: 75vh;
	min-height: 30em;
	position: relative;
}
.coupon
{
/*width:96%;*/}
.modone
{
margin-left:-23px;}
.modthird
{
/*width:65%;*/}
.ih-item
{
width:100%;
height:100%}
.features section
{
padding:0px}

.redeemRewardsPoints{
	    color: #34495e;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    text-decoration: underline;
    cursor: pointer;
}

.ReviewOrderColor{color: rgb(144, 143, 141)}
.isUseWalletCss{color: black}
#redeemRewardsPointsId a {
	color: black;
	text-decoration: underline;
	cursor: pointer;
}

#couponform ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #ffffff !important;
}
#couponform :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #ffffff !important;
   opacity:  1;
}
#couponform ::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #ffffff !important;
   opacity:  1;
}
#couponform :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #ffffff !important;
}

.offerContentTitle{
	background: #2bbbad !important;
}
.offerContent{
	background-color: white !important;
}

#openmenu{
	margin-top: 6px !important;
}

.mobo h4{height: 30px;}
.mobo h6 {height: 23px}

.help-tip{
	position: absolute;
	top: 18px;
	right: 18px;
	text-align: center;
	background-color: #219DC5;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	font-size: 14px;
	line-height: 26px;
	cursor: default;
}

.help-tip:before{
	content:'?';
	font-weight: bold;
	color:#fff;
}

.help-tip:hover p{
	display:block;
	transform-origin: 100% 0%;

	-webkit-animation: fadeIn 0.3s ease-in-out;
	animation: fadeIn 0.3s ease-in-out;

}

.help-tip p{
	display: none;
	text-align: left;
	background-color: #1E2021;
	padding: 20px;
	width: 300px;
	position: absolute;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	right: -4px;
	color: #FFF;
	font-size: 13px;
	line-height: 1.4;
}

.help-tip p:before{
	position: absolute;
	content: '';
	width:0;
	height: 0;
	border:6px solid transparent;
	border-bottom-color:#1E2021;
	right:10px;
	top:-12px;
}

.help-tip p:after{
	width:100%;
	height:40px;
	content:'';
	position: absolute;
	top:-40px;
	left:0;
}

@-webkit-keyframes fadeIn {
	0% { 
		opacity:0; 
		transform: scale(0.6);
	}

	100% {
		opacity:100%;
		transform: scale(1);
	}
}

@keyframes fadeIn {
	0% { opacity:0; }
	100% { opacity:100%; }
}

.couponError{
	color: #ff0000 !important;
}