@charset "utf-8";
/* CSS Document */
#plandata
{
    width: 400px;
    height: 400px;
    overflow:scroll;
	background: #fff;
    
    left: -5%;
    position: absolute;
    top: -1%;
	padding:10px;
	z-index:1000}
	#plandata div
	{
	cursor:pointer}
	#plandata1
{
    width: 400px;
    height: 265px;
    overflow: scroll;
    background: #fff;
    left: -5%;
    position: absolute;
    top: -3.5%;
    padding: 10px;
    z-index: 1000;
	}
	.close1
	{
	right: 0%;
    width: 50px;
    height: 50px;
    /* float: right; */
    position: absolute;
    margin-top: -20px;
	}
	
	#plandata1 div
	{
	cursor:pointer}
	::-webkit-scrollbar {
    width: 10px;
    }
	
	::-webkit-scrollbar-thumb{
background-color:#dadada;
}
    
	#plandata span
	{
	color:#069;
	font-size:16px;
	}
#modal-content img
{
cursor: pointer;
transform: scale(.9);
    border-radius: 50%;
    border: 2px solid transparent;
	backface-visibility: hidden;
	transition: all .2s ease;
	}
	#reward
	{
	width:100%;
	height:500px;
	text-align:center;
	background:#315777}
	.reference
	{width:100%;
	height:500px;
	text-align:center;
	background:#f2f2f2}
	.reference h4
	{
	color:rgb(144, 143, 141);
	text-align:center}
	.reference span,p
	{
	color:rgb(144, 143, 141);
	margin:10px;
	padding:5px}
	.col-md-4
	{
	width:40%;
	float:left}
	.row
	{
	width:90%;text-align:center;margin:auto;margin-top:30px}
	.col-md-2
	{
	width:10%;
	float:left}
	.col-md-10
	{
	width:90%;
	text-align:center}
	.ope1 img
	{
	border-radius:50%;
	margin:10px;
	width:85px;
	height:85px}
	.reference h4
	{
	padding-top:40px}
	
	#reward h4,span
	{
	color:#fff;
	text-align:center}
	#reward h4
	{
	padding-top:40px}
	#reward h5
	{
	color:#fff;
	font-size:20px
	}
	#reward p
	{
	font-size:12px;
	width:90%}
	.col-md-5
	{
	width:50%;
	float:left}
	.col-md-3
	{
	width:30%;
	float:left}
	.col-md-9
	{
	float:left;
	width:70%}
	.tabs h1, .tabs h2 { color: #333; margin-bottom: 1em;}
			.tabs ul, .tabs ol, .tabs p { margin-top:0; padding-top: 1em;}
			.tabs ul li, .tabs ol li { margin-bottom: 0.5em;}
			.clearfix {
			  *zoom: 1;
			}

			.clearfix:before,
			.clearfix:after {
			  display: table;
			  content: "";
			}

			.clearfix:after {
			  clear: both;
			}


#accountdiv
{
background:#fff;box-shadow:0 0 5px #999;width:200px;height:225px;padding:10px 0px 10px 0px;margin-left:-160px;position:absolute;margin-top:62px
}
#accountdiv .holder span
{
color:#000;font-size:16px;
}
#accountdiv .holder
{
width:97%;height:auto;padding:5px 5px 15px 5px;margin:5px;border-bottom:1px solid #eaedef
}
#accountdiv ul li
{
background:url(../images/icon.png) no-repeat;background-position:10px 10px;padding:10px;color:#999999;border-bottom:1px solid #eaedef
}

#accountdiv ul li:hover
{
background:url(../images/icon.png) no-repeat #eaedef;background-position:10px 10px

}

.calculation
{
width:80%;
margin:auto;
height:100px;
color: #919bac;
background:#f1f1f1
}
.mobo
{
position: relative;
    float: left;
    height: 100px;
    padding: 10px 65px;
    border-right: 1px solid #dedede;
	width:20%
	}
.modthird
{
width:75%;float:left}
.modone
{
width:16%;float:left;}
.modone .btn
{
color:#fff!important}	
@media (min-width:1000px) AND (max-width:1250px){
.mobo
{
position: relative;
    float: left;
    height: 100px;
    padding: 10px 45px;
    border-right: 1px solid #dedede;
	}
}	
	.last
	{
	margin-top:20px;
	border:none}
	.mobo .btn
	{
	color:#fff!important}
	.mobo p
	{
	font-size: 14px;
	margin:0px;
	padding:0px}
	.mobo h4
	{
	color: #34495e;
	font-size: 18px;
	font-weight: 400;
    margin: 0;}
	.mobo h6
	{
	font-size: 14px;
	font-weight: 400;
    margin: 0;}
	.myheading,.coupon
	{
	text-align:center;
	width:80%;
	margin:auto}
	.coupondata
	{
	width:80%;
	margin:auto;
	text-align:center;
	height:auto}
	.product
	{
	width: 23%;
    height: 180px;
    cursor: pointer;
	background:url(../images/product.png);
	background-size:cover;
	float:left;
	box-shadow:0 0 3px #219DC5;
	margin:5px;
	text-align:center
	}
	.productdata h1
	{
	font-size:16px;
	height:50px;
	width:100%;
	}
	.productdata
	{
	background:#219DC5;
	opacity:0.4;
	margin-top:120px;
	color:#fff}
	.product:hover .productdata
	{
	background:#069;
	}
	.product:hover
	{
	box-shadow:0 0 3px #65c6bb}
	
	.breadcrumb
	{
	background:none!important;
	margin:-45px 0px 20px 0px!important;
	padding:8px 0px;!important}
	.breadcrumb li,span
	{
	color:rgba(255,255,255,.4)
	}
	.breadcrumb>li+li:before
	{
	content:no-open-quote!important}
	.panel
	{
	width: 100%;
    border: 0;
    border-radius: 0;
    outline: 0;
    font-size: 14px;
    text-indent: 0;
    margin-bottom: 0;
    color: #fff;
    border-bottom: 1px solid rgba(255,255,255,.4);!important;
    background:none!important;
	text-align:justify;
	color: black;
	}
	.btn-default
	{
	background:none!important;
    border:none!important;
	}
	.btn-default:hover
	{
	box-shadow:none!important;
	border:none!important;}
	
	.checkoverlay
	{
	position:absolute;
	width:17.4%;
	height:180px;
	text-align:center;
	margin-top: -170px;
    padding-top: 60px;}
	.checkoverlay img
	{
	border-radius:50%;
	
	}
.contentmid
{
margin:auto;
width:60%;
height:400px;
background:#fff;
padding:50px}
.contentmiddle
{
margin:auto;
width:60%;
height:600px;
background:#fff;
padding:50px
}
.profilearea
{
width:100%;
height:600px;}
.tabpanel
{
border-right:solid 1px #dadada;
height:100%}
.col-md-3
{
float:left;
width:20%}
.tabcontent
{
text-align:center}
.col-md-4
{
width:32%;
float:left}

.orderdiv
{
padding-top:30px;
float:left}
.order td,th
{
padding:10px;
border:solid 1px #dadada}	
.Margin0{margin: 0px;}	

   .profileDIV{ width: 80%;
    padding: 10px;    display: inline-block;}
    .profileSPAN{    color: rgba(0, 0, 0, 0.57);
    font-size: 14px;
    margin-left: 2px;
    display: inline-block;}
	