@charset "utf-8";
/* CSS Document */

.container
{
width:1024px;
margin:auto;}
.row
{
width:100%;
}
.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12
{
float:left;
}

.col-md-2
{
width:20%;}
.col-md-12
{
width:100%;}
/* Failure Page CSS */

.errormsg
{
margin:40px auto;
padding:5px;
text-align:center;
width:90%;
background:#4ea3d8;
color:#fff;
font-size:22px;
font-weight:400;
font-family:Andalus, "Angsana New", Algerian;
font-style:italic;
height:50px
}
.errormsg img
{
border-radius:50%}
.errormsg span
{
font-size:28px;
color:#fff!important}
.sorrymsg
{
text-align:center;
font-size:22px;
color:#999;
font-weight:500;
width:100%;
font-family:Andalus, "Angsana New", Algerian}
.sorrymsg span
{
color:#4ea3d8!important;
font-size:32px}
.orderhistory
{
width:60%;
margin-left:20px}
.orderhistory table th
{
border:solid 1px #dadada;
background:#999;
padding:5px;
color:#fff}
.orderhistory table td
{
border:solid 1px #dadada;
padding:5px;
color:#999;}
.button1
{
background:#999;
color:#fff;
text-align:center;
padding:5px;
box-shadow:0 0 5px #4ea3d8;
width:200px;
margin-top:15px;
margin-left:50px}
.col-md-1
{
width:5%;
}
.button1 a
{
color:#fff;
font-family:Andalus, "Angsana New", Algerian;
font-size:16px}
.button1:hover
{
background:#4ea3d8;}
.msg
{
text-align:center;
font-size:18px;
color:#999;
font-weight:500;
width:60%;
font-family:Andalus, "Angsana New", Algerian;
margin:auto}
.line
{
width:300px;
height:1px;
border-bottom:solid 1px #999;
margin:auto;
margin-top:30px;
margin-bottom:30px}
.help
{
text-align:center;
font-size:18px;
color:#999;
font-weight:400;
width:80%;
font-family:Andalus, "Angsana New", Algerian;
margin:auto;
padding:0px 0px 20px 0px}
 body
 {
 
 background:url(../images/finalbg.jpg) no-repeat;
 background-attachment:fixed
 }
 section
 {
 margin-top:140px;
 background:#f4f4f4;
 height:600px}
 .mid
 {
 padding-top:50px}



#foot li a
{
border: 0;
    border-top: solid 1px rgba(144, 144, 144, 0.2);
    color: inherit;
    display: block;
    line-height: 2.5em;
    text-decoration: none;
	color:#999!important;
	font-weight:100
	}
	#foot
	{
	padding-left:0px;
	margin:0px 0px 0px -30px}
	.tabpanel
	{
	background:#fff;
	padding-top:30px}
	.tabpanel ul li
	{
	
    position: relative;
    left: 2pc;
    top: 0;
    background-color: transparent;
    color: #666;
    font-size: 1pc;
    -webkit-transition: opacity .3s ease .3s;
    -moz-transition: opacity .3s ease .3s;
    -o-transition: opacity .3s ease .3s;
    -ms-transition: opacity .3s ease .3s;
    transition: opacity .3s ease .3s;
	line-height:60px}
	li a
	{
	color:#666;}
	li a:hover
	{
	color:#219DC5}
	.profile-tab
	{
	background:url("../images/menu-profile.png") no-repeat left;
	padding-left:30px;
	padding-top:3px}
	.trans-tab
	{background:url("../images/menu-transactions.png") no-repeat left;
	padding-left:30px;
	padding-top:3px}
	.cash-tab,.addfund-tab,.fundsummary-tab,.rechargemargin-tab
	{
	background:url("../images/menu-cash.png") no-repeat left;
	padding-left:30px;
	padding-top:3px}
	.payment-tab
	{background:url("../images/menu-cards.png") no-repeat left;
	padding-left:30px;
	padding-top:3px}
	.address-tab
	{
	background:url("../images/menu-banks.png") no-repeat left;
	padding-left:30px;
	padding-top:3px}
	
	
	.tabpanel h3
	{
	border-bottom:solid 1px #666;
	padding-bottom:30px;
	color:#219DC5;
    text-align:center;
}
.contentpart
{
padding:9px 40px}
.address-heading
{
text-align:justify;
padding-left:30px;
background:url("../images/menu-banks.png") no-repeat left;
padding-top:4px;
margin-top:16px}
.trans-heading
{
text-align:justify;
padding-left:30px;
background:url("../images/menu-transactions.png") no-repeat left;
padding-top:4px;
margin-top:10px}
.cash-heading
{
text-align:justify;
padding-left:30px;
background:url("../images/menu-cash.png") no-repeat left;
padding-top:4px;
margin-top:16px}
.profile-heading
{
text-align:justify;
padding-left:30px;
background:url("../images/menu-profile.png") no-repeat left;
padding-top:4px;
margin-top:16px}
.payment-heading
{
text-align:justify;
padding-left:30px;
background:url("../images/menu-cards.png") no-repeat left;
padding-top:4px;
margin-top:16px}
	.add
	{
	background:url("../images/add.png") right no-repeat;
	padding-right:30px;
	width:125px;
	margin:10px}
	.setting
	{
	background:url("../images/settings.png") right no-repeat;
	padding-right:30px;
	width:100px;
	margin:10px 10px 10px -10px;
	padding:10px}
	.chargenmarchlogin
	{
	margin:0px;
	width:550px}
	.input__label
	{
	padding:0 3em}
	.addaddressform
	{
	margin-left:150px;
	margin-top:-35px}
	.trans-tabcontent tr
	{
	border:none;
	background:#fff}
	.trans-tabcontent table td
	{
	background:#fff;
	border:none}
	.accountsetting
	{
	    width: 58%;
    display: inline-block;
    float: right;}

.sorrymsg
{
text-align:center;
font-size:22px;
color:#999;
font-weight:500;
width:100%;
font-family:Andalus, "Angsana New", Algerian}
.sorrymsg span
{
color:#4ea3d8!important;
font-size:32px}


#changePasswordform::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #666 !important;
}
#changePasswordform:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #666 !important;
   opacity:  1;
}
#changePasswordform::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #666 !important;
   opacity:  1;
}
#changePasswordform:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #666 !important;
}

#changePasswordform input{
	color:black !important;
}