<table border="1" align="center" width="100%">
	<thead>
		<td colspan="2" align="center">User Registration Details</td>
	</thead>
	<tr>
		<td align="center" width="50%">Total Registered Users</td>
		<td align="center" width="50%">%TOTALREGISTRATION%</td>
	</tr>
	<tr>
		<td align="center" width="50%">Users From Computer</td>
		<td align="center" width="50%">%TOTALREGISTRATIONCOMPUTER%</td>
	</tr>
	<tr>
		<td align="center" width="50%">Users From Mobile</td>
		<td align="center" width="50%">%TOTALREGISTRATIONMOBILE%</td>
	</tr>
	<tr>
		<td align="center" width="50%">Verified Users</td>
		<td align="center" width="50%">%TOTALVERIFIEDUSERS%</td>
	</tr>
	<tr>
		<td align="center" width="50%">Unverified Users</td>
		<td align="center" width="50%">%TOTALUNVERIFIEDUSERS%</td>
	</tr>
</table>
<br/> <br/>
<table border="1" align="center" width="100%">
	<thead>
		<td colspan="2" align="center">Recharge Details</td>
	</thead>
	<tr>
		<td align="center" width="50%">Total Recharge Count</td>
		<td align="center" width="50%">%TOTALRECHARGE%</td>
	</tr>
	<tr>
		<td align="center" width="50%">Successful Recharge Count</td>
		<td align="center" width="50%">%SUCCESSFULRECHARGE%</td>
	</tr>
	<tr>
		<td align="center" width="50%">Unsuccessful Recharge Count</td>
		<td align="center" width="50%">%UNSUCCESSFULRECHARGE%</td>
	</tr>
</table>
<br/> <br/>
<table border="1" align="center" width="100%">
	<thead>
		<td colspan="2" align="center">Mobile Recharge Details</td>
	</thead>
	<tr>
		<td align="center" width="50%">Total Recharge Count</td>
		<td align="center" width="50%">%TOTALMOBILERECHARGE%</td>
	</tr>
	<tr>
		<td align="center" width="50%">Successful Recharge Count</td>
		<td align="center" width="50%">%SUCCESSFULMOBILERECHARGE%</td>
	</tr>
	<tr>
		<td align="center" width="50%">Unsuccessful Recharge Count</td>
		<td align="center" width="50%">%UNSUCCESSFULMOBILERECHARGE%</td>
	</tr>
</table>
<br/> <br/>
<table border="1" align="center" width="100%">
	<thead>
		<td colspan="2" align="center">DTH Recharge Details</td>
	</thead>
	<tr>
		<td align="center" width="50%">Total Recharge Count</td>
		<td align="center" width="50%">%TOTALDTHRECHARGE%</td>
	</tr>
	<tr>
		<td align="center" width="50%">Successful Recharge Count</td>
		<td align="center" width="50%">%SUCCESSFULDTHRECHARGE%</td>
	</tr>
	<tr>
		<td align="center" width="50%">Unsuccessful Recharge Count</td>
		<td align="center" width="50%">%UNSUCCESSFULDTHRECHARGE%</td>
	</tr>
</table>
<br/> <br/>
<table border="1" align="center" width="100%">
	<thead>
		<td colspan="2" align="center">Data Card Recharge Details</td>
	</thead>
	<tr>
		<td align="center" width="50%">Total Recharge Count</td>
		<td align="center" width="50%">%TOTALDATACARDRECHARGE%</td>
	</tr>
	<tr>
		<td align="center" width="50%">Successful Recharge Count</td>
		<td align="center" width="50%">%SUCCESSFULDATACARDRECHARGE%</td>
	</tr>
	<tr>
		<td align="center" width="50%">Unsuccessful Recharge Count</td>
		<td align="center" width="50%">%UNSUCCESSFULDATACARDRECHARGE%</td>
	</tr>
</table>
<br/> <br/>
<table border="1" align="center" width="100%">
	<thead>
		<td colspan="2" align="center">Wallet Recharge Details</td>
	</thead>
	<tr>
		<td align="center" width="50%">Total Recharge Count</td>
		<td align="center" width="50%">%TOTALWALLETRECHARGE%</td>
	</tr>
	<tr>
		<td align="center" width="50%">Successful Recharge Count</td>
		<td align="center" width="50%">%SUCCESSFULWALLETRECHARGE%</td>
	</tr>
	<tr>
		<td align="center" width="50%">Unsuccessful Recharge Count</td>
		<td align="center" width="50%">%UNSUCCESSFULWALLETRECHARGE%</td>
	</tr>
</table>