<div style="background-color:#5C95A2;padding:7px">
					<div style="padding:17px 0px 20px 5px;font-family:Tahoma;font-size:17px;font-weight:bold;color:#ffffff">
						<span style="font-size:20px"><span style="font-family:'trebuchet ms',helvetica,sans-serif">FORGOT PASSWORD</span></span></div>
					<div style="background-color:#ffffff;padding:10px;font-family:Verdana">
						<div style="color:Black;font-size:13px;font-weight:bold">
							Dear %NAME%,</div>
						<div style="color:Black;font-size:11px;padding-top:5px">
							Welcome to&nbsp;Charge&amp;March !<br>
							&nbsp;<br>
							&nbsp;</div>
						<div style="color:Black;font-size:11px;padding-top:5px">
							<em>We received a request that you forgot your password.<br>
							Please reset the password by clicking the link below:-</em></div>
						<div style="color:Black;font-size:11px;padding-top:5px">
							&nbsp;</div>
						<a href="%BASEURL%/user/resetPassword/%CIPHER%"><div style="cursor:pointer;">Reset Password</div></a>
						<br>
						&nbsp;<br>
						<div style="color:Black;font-size:10px;padding-top:5px">
							<i>For any Support, Mail us at <a href="mailto:support@chargenmarch.com" style="color:#3e5ad3;text-decoration:none" target="_blank">support@chargenmarch.com</a></i><br>
							Do get back to us for any further information.</div>
						<div align="center" style="padding-top:20px;padding-bottom:10px">
							<hr noshade="" style="width:600px;min-height:1px;color:#ebeaea;background-color:#ebeaea;padding:0px;margin:0px;border:none">
						</div>
						<div style="color:#969494;font-size:13px;padding-top:5px;font-style:italic">
							Support Team,</div>
						<div style="color:Black;font-size:11px;padding-top:5px">
							<a href="https://chargenmarch.com">Charge&March</a></div>
						<div style="color:Black;font-size:11px;padding-top:5px">
							<a href="mailto:support@chargenmarch.com" style="color:#3e5ad3;text-decoration:underline" target="_blank">support@chargenmarch.com</a></div>
						<div style="background-color:#eeeded;font-size:9px;color:#888888;text-align:justify;padding:5px">
							Please do not reply to this message; it was sent from an unmotonotroized email address.<br>
							For General Enquiries ot Support Quries, Please Mail us at <a href="mailto:support@chargenmarch.com" style="color:#3e5ad3;text-decoration:none" target="_blank">support@chargenmarch.com</a>.</div>
					</div>
				</div>