<div style="background-color:#5C95A2;padding:7px">
					<div style="padding:17px 0px 20px 5px;font-family:Tahoma;font-size:17px;font-weight:bold;color:#ffffff">
						<span style="font-size:20px"><span style="font-family:'trebuchet ms',helvetica,sans-serif">CAM Cricket League</span></span></div>
					<div style="padding:10px;font-family:Verdana;background:url('https://chargenmarch.com/resources/images/leagueBack.jpg') no-repeat;" >
						
						<div style="color:#fff;font-size:11px;padding-top:5px">
							Welcome to&nbsp;Charge&amp;March !<br>
							&nbsp;</div>
						<div style="color:#fff;font-size:14px;padding-top:5px;text-align: justify;">
							ChargenMarch brings to you CAM League! A competition to test your cricket instincts. Let's see how far your gut feeling takes you. Answer a few simple questions about daily IPL matches and earn cashbacks everyday.<br><br>
                            
                            <a href="https://chargenmarch.com/league/cricket/cam_cricket_leagues.htm" tabindex="11" class="leagueBtn ng-binding" style="box-shadow: none;color:white;background: #3B579B none repeat scroll 0% 0% !important;width: 40%;margin-left: -2px; height:40px;margin-top:5px;font-size:25px;padding:10px;text-decoration: none;text-align: justify;">Click to Enter League</a>
						<div style="color:Black;font-size:11px;padding-top:5px">
							&nbsp;</div>
						<div style="width:450px;background-color:#eeeeee;text-align:left;font-family:Verdana;font-size:12px;font-style:italic;color:#676767;padding:10px;line-height:15px">
						&nbsp;<br>
						<div style="color:Black;font-size:10px;padding-top:5px">
							<i>For any Support, Mail us at <a href="mailto:support@chargenmarch.com" style="color:#3e5ad3;text-decoration:none" target="_blank">support@chargenmarch.com</a></i><br>
							Do get back to us for any further information.</div>
						<div align="center" style="padding-top:20px;padding-bottom:10px">
							<hr noshade="" style="width:600px;min-height:1px;color:#ebeaea;background-color:#ebeaea;padding:0px;margin:0px;border:none">
						</div>
						<div style="color:#969494;font-size:13px;padding-top:5px;font-style:italic">
							Support Team,</div>
						<div style="color:Black;font-size:11px;padding-top:5px">
							<a href="https://chargenmarch.com">Charge&March</a></div>
						<div style="color:Black;font-size:11px;padding-top:5px">
							<a href="mailto:support@chargenmarch.com" style="color:#3e5ad3;text-decoration:underline" target="_blank">support@chargenmarch.com</a></div>
						<div style="background-color:#eeeded;font-size:9px;color:#888888;text-align:justify;padding:5px">
							Please do not reply to this message; it was sent from an unmotonotroized email address.<br>
							For Enquiries ot Support Queries, Please Mail us at <a href="mailto:support@chargenmarch.com" style="color:#3e5ad3;text-decoration:none" target="_blank">support@chargenmarch.com</a>.</div>
					</div>
				</div>