<div style="Margin:0;padding:0;min-width:100%;background-color:#f2f2f2;font-family:Arial,Helvetica;font-size:16px">
  
  <div style="display:none;font-size:1px;color:#333333;line-height:1px;max-height:0px;max-width:0px;overflow:hidden">
   ChargenMarch.com - Simple way to recharge Mobile, DataCard, DTH & pay landline bills
  </div>
  <center style="width:100%;table-layout:fixed;background-color:#f2f2f2">
    <div style="padding:0px 0 0px 0" align="center">
      <div style="width:100%;background-color:#c51d23;padding:0px;border-bottom:1px solid #ddd">
        <div style="max-width:568px;padding:0px">
          <table width="100%" style="border-spacing:0">
            <tbody>
              <tr>
                <td style="padding:15px 0px 15px 20px" align="left">
                  <div>
                    <a href="https://chargenmarch.com" style="color:#ffffff;text-decoration:none;cursor: pointer;" target="_blank">ChargeNmarch </a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div style="padding:20px 5px 5px 5px">
        <div style="max-width:568px;padding:0px;background-color:#fff;border-radius:4px;border:1px solid #dddddd">
          <table width="100%" style="border-spacing:0">
            <tbody>
              <tr>
                <td style="padding:0" align="center">
                  <table width="100%" style="border-spacing:0">
                    <tbody><tr>
                      <td style="padding:0">
                        <table width="100%" style="border-spacing:0">
                          <tbody><tr>
                            <td style="padding:0px 0 0 0" align="center">
                              <div style="font-family:Arial Black,Arial,Helvetica;font-size:22px;color:#444;font-weight:700;line-height:1.4;height: 85px;background: rgba(0, 104, 128, 0.76);color: #fff;">
                                <span style="padding-top: 6px;display: block;">Congratulations!!!</span>
                                <span style="padding-top: 15px;display: block;font-family: sans-serif;font-weight: 600;font-size:18px;">5% Cashback on Mobile,DTH and Datacard Recharge</span>
                              </div>
                            </td>
                          </tr>
                        </tbody></table>
                      </td>
                    </tr>
                  </tbody></table>
                </td>
              </tr>
              <tr>
                <td style="padding:20px 20px 0px 20px" align="center">
                  <div style="font-family:Arial Black,Arial,Helvetica;font-size:22px;color:#444444;font-weight:700;line-height:1.4">Hi %NAME% </div>
                </td>
              </tr>
              <tr>
                <td style="padding:0px 5px 0px 5px" align="center">
                  <table width="100%" style="border-spacing:0">
                    <tbody>
                     

                        <td style="padding:0px" align="center">
                          <table width="100%" style="border-spacing:0">
                            <tbody>
                              <tr>
                                <td style="padding:5px;width:25%;vertical-align:top">
                                  <div style="font-family:Helvetica,Georgia,Arial;font-size:12px;color:#888888;font-weight:bold;line-height:1.4">
                                   Getting connected with us and staying updated with new offers and discounts is now just a click away! Turn on the push notifications at ChargenMarch and apply coupon  NOTIFICATION5 to get 5% cashback on next 2 recharges.
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td style="padding:10px 0 20px 0" align="center">
                    <a style="font-family:Arial Black,Helvetica;font-size:16px;color:#ffffff;font-weight:700;line-height:20px;padding:12px 30px;background-color:#2196f3;border-radius:4px;display:inline-block" href="https://chargenmarch.com" target="_BLANK">Click Here</a>
                  </a>
                </td>
              </tr>
              <tr>
                <td style="padding:0px 20px 20px 20px;border-top:1px solid #ddd">
                  <div style="width:100%;max-width:350px;display:inline-block;padding:20px 0 0 0">
                    <table width="100%" style="border-spacing:0">
                      <tbody>
                       <tr>
<td height="40">&nbsp;</td>
</tr>


<tr>
  <td>
  <div style="color:Black;font-size:16px;padding-top:5px">              <i>For any Support, Mail us at <a href="mailto:support@chargenmarch.com" style="color:#3e5ad3;text-decoration:none" target="_blank">support@<span class="il">chargenmarch</span>.com</a></i><br>              Do get back to us for any further information.</div>

  <div style="color:#969494;font-size:13px;padding-top:5px;font-style:italic">              Support Team,</div>
  <div style="color:Black;font-size:11px;padding-top:5px">              <a href="https://chargenmarch.com" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://chargenmarch.com&amp;source=gmail&amp;ust=1468782135541000&amp;usg=AFQjCNFf4zFCIEfJ7CrjweVINER1o091BA">Charge&amp;<span class="il">March</span></a></div>
  <div style="color:Black;font-size:11px;padding-top:5px">              <a href="mailto:support@chargenmarch.com" style="color:#3e5ad3;text-decoration:underline" target="_blank">support@<span class="il">chargenmarch</span>.com</a></div>
  <div style="background-color:#eeeded;font-size:9px;color:#888888;text-align:justify;padding:5px">             Please do not reply to this message; it was sent from an unmotonotroized email address.<br>             For Enquiries ot Support Queries, Please Mail us at <a href="mailto:support@chargenmarch.com" style="color:#3e5ad3;text-decoration:none" target="_blank">support@<span class="il">chargenmarch</span>.com</a>.</div>
</td>
</tr>
                      </tbody>
                    </table>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div style="max-width:580px;padding:0px;width:96%">
      </div>
    </div>
  </center>
</div></div>